<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
<meta charset="ISO-8859-1" />
<title>Budget/Target List</title>
<th:block layout:fragment="styles">
</th:block>
</head>
<body>

	<div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
				</li>
				<li class="active"> Budget/Target List </li>
			</ul>
			<!-- /.breadcrumb -->
		</div>

		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div th:if="${message}">
						<h2 class="alert alert-danger" th:text="${message}"/>
					</div>
					<div th:if="${successMessage}">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<strong th:text="${successMessage}">Success!</strong> <br />
						</div>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div>				
			</div>
		<div class="row">
		 <div class="col-xs-12">
		 		<div class="col-sm-8">
						<div class="tabbable">
							<ul
								class="nav nav-tabs padding-12 tab-color-blue background-blue"
								id="myTab4">
								<li class="active"><a data-toggle="tab" href="#home4"
									aria-expanded="true">Annual</a></li>
								<li class=""><a data-toggle="tab" href="#profile4"
									aria-expanded="false">Quarterly</a></li>
								<li class=""><a data-toggle="tab" href="#profile5"
									aria-expanded="false">Monthly</a></li>
							</ul>
							<div class="tab-content">
								<div id="home4" class="tab-pane active">
									<div th:if="${not #lists.isEmpty(budgetAnnual)}">
										<div class="clearfix">
											<div class="pull-right tableTools-container"></div>
										</div>
										<table width="100%" 
											class="table table-striped table-bordered table-hover dynamic-table">
											<thead>
												<tr>
													<th width="5" class="center"> S.N. </th>
													<th> Title </th>
													<th> Fiscal Year </th>
													<th class="center" sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR', 'SUPERVISOR')"> Action </th>
												</tr>								
											</thead>
											<tbody style="cursor:pointer">
				                        	<tr th:each="budgetLists,row :${budgetAnnual}">
					                            <td width="10" th:text="${row.index+1}" class="center"></td>
												<td><a th:href="@{'/getbudget/'+${budgetLists?.id}}"
													th:text="${budgetLists?.budgetTitle}"></a></td>
												<td><a th:href="@{'/getbudget/'+${budgetLists?.id}}"
													th:text="${budgetLists?.fiscalYear}"></a></td>
												<td class="center" sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR', 'SUPERVISOR')">
													
													<div class="hidden-sm hidden-xs action-buttons">
														<a class="green" title="Edit"
															th:href="@{'/updatebudget/'+${budgetLists?.id}}"> <i
															class="ace-icon fa fa-pencil bigger-130"></i>
														</a> 
														<a class="red" sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR')"
														th:data-thing="${budgetLists?.id}"
															th:onclick="deleteBudget(this.getAttribute('data-thing'));">
															<i class="ace-icon fa fa-trash-o bigger-130"></i>
														</a>
													</div>
													
													<div class="hidden-md hidden-lg action-buttons">
														<div class="inline pos-rel">
															<button class="btn btn-minier btn-yellow dropdown-toggle"
																data-position="auto" data-toggle="dropdown">
																<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
															</button>
															<div
																class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
																<a class="green" title="Edit"
																	th:href="@{'/updatebudget/'+${budgetLists?.id}}"> <i
																	class="ace-icon fa fa-pencil bigger-130"></i>
																</a> 
																<a class="red" sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR')"
																th:data-thing="${budgetLists?.id}"
																	th:onclick="deleteBudget(this.getAttribute('data-thing'));">
																	<i class="ace-icon fa fa-trash-o bigger-130"></i>
																</a>
															</div>
														</div>
													</div>
													
												</td>
											</tr>
				                            </tbody>
										</table>
									</div>
								</div>

								<div id="profile4" class="tab-pane">
									<div th:if="${not #lists.isEmpty(budgetQuaterly)}">
										<table width="100%" 
											class="table table-striped table-bordered table-hover dynamic-table">
											<thead>
												<tr>
													<th width="5" class="center"> S.N. </th>
													<th> Title </th>
													<th> Fiscal Year </th>
													<th class="center" sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR', 'SUPERVISOR')"> Action </th>
												</tr>								
											</thead>
											<tbody style="cursor:pointer">
				                        	<tr th:each="budgetLists,row :${budgetQuaterly}">
					                            <td width="10" th:text="${row.index+1}" class="center"></td>
												<td><a th:href="@{'/getbudget/'+${budgetLists?.id}}"
													th:text="${budgetLists?.budgetTitle}"></a></td>
													<td><a th:href="@{'/getbudget/'+${budgetLists?.id}}"
													th:text="${budgetLists?.fiscalYear}"></a></td>
												<td class="center" sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR', 'SUPERVISOR')">
													
													<div class="hidden-sm hidden-xs action-buttons">
														<a class="green" title="Edit"
															th:href="@{'/updatebudget/'+${budgetLists?.id}}"> <i
															class="ace-icon fa fa-pencil bigger-130"></i>
														</a> 
														<a class="red" sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR')"
														th:data-thing="${budgetLists?.id}"
															th:onclick="deleteBudget(this.getAttribute('data-thing'));">
															<i class="ace-icon fa fa-trash-o bigger-130"></i>
														</a>
													</div>
													
													<div class="hidden-md hidden-lg action-buttons">
														<div class="inline pos-rel">
															<button class="btn btn-minier btn-yellow dropdown-toggle"
																data-position="auto" data-toggle="dropdown">
																<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
															</button>
															<div
																class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
																<a class="green" title="Edit"
																	th:href="@{'/updatebudget/'+${budgetLists?.id}}"> <i
																	class="ace-icon fa fa-pencil bigger-130"></i>
																</a> 
																<a class="red" sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR')"
																th:data-thing="${budgetLists?.id}"
																	th:onclick="deleteBudget(this.getAttribute('data-thing'));">
																	<i class="ace-icon fa fa-trash-o bigger-130"></i>
																</a>
															</div>
														</div>
													</div>
													
												</td>
											</tr>
				                            </tbody>
										</table>
									</div>
								</div>
								<div id="profile5" class="tab-pane">
									<div th:if="${not #lists.isEmpty(budgetMonthly)}">
										<table width="100%"
											class="table table-striped table-bordered table-hover dynamic-table">
											<thead>
												<tr>
													<th width="5" class="center"> S.N. </th>
													<th> Title </th>
													<th> Fiscal Year </th>
													<th class="center" sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR', 'SUPERVISOR')"> Action </th>
												</tr>								
											</thead>
											<tbody style="cursor:pointer">
				                        	<tr th:each="budgetLists,row :${budgetMonthly}">
					                            <td width="10" th:text="${row.index+1}" class="center"></td>
												<td><a th:href="@{'/getbudget/'+${budgetLists?.id}}"
													th:text="${budgetLists?.budgetTitle}"></a></td>
												<td><a th:href="@{'/getbudget/'+${budgetLists?.id}}"
													th:text="${budgetLists?.fiscalYear}"></a></td>	
													
												<td class="center" sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR', 'SUPERVISOR')">
													
													<div class="hidden-sm hidden-xs action-buttons">
														<a class="green" title="Edit"
															th:href="@{'/updatebudget/'+${budgetLists?.id}}"> <i
															class="ace-icon fa fa-pencil bigger-130"></i>
														</a> 
														<a class="red" sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR')"
														th:data-thing="${budgetLists?.id}"
															th:onclick="deleteBudget(this.getAttribute('data-thing'));">
															<i class="ace-icon fa fa-trash-o bigger-130"></i>
														</a>
													</div>
													
													<div class="hidden-md hidden-lg action-buttons">
														<div class="inline pos-rel">
															<button class="btn btn-minier btn-yellow dropdown-toggle"
																data-position="auto" data-toggle="dropdown">
																<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
															</button>
															<div
																class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
																<a class="green" title="Edit"
																	th:href="@{'/updatebudget/'+${budgetLists?.id}}"> <i
																	class="ace-icon fa fa-pencil bigger-130"></i>
																</a> 
																<a class="red" sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR')"
																th:data-thing="${budgetLists?.id}"
																	th:onclick="deleteBudget(this.getAttribute('data-thing'));">
																	<i class="ace-icon fa fa-trash-o bigger-130"></i>
																</a>
															</div>
														</div>
													</div>
													
												</td>
											</tr>
				                            </tbody>
										</table>
									</div>
								</div>								
							</div>
						</div>						
						</div>
			</div></div>		
		</div>
	</div>
	<th:block layout:fragment="scripts">		
		<script type="text/javascript">
				jQuery(function($) {
					var myTable = 
					$('.dynamic-table')
					.DataTable( {
						"order": [ 2, "desc" ],
						bAutoWidth: false,
						"aoColumns": [					 
						  null,null,null,
						 
						  { "bSortable": false }
						],
						"aaSorting": [],				
				});
					$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';
					new $.fn.dataTable.Buttons( myTable, {
						buttons: [
						  {
							"extend": "copy",
							"text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
							"className": "btn btn-white btn-primary btn-bold"
						  },
						  {
							"extend": "csv",
							"text": "<i class='fa fa-file-excel-o bigger-110 blue'></i> <span class='hidden'>Export to CSV</span>",
							"className": "btn btn-white btn-primary btn-bold"
						  },
						  {
							"extend": "excel",
							"text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
							"className": "btn btn-white btn-primary btn-bold"
						  },
						  {
							"extend": "pdf",
							"text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
							"className": "btn btn-white btn-primary btn-bold"
						  },
						  {
							"extend": "print",
							"text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
							"className": "btn btn-white btn-primary btn-bold",							
							autoPrint: true,
							message: 'DataTables from Utility Management Database'
						  }		  
						]
					} );
					myTable.buttons().container().appendTo( $('.tableTools-container') );
					//style the message box
					var defaultCopyAction = myTable.button(1).action();
					myTable.button(1).action(function (e, dt, button, config) {
						defaultCopyAction(e, dt, button, config);
						$('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
					});
					setTimeout(function() {
						$($('.tableTools-container')).find('a.dt-button').each(function() {
							var div = $(this).find(' > div').first();
							if(div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
							else $(this).tooltip({container: 'body', title: $(this).text()});
						});
					}, 500);
				})
			</script>
		<script>
		function deleteBudget(control) {
        var dialog = bootbox.dialog({
        	title: 'Delete Budget Data!!!',
        	message: '<p>Are you sure you want to delete recorded budget data?</p>',
            size: 'md',
            onEscape: true,
            backdrop: true,
            buttons: {
                cancel: {
                	label: '<i class="fa fa-times"></i> Cancel',
                    className: 'btn-danger pull-right margin-left-10px',
                },
                ok: {
                	label: '<i class="fa fa-check"></i> Confirm',
                    className: 'btn-info',
                    callback: function(result){
                    	if(result){
                    		$.ajax({
                    	        type: 'DELETE',
                    	        url:  '/updatebudget/delete/' + control,
                    	        success: function(result) {
                    	        	$('#showMessage').append("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'><i class='ace-icon fa fa-times'></i></button><br>"
                    	        			+ result.message+  ': '+ result.data+"</div>");
                    	        	alert(result.message
                    	                + ': '+ result.data);
                    	        	window.location.href = "/getbudget";
                    	        },
                    	        error: function(jqXHR, textStatus, errorThrown) {
                    	            alert(jqXHR.status + ' ' + jqXHR.responseText);
                    	        }
                    	    });
                    	}
                    }
                }
            },
        });
	}
</script>		
	</th:block>
</body>
</html>