<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<meta charset="ISO-8859-1" />
<title>MC Record List</title>
<th:block layout:fragment="styles">

	<link rel="stylesheet" href="../static/css/daterangepicker.min.css"
		th:href="@{/css/daterangepicker.min.css}" />
	<style>
a:hover {
	color: maroon;
	text-decoration: none;
	cursor: pointer;
}
</style>
	<style type="text/css">
td.details-control {
	text-align: center;
	color: forestgreen;
	cursor: pointer;
}

tr.shown td.details-control {
	text-align: center;
	color: red;
}
</style>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
				</li>
				<li class="active">Manager's Cheque Record List</li>
			</ul>
			<!-- /.breadcrumb -->
		</div>

		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div th:if="${message}">
						<h2 class="alert alert-danger" th:text="${message}" />
					</div>
					<div th:if="${successMessage}">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<strong th:text="${successMessage}">Success!</strong> <br />
						</div>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="space-4"></div>
					<div class="search-area well well-sm">
						<div class="search-filter-header bg-primary">
							<h5 class="smaller no-margin-bottom">
								<i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp;
								Refine your Search
							</h5>
						</div>
						<div class="space-10"></div>
						<fieldset class="form-inline">
							<div class="col-sm-12">
							<div class="col-sm-3">
								<select class="input-group" id="branchName-dropdown"
									name="branchName" data-placeholder="Choose Branch...">
								</select> 
							</div>
							<div class="col-sm-3">
								<select class="chosen-select input-group"
									id="idMCStauts" name="mcStatus"
									data-placeholder="Choose a MC Status...">
									<option value=""></option>
									<option value="Active">Active</option>
									<option value="Paid">Paid</option>
									<option value="Cancel">Cancel</option>
								</select>
							</div>

								<div class="inline pull-right">
									<label for="idDateRange"> Issued Date Range Picker: </label>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-calendar bigger-110"></i></span> <input
											class="form-control" type="text" name="date-range-picker"
											data-date-format="yyyy-mm-dd" id="idIssuedDateRange" />
									</div>
								</div>
							</div>
						</fieldset>
					</div>

					<div class="row">
						<div class="table-responsive">
							<div class="table-header">Report for Manager's Cheque
								Record</div>
							<table width="100%" id="mc-table"
								class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th class="detail-col"></th>
										<th>Issue Date</th>
										<th class="hidden-480">Issued Branch</th>
										<th class="hidden-480">Cheque Date</th>
										<th>Party's Name</th>
										<th>Amount</th>
										<th data-class='hidden'>Purpose of Payment</th>
										<th data-class='hidden'>System Input By</th>
										<th>System Approved By</th>
										<th class="hidden-480">MC Status</th>
										<th>Paid/Cancel Date</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="scripts">
		<script src="../static/js/filterMCRecord.js"
			th:src="@{/js/filterMCRecord.js/}"></script>

		<script>
			$(function() {
				var start = moment().subtract(29, 'days');
				var end = moment();

				$('#idIssuedDateRange')
						.daterangepicker(
								{
									startDate : start,
									endDate : end,
									opens : 'left',
									autoclose : true,
									todayHighlight : true,
									ranges : {
										'Today' : [ moment(), moment() ],
										'Yesterday' : [
												moment().subtract(1, 'days'),
												moment().subtract(1, 'days') ],
										'Last 7 Days' : [
												moment().subtract(6, 'days'),
												moment() ],
										'Last 30 Days' : [
												moment().subtract(29, 'days'),
												moment() ],
										'This Month' : [
												moment().startOf('month'),
												moment().endOf('month') ],
										'Last Month' : [
												moment().subtract(1, 'month')
														.startOf('month'),
												moment().subtract(1, 'month')
														.endOf('month') ]
									},
									locale : {
										format : 'YYYY-MM-DD'
									}
								}, function(start, end, label) {
									ajaxGetMcRecordIssuedDateBetween(start, end);
								});

			});
		</script>

 		<script type="text/javascript">
			$('.chosen-select').chosen({
				width : "100%"
			});
		</script>

	</th:block>
</body>
</html>