<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layouts/default}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title> Edit Renew Card</title>
    <th:block layout:fragment="styles">
        
    </th:block>
</head>
<body>
    <div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="/renewcardrequest">Renew Card Request</a>
				</li>
				<li class="active">Edit Renew Card Request Form</li>
			</ul><!-- /.breadcrumb -->						
		</div> 
		
		<div class="page-content" sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR', 'SUPERVISOR','CARDMAKER','CARDSUPERVISOR')">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div th:if="${message}">
						<h2 class="alert alert-danger" th:text="${message}" />
					</div>
					<div th:if="${successMessage}">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<strong th:text="${successMessage}">Success!</strong> <br />
						</div>
					</div>
				</div>
			</div>
			<div class="page-header">
				<h1>
					<i class="ace-icon fa fa-credit-card"></i> Update Renew Card Record Form
				</h1>
			</div>
			<!-- /.page-header -->
			<div class="row">
				<div class="col-xs-12">
					<form method="POST" th:object="${cardRenew}"
						modelAttribute="cardRenew" autocomplete="off"
						th:action="@{/updaterenewcard}" class="form-horizontal"
						data-toggle="validator" role="form">
						<div class="hide">
							<input type="text" name="id" th:value="${renewCardValById?.id}" readonly/>
							<input type="text" name="lodgedBy" th:value="${renewCardValById?.lodgedBy}" readonly/>
							<input type="text" name="modifiedBy" th:value="${renewCardValById?.modifiedBy}" readonly/>
							<input type="text" name="modifiedFinalBy" th:value="${renewCardValById?.modifiedFinalBy}" readonly/>
							<input type="text" name="accountOperation" th:value="${renewCardValById?.accountOperation}" readonly/>
							<input type="text" name="accountType" th:value="${renewCardValById?.accountType}" readonly/>
							<input type="text" name="clientCode" th:value="${renewCardValById?.clientCode}" readonly/>
							<input type="text" name="branchCode" th:value="${renewCardValById?.branchCode}" readonly/>
							<input type="text" name="currency" th:value="${renewCardValById?.currency}" readonly/>
							<input type="text" name="fName" th:value="${renewCardValById?.fName}" readonly/>
							<input type="text" name="lName" th:value="${renewCardValById?.lName}" readonly/>
							<input type="text" name="gender" th:value="${renewCardValById?.gender}" readonly/>
							<input type="text" name="maritalStatus" th:value="${renewCardValById?.maritalStatus}" readonly/>
							<input type="text" name="contactAddress" th:value="${renewCardValById?.contactAddress}" readonly/>
							<input type="text" name="mobileNumber" th:value="${renewCardValById?.mobileNumber}" readonly/>
							<input type="text" name="phoneNumber" th:value="${renewCardValById?.phoneNumber}" readonly/>
							<input type="text" name="emailAddress" th:value="${renewCardValById?.emailAddress}" readonly/>
							<input type="text" name="enabledStatus" th:value="${renewCardValById?.enabledStatus}" readonly/>
							<input type="text" name="dataEditedBy" th:value="${currentUser?.email}" readonly/>
						</div>
						
						<div class="col-sm-6 form-actions">
							<div class="form-group">
									<label class="col-sm-4 control-label no-padding-right"
										for="idAccountNumber"> Account Number <span
										class="red">*</span>:
									</label>
									<div class="col-sm-8">
									<input id="idAccountNumber" type="text" name="accountNumber"
											class="col-xs-12 col-sm-12" placeholder="Enter Account Number"
											th:value="${renewCardValById?.accountNumber}" readonly required/>
										<div class="help-block with-errors"></div>
									</div>
							</div>
							<div class="form-group">
									<label class="col-sm-4 control-label no-padding-right"
										for="idOldCardNumber"> Old Card Number <span
										class="red">*</span>:
									</label>
									<div class="col-sm-8">
									<input id="idOldCardNumber" type="text" name="oldCardNumber"
											class="col-xs-12 col-sm-12" placeholder="Enter Old Card Number"
											th:value="${renewCardValById?.oldCardNumber}" readonly required/>
										<div class="help-block with-errors"></div>
									</div>
							</div>
							<div class="form-group">
									<label class="col-sm-4 control-label no-padding-right"
										for="idCustomerAppDate"> Customer's App Date <span
										class="red">*</span>:
									</label>
									<div class="col-sm-8">
										<input id="idCustomerAppDate" type="text"
											name="customerAppDate" th:value="${{renewCardValById?.customerAppDate}}" 
											class="col-xs-12 col-sm-12 date-picker1"
											data-date-format="yyyy-mm-dd"
											placeholder="Select Date" required />
										<div class="help-block with-errors"></div>
									</div>
								</div>
							<div class="form-group">
									<label class="col-sm-4 control-label no-padding-right"
										for="idRenewRequestDate"> Renew Request Date <span
										class="red">*</span>:
									</label>
									<div class="col-sm-8">
										<input id="idRenewRequestDate" type="text"
											name="renewRequestDate" th:value="${{renewCardValById?.renewRequestDate}}" 
											class="col-xs-12 col-sm-12 date-picker1"
											data-date-format="yyyy-mm-dd"
											placeholder="Select Date" required />
										<div class="help-block with-errors"></div>
									</div>
								</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"
									for="idBranchnameVal"> Card Req. Originating Branch <span
									class="red">*</span>:
								</label>
								<div class="col-sm-8">
									<select class="form-control select2" id="idBranchnameVal" name="cardReqOriginatingBranch" data-placeholder="Choose Branch..." data-error="Select Bank branch" required>
										<option th:each="branchList : ${branchLists}"
	                     										 th:value="${branchList.branchName}"
	                    										 th:text="${branchList.branchName}">Branch</option>
										</select>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"
									for="idRequestRemark"> Request Remarks <small
									class="red"> *</small> :
								</label>
								<div class="col-sm-8">
										<select class="select2 form-control" name="requestRemark"
									id="idRequestRemark"
									data-placeholder="Choose renew card remarks..."
									data-error="Please select renew card remarks field.">
									<option value="New (Lost)">New (Lost)</option>
									<option value="New (Damage)">New (Damage)</option>
									<option value="Expire">Expire</option>
									<option value="Expire/Expire-PIN">Expire/Expire-PIN</option>
								</select>
								<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"
									for="idCardStatus"> Card Status <span
									class="red">*</span>:
								</label>
								<div class="col-sm-8">
								<input id="idCardStatus" type="text" name="cardStatus"
										class="col-xs-12 col-sm-12" 
										th:value="${renewCardValById?.cardStatus}" readonly required/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"
									for="idStatusUpdatedDate"> Status Updated Date <span
									class="red">*</span>:
								</label>
								<div class="col-sm-8">
									<input id="idStatusUpdatedDate" type="text"
										name="statusUpdatedDate" th:value="${{renewCardValById?.statusUpdatedDate}}" 
										class="col-xs-12 col-sm-12 date-picker1"
										data-date-format="yyyy-mm-dd"
										placeholder="Select Date" required />
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"
									for="idRenewRemarks"> Renew Remarks <small
									class="red"> *</small> :
								</label>
								<div class="col-sm-8">
										<textarea name="renewRemarks"
									placeholder="Write the descriptions here..." th:value="${{renewCardValById?.renewRemarks}}" th:text="${{renewCardValById?.renewRemarks}}" 
									class="form-control limited" maxlength="1200"
									id="idRenewRemarks" rows="3" required
									data-error="Please fill the remarks"></textarea>
								<div class="help-block with-errors"></div>
							</div>
						</div>

						</div>
						
						<div class="col-sm-6 form-actions well">
							<div class="form-group" th:if="${renewCardValById?.receivedDate}">
									<label class="col-sm-4 control-label no-padding-right"
										for="idReceivedDate"> Received Date <span
										class="red">*</span>:
									</label>
									<div class="col-sm-8">
										<input id="idReceivedDate" type="text"
											name="receivedDate" th:value="${{renewCardValById?.receivedDate}}" 
											class="col-xs-12 col-sm-12 date-picker1"
											data-date-format="yyyy-mm-dd"
											placeholder="Select Date" />
										<div class="help-block with-errors"></div>
									</div>
								</div>
							<div class="form-group" th:if="${renewCardValById?.cardNumber}">
									<label class="col-sm-4 control-label no-padding-right"
										for="idCardNumber"> Card Number <span
										class="red">*</span>:
									</label>
									<div class="col-sm-8">
									<input id="idCardNumber" type="text" name="cardNumber"
									pattern="^[0-9]{5}$"
											onblur="this.parentNode.parentNode.style.backgroundColor=/^[0-9]{5}$/.test(this.value)?'inherit':'transparent'"
											placeholder="Enter last 5 digits of card number"
											data-error="Fill last 5 digits of card number."
											class="col-xs-12 col-sm-12" 
											th:value="${renewCardValById?.cardNumber}"/>
										<div class="help-block with-errors"></div>
									</div>
							</div>
							<div class="form-group" th:if="${renewCardValById?.cardExpiryDate}">
									<label class="col-sm-4 control-label no-padding-right"
										for="idCardExpiryDate"> Card Expiry Date <span
										class="red">*</span>:
									</label>
									<div class="col-sm-8">
										<input id="idCardExpiryDate" type="text"
											name="cardExpiryDate" th:value="${{renewCardValById?.cardExpiryDate}}" 
											class="col-xs-12 col-sm-12 date-picker1"
											data-date-format="yyyy-mm-dd"
											placeholder="Select Date" />
										<div class="help-block with-errors"></div>
									</div>
								</div>						
							<div class="form-group" th:if="${renewCardValById?.cardActivatedDate}">
									<label class="col-sm-4 control-label no-padding-right"
										for="idCardActivatedDate"> Card Activated Date <span
										class="red">*</span>:
									</label>
									<div class="col-sm-8">
										<input id="idCardActivatedDate" type="text"
											name="cardActivatedDate" th:value="${{renewCardValById?.cardActivatedDate}}" 
											class="col-xs-12 col-sm-12 date-picker1"
											data-date-format="yyyy-mm-dd"
											placeholder="Select Date" />
										<div class="help-block with-errors"></div>
									</div>
								</div>	
							<div class="form-group" th:if="${renewCardValById?.activationRemarks}">
								<label class="col-sm-4 control-label no-padding-right"
									for="idActivationRemarks"> Activation Remarks<small
									class="red"> *</small> :
								</label>
								<div class="col-sm-8">
										<textarea name="activationRemarks"
									placeholder="Write the descriptions here..." th:value="${{renewCardValById?.activationRemarks}}" th:text="${{renewCardValById?.activationRemarks}}" 
									class="form-control limited" maxlength="1200"
									id="idActivationRemarks" rows="3"
									data-error="Please fill the remarks"></textarea>
								<div class="help-block with-errors"></div>
							</div>
						</div>	
						<div class="clearfix">
							<button class="btn btn-sm" >
									<i class="ace-icon fa fa-times"></i> Cancel
								</button>
							<button type="submit" id="btnUploadFile" class="width-65 pull-right btn btn-sm btn-success">
								<span class="bigger-110"> Submit </span> <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
							</button>
						</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>                     
<!-- basic scripts -->
	<th:block layout:fragment="scripts">
	 <script>
			$(document).ready(function() {
				$('.select2').css('width', '100%').select2({});

				$(".date-picker").datepicker({
					format : "yyyy-mm-dd",
					autoclose : true,
					todayBtn : "linked",
					todayHighlight : true
				}).datepicker('update', new Date());
				
				$(".date-picker1").datepicker({
					format : "yyyy-mm-dd",
					autoclose : true,
					todayBtn : "linked",
					todayHighlight : true
				});
				
				$('#idRenewRemarks').inputlimiter({
					remText : '%n character%s remaining...',
					limitText : 'max allowed : %n.'
				});
				$('#idActivationRemarks').inputlimiter({
					remText : '%n character%s remaining...',
					limitText : 'max allowed : %n.'
				});

				$('#idCardNumber').mask('99999', {
					autoclear : false
				});

			});
		</script>		
	 <script th:inline="javascript">
		/*<![CDATA[*/
		var branchNameType = /*[[${renewCardValById.cardReqOriginatingBranch}]]*/ 'CardReqOriginatingBranch';
		var requestRemarkType = /*[[${renewCardValById.requestRemark}]]*/ 'RequestRemark';
		var cardStatusType = /*[[${renewCardValById.cardStatus}]]*/ 'CardStatus';
		/*]]>*/
		function setSelectedIndex(s, v) {
		    for ( var i = 0; i < s.options.length; i++ ) {
		        if ( s.options[i].value == v ) {
		            s.options[i].selected = true;
		            break;
		        }
		    }
		    return;
		}
		
		setSelectedIndex(document.getElementById('idBranchnameVal'), branchNameType);
		setSelectedIndex(document.getElementById('idRequestRemark'), requestRemarkType);
		
		
		 if(cardStatusType === 'In-process(step 2)'){
			$("[name='receivedDate']").attr("required", true);
			$("[name='cardNumber']").attr("required", true);
			$("[name='cardExpiryDate']").attr("required", true);
		}
		else if(cardStatusType === 'Active'){
			$("[name='cardActivatedDate']").attr("required", true);
			$("[name='activationRemarks']").attr("required", true);
		}
		
		
	</script>
	

	<script>
			autosize(document.querySelectorAll('textarea'));
	</script>


	</th:block>
</body>
</html>
