<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<meta charset="ISO-8859-1" />
<title>Minutes Reports</title>
<th:block layout:fragment="styles">
	<link rel="stylesheet" href="../static/css/daterangepicker.min.css"
		th:href="@{/css/daterangepicker.min.css}" />
	<style>
a:hover {
	color: maroon;
	text-decoration: none;
	cursor: pointer;
}
</style>

</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
				</li>
				<li>Minutes</li>
				<li class="active">Minute's Reports</li>
			</ul>
			<!-- /.breadcrumb -->
		</div>

		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div th:if="${message}">
						<h2 class="alert alert-danger" th:text="${message}" />
					</div>
					<div th:if="${successMessage}">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<strong th:text="${successMessage}">Success!</strong> <br />
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="space-4"></div>
					<div class="search-area well well-sm">
						<div class="search-filter-header bg-primary">
							<h5 class="smaller no-margin-bottom">
								<i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp;
								Refine your Search
							</h5>
						</div>
						<div class="space-10"></div>
						<fieldset class="form-inline">
							<div class="col-sm-12">
								<select class="chosen-select input-group col-xs-8 col-sm-2"
									id="idCategory" name="category"
									data-placeholder="Choose a Category..." required>
									<option value=""></option>
									<option value="Management_HOD">Management/HOD</option>
									<option value="Business_Operation">Business/Operation
									</option>
									<option value="Branch">Branch</option>
									<option value="Others">Others</option>
								</select>
								<div class="input-group col-xs-10 col-sm-3"> 
								<select class="form-control" id="branchName-dropdown" name="branchName" required></select>                                               
                                 </div>

								<div class="inline pull-right">
									<label for="idDateRange"> Meeting Date Range Picker: </label>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-calendar bigger-110"></i></span> <input
											class="form-control" type="text" name="date-range-picker"
											data-date-format="yyyy-mm-dd" id="idDateRange" />
									</div>
								</div>
							</div>
						</fieldset>
					</div>

					<div class="table-responsive">
						<div class="table-header">Meeting Minute's detail list</div>
						<table width="100%" id="dynamic-table"
							class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th width="12%">Meeting Date</th>
									<th width="20%">Minute's Title</th>
									<th width="12%">Category</th>
									<th width="15%">Branch</th>
									<th>Remarks</th>
									<th width="10%">Fiscal Year</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /.content -->
	</div>
	<!-- /.main-content -->

	<th:block layout:fragment="scripts">
		<script>
			$(function() {
				var start = moment().subtract(29, 'days');
				var end = moment();

				$('#idDateRange')
						.daterangepicker(
								{
									startDate : start,
									endDate : end,
									opens : 'left',
									autoclose : true,
									todayHighlight : true,
									ranges : {
										'Today' : [ moment(), moment() ],
										'Yesterday' : [
												moment().subtract(1, 'days'),
												moment().subtract(1, 'days') ],
										'Last 7 Days' : [
												moment().subtract(6, 'days'),
												moment() ],
										'Last 30 Days' : [
												moment().subtract(29, 'days'),
												moment() ],
										'This Month' : [
												moment().startOf('month'),
												moment().endOf('month') ],
										'Last Month' : [
												moment().subtract(1, 'month')
														.startOf('month'),
												moment().subtract(1, 'month')
														.endOf('month') ]
									},
									locale : {
										format : 'YYYY-MM-DD'
									}
								}, function(start, end, label) {
									ajaxGetMinutesDateBetween(start, end);
								});

			});
		</script>

		<script>
			if (!ace.vars['touch']) {
				$('.chosen-select').chosen({
					allow_single_deselect : true
				});
				//resize the chosen on window resize
				$(window).off('resize.chosen').on('resize.chosen', function() {
					$('.chosen-select').each(function() {
						var $this = $(this);
						$this.next().css({
							'width' : $this.width()
						});
					})
				}).trigger('resize.chosen');
				//resize chosen on sidebar collapse/expand
				$(document).on('settings.ace.chosen',
						function(e, event_name, event_val) {
							if (event_name != 'sidebar_collapsed')
								return;
							$('.chosen-select').each(function() {
								var $this = $(this);
								$this.next().css({
									'width' : $this.parent().width()
								});
							})
						});
			}
		</script>

		<script th:inline="javascript">
			$(document).ready(function() {
				ajaxGetAllMinutes();
			});

			function ajaxGetAllMinutes() {
				const url = '/getallminutes';
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}

			$("#idCategory").change(function() {
				if (!$('#branchName-dropdown').val()) {
					ajaxgetMinutesByCategory();
				} else {
					ajaxgetMinutesByBranchCategory();
				}
			});

			$("#branchName-dropdown").change(function() {
				if (!$('#idCategory').val()) {
					ajaxgetMinutesByBranchName();
				} else {
					ajaxgetMinutesByBranchCategory();
				}

			});

			function ajaxgetMinutesByBranchCategory() {
				let categoryVal = $('#idCategory').val();
				let branchVal = $('#branchName-dropdown').val();
				const url = '/getminuteslist/both/' + categoryVal + '/'
						+ branchVal;
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}

			function ajaxgetMinutesByBranchName() {
				let branchName = $('#branchName-dropdown').val();
				const url = '/getminuteslist/branch/' + branchName;
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}

			//By category
			function ajaxgetMinutesByCategory() {
				let categoryVal = $('#idCategory').val();
				const url = '/getminuteslist/category/' + categoryVal;
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}

			function ajaxGetMinutesDateBetween(start, end) {
				let startDate = start.format('YYYY-MM-DD');
				let endDate = end.format('YYYY-MM-DD');
				const url = '/getminuteslist/' + startDate + '/' + endDate;
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}

			function createDataTable(data) {
				var table = $('#dynamic-table')
						.DataTable(
								{
									"order" : [ 0, "desc" ],
									destroy : true,
									"data" : data,
									select : "single",
									"columns" : [
											{
												"data" : "meetingsDate",
												"render" : function(data, type,
														row, meta) {
													if (data === null)
														return "";
													var thisDate = moment(
															new Date(data))
															.format(
																	"YYYY-MM-DD");
													return thisDate
												}
											},

											{
												"data" : "minuteTitle",
												"render" : function(data, type,
														row, meta) { // render event defines the markup of the cell text 
													var a = '<a href="minuteslist/detailpage/' + row["id"]+ '">'
															+ row.minuteTitle
															+ '</a>'; // row object contains the row data
													return a;
												}
											}, 
											{
												"data" : "category"
											},

											{
												"data" : "branchName"
											}, {
												"data" : "remarks"
											}, {
												"data" : "fiscalYear"
											}

									],
									dom : 'Blfrtip',
									buttons : [
											{
												"extend" : "copy",
												"text" : "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
												"className" : "btn btn-white btn-primary btn-bold"
											},
											{
												"extend" : "csv",
												"text" : "<i class='fa fa-file-excel-o bigger-110 blue'></i> <span class='hidden'>Export to CSV</span>",
												"className" : "btn btn-white btn-primary btn-bold"
											},
											{
												"extend" : "excel",
												"text" : "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
												"className" : "btn btn-white btn-primary btn-bold",
												"exportOptions" : {
													modifier : {
														page : 'all'
													}
												}
											},
											{
												"extend" : "pdf",
												"text" : "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
												"className" : "btn btn-white btn-primary btn-bold",
												"exportOptions" : {
													modifier : {
														page : 'all'
													}
												}
											},
											{
												"extend" : "print",
												"text" : "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
												"className" : "btn btn-white btn-primary btn-bold",
												autoPrint : true,
												orientation : 'landscape',
												title : 'Minutes Report'
											} ]

								});
			}
		</script>
	</th:block>
</body>
</html>