<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/default}">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>Minutes Page</title>
<th:block layout:fragment="styles">

</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
				</li>
				<li><a href="/minuteslist">Minutes</a></li>
				<li class="active">Minute's Form</li>
			</ul>
			<!-- /.breadcrumb -->
		</div>
		<div class="page-header">
			<h1>
				<i class="ace-icon fa fa-book"></i> Meeting Minute's Form
			</h1>
		</div>
		<!-- /.page-header -->
		<div class="row">
			<div th:if="${message}">
				<h2 class="alert alert-danger" th:text="${message}" />
			</div>
			<div class="col-xs-12">
				<form method="POST" enctype="multipart/form-data"
					th:object="${minutes}" modelAttribute="minutes" autocomplete="off"
					th:action="@{/files/upload}" class="form-horizontal"
					data-toggle="validator" role="form">
					<div class="col-sm-6 col-sm-offset-2 form-actions">
						<div class="form-group">
							<label class="col-sm-4 control-label no-padding-right"
								for="idMinuteTitle"> Title <span class="red">*</span>:
							</label>
							<div class="col-sm-8">
								<input name="minuteTitle" id="idMinuteTitle"
									placeholder="Minute Title" type="text"
									class="col-xs-10 col-sm-12" required />
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label no-padding-right"
								for="date-timepicker1"> Meeting's Date <span class="red">*</span>:
							</label>
							<div class="col-sm-8">
								<input id="date-timepicker1" type="text" name="meetingsDate"
									class="col-xs-10 col-sm-12" data-date-format="yyyy-mm-dd"
									placeholder="Select Meetings Date" required />
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label no-padding-right"
								for="idCategory"> Category <span class="red">*</span>:
							</label>
							<div class="col-sm-8">
								<select class="chosen-select col-xs-10 col-sm-12"
									id="idCategory" name="category"
									data-placeholder="Choose a Category..." required>
									<option value=""></option>
									<option value="Management_HOD">Management/HOD</option>
									<option value="Business_Operation">Business/Operation
									</option>
									<option value="Branch">Branch</option>
									<option value="Others">Others</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label no-padding-right"
								for="branchName-dropdown"> Issued Branch <span
								class="red">*</span>:
							</label>
							<div class="col-sm-8">
								<select class="col-xs-10 col-sm-12" id="branchName-dropdown"
									name="branchName" data-placeholder="Choose Branch..." required>
								</select> <span class="help-inline col-xs-12 col-sm-7"> </span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label no-padding-right"
								for="idFiscalYear"> Fiscal Year <span class="red">*</span>:
							</label>
							<div class="col-sm-8">
								<select class="chosen-select col-xs-10 col-sm-12"
									data-placeholder="Choose Fiscal Year..." id="idFiscalYear"
									name="fiscalYear" required>
									<option value=""></option>
									<option th:each="year : ${fiscalYears}"
										th:value="${year.fiscalYears}" th:text="${year.fiscalYears}"></option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label no-padding-right"
								for="customFile"> Upload Minutes Document <span
								class="red">*</span>:
							</label>
							<div class="col-sm-8">
								<input type="file" name="file"
									accept=".txt,.doc,.docx,.pdf,image/png, image/jpeg"
									id="customFile" required />
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label no-padding-right"
								for="idRemarks"> Remarks: </label>
							<div class="col-sm-8">
								<textarea name="remarks" placeholder="Description"
									id="idRemarks" class="col-xs-10 col-sm-12"></textarea>
							</div>
						</div>
						<div class="clearfix">
							<button type="submit" id="btnUploadFile"
								class="width-65 pull-right btn btn-sm btn-success">
								<span class="bigger-110"> Submit </span> <i
									class="ace-icon fa fa-arrow-right icon-on-right"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- basic scripts -->
	<th:block layout:fragment="scripts">
		<script>
			autosize(document.querySelectorAll('textarea'));
		</script>

		<script type="text/javascript">
			$('.chosen-select').chosen({
				width : "100%"
			});
		</script>

		<script>
			$(function() {
				$("#date-timepicker1").datepicker({
					format : "yyyy-mm-dd",
					autoclose : true,
					todayBtn : "linked",
					todayHighlight : true
				}).datepicker('update', new Date());
			});

			$('#customFile').ace_file_input({
				style : 'well',
				btn_choose : 'Drop files here or click to choose',
				btn_change : null,
				no_icon : 'ace-icon fa fa-cloud-upload',
				droppable : true,
				thumbnail : 'fit'//large | fit
				,
				preview_error : function(filename, error_code) {
				}

			}).on('change', function() {
			});
		</script>
	</th:block>
</body>
</html>
