<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layouts/default}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title> Updater Locker Log Page</title>
    <th:block layout:fragment="styles">
    <link rel="stylesheet" href="../static/css/bootstrap-timepicker.min.css" th:href="@{/css/bootstrap-timepicker.min.css}" />    
    </th:block>
</head>
<body>
     <div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Locker Log </a>
				</li>
				<li class="active">Update Locker Log Form </li>
			</ul><!-- /.breadcrumb -->	
		</div>	
		<div class="page-content">	
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div th:if="${message}">
						<h2 class="alert alert-danger" th:text="${message}" />
					</div>
					<div th:if="${successMessage}">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<strong th:text="${successMessage}">Success!</strong> <br />
						</div>
					</div>
				</div>
			</div>	
			<div class="row">
				<div class="col-xs-12">	
					<form method="POST" th:object="${lockerLog}" autocomplete="off" modelAttribute="lockerLog"
							th:action="@{/updateLockerLog}" class="form-horizontal" data-toggle="validator" role="form">
							<input type="text" th:value="${LockerLogVal?.id}" name="id" hidden readonly>
						<div class="col-xs-12 col-sm-8">
								<div class="col-sm-12 form-actions">
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right"
											for="idLockId"> Locker ID <span class="red">*</span>: </label>
										<div class="col-sm-7">
											<input type="text" class="col-xs-10 col-sm-12" 
														th:value="${LockerLogVal?.lockerId}" name="lockerId" id="idLockId" readonly required />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right" for="date-timepicker1"> Checked In Date <span class="red">*</span>: </label>
										<div class="col-sm-7">
										<input id="date-timepicker1" type="text" name="checkednDate" class="col-xs-10 col-sm-12 date-picker" 
												th:value="${{LockerLogVal?.checkednDate}}" data-date-format="yyyy-mm-dd" required/>
											<span class="help-inline col-xs-12 col-sm-7">
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right" for="timepickerIn"> In Time <span class="red">*</span>: </label>
										<div class="col-sm-7">
											<span class="input-icon input-icon-right ">
												<input id="timepickerIn" type="text" name="checkedInTime" data-date-format="hh:mm:ss" class="timepicker"
												th:value="${{LockerLogVal?.checkedInTime}}" required/>
													<i class="ace-icon fa fa-clock-o green"></i>
											</span>
											<span class="help-inline col-xs-12 col-sm-7">
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right"
											for="idLockerHolderName"> Locker Holder's Name <span class="red">*</span>: </label>
										<div class="col-sm-7">
											<input name="lockerHolderName" id="idLockerHolderName" th:value="${LockerLogVal?.lockerHolderName}"
												type="text"
												class="col-xs-10 col-sm-12" readonly required/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right"
											for="idLockerStatus"> Locker Status <span class="red">*</span>: </label>
										<div class="col-sm-7">
											<input name="lockerStatus" id="idLockerStatus"  th:value="${LockerLogVal?.lockerStatus}"
												type="text" readonly  
												class="col-xs-10 col-sm-12" required/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right"
											for="idAuthorizedPerson"> Authorized Person (To open locker) <span class="red">*</span>: </label>
										<div class="col-sm-7">
											<input name="authorizedPerson" id="idAuthorizedPerson" th:value="${LockerLogVal?.authorizedPerson}"
												type="text"  
												class="col-xs-10 col-sm-12" readonly required/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right"
											for="idLockerUsedBy"> Locker Opened/Used By <span class="red">*</span>: </label>
										<div class="col-sm-7">
											<input name="lockerUsedBy" id="idLockerUsedBy" th:value="${{LockerLogVal?.lockerUsedBy}}" 
											 type="text" class="col-xs-10 col-sm-12" required/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right"
											for="idCustodianA"> Custodian's Name (A-Panel) <span class="red">*</span>: </label>
										<div class="col-sm-7">
											<input name="custodianA" id="idCustodianA" th:value="${{LockerLogVal?.custodianA}}" 
												type="text"
												class="col-xs-10 col-sm-12" required/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right"
											for="idCustodianB"> Custodian's Name (B-Panel) <span class="red">*</span>: </label>
										<div class="col-sm-7">
											<input name="custodianB" id="idCustodianB" th:value="${{LockerLogVal?.custodianB}}" 
												type="text"
												class="col-xs-10 col-sm-12" required/>
										</div>
									</div>

									<div class="form-group">
									<label class="col-sm-5 control-label no-padding-right" for="idLockerExistBranch"> Locker Exists Branch <span class="red">*</span>: </label>
										<div class="col-sm-7">
											<input name="lockerExistBranch" id="idLockerExistBranch"  th:value="${LockerLogVal?.lockerExistBranch}"
												type="text" readonly  
												class="col-xs-10 col-sm-12" required/>
											<span class="help-inline col-xs-12 col-sm-7">
											</span>
										</div>
									</div>																	
														
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right"
											for="idRemarks"> Remarks for In/Out (If any): </label>
										<div class="col-sm-7">
											<textarea name="remark"  th:value="${lockerLogVal?.remark}" th:text="${LockerLogVal?.remark}"
												id="idRemarks" class="col-xs-10 col-sm-12"></textarea>
										</div>
									</div>
																		
								</div>
							
				
					</div>
						<div class="col-xs-12 col-sm-4">
							<div class="col-sm-12 form-actions">
										<div class="form-group">
											<label class="col-sm-5 control-label no-padding-right" for="timepicker1"> Out Time <span class="red">*</span>: </label>
											<div class="col-sm-7">
												<span class="input-icon input-icon-right ">
													<input name="checkedOutTime" id="timepicker1"  th:value="${LockerLogVal?.checkedOutTime}" 
												type="text"	class="col-xs-10 col-sm-12 timepicker" required/>
														<i class="ace-icon fa fa-clock-o green"></i>
												</span>
												<span class="help-inline col-xs-12 col-sm-7">
												</span>
											</div>
										</div>
										<div class="clearfix">
											<button type="submit"
												class="width-65 pull-right btn btn-sm btn-success">
												<span class="bigger-110"> Submit </span> 
												<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
											</button>
										</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>                     
<!-- basic scripts -->
<th:block layout:fragment="scripts">
	<script src="../static/js/bootstrap-timepicker.min.js" th:src="@{/js/bootstrap-timepicker.min.js/}"></script>
 	<script>
		autosize(document.querySelectorAll('textarea'));
	</script>

    <script>
	if(!ace.vars['touch']) {
		$('.chosen-select').chosen({allow_single_deselect:true}); 
		//resize the chosen on window resize
		$(window)
		.off('resize.chosen')
		.on('resize.chosen', function() {
			$('.chosen-select').each(function() {
				 var $this = $(this);
				 $this.next().css({'width': $this.width()});
			})
		}).trigger('resize.chosen');
		//resize chosen on sidebar collapse/expand
		$(document).on('settings.ace.chosen', function(e, event_name, event_val) {
			if(event_name != 'sidebar_collapsed') return;
			$('.chosen-select').each(function() {
				 var $this = $(this);
				 $this.next().css({minWidth: '380px'});
			})
		});
	}
	
	$('.date-picker').datepicker({
		autoclose: true,
		todayHighlight: true
	})
	//show datepicker when clicking on the icon
	.next().on(ace.click_event, function(){
		$(this).prev().focus();
	});
	
	
	$('.timepicker').timepicker({
					minuteStep: 1,
					showSeconds: true,
					showMeridian: false,
					disableFocus: true,
					icons: {
						up: 'fa fa-chevron-up',
						down: 'fa fa-chevron-down'
					}
				}).next().on(ace.click_event, function(){
					$(this).prev().focus();
				});
				

    </script>
</th:block>

</body>
</html>
