<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>Assign Locker</title>

<th:block layout:fragment="styles">
	<style>
.checked {
	color: gold;
}
</style>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
				</li>
				<li><a href="#">Assign Locker</a></li>
				<li class="active">Assign Locker for Customer</li>
			</ul>
			<!-- /.breadcrumb -->
		</div>
		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div th:if="${message}">
						<h2 class="alert alert-danger" th:text="${message}" />
					</div>
					<div th:if="${successMessage}">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<strong th:text="${successMessage}">Success!</strong> <br />
						</div>
					</div>
				</div>
			</div>
			<div class="page-header">
				<h1>
					<i class="ace-icon fa fa-key"></i> Assign Locker to New Customer
				</h1>
			</div>
			<!-- /.page-header -->
			<div class="row">
				<div class="col-xs-12">
					<form th:object="${customerLocker}" method="POST" enctype="multipart/form-data"
						autocomplete="off" th:action="@{/files/addCustomerLocker}"
						data-toggle="validator" role="form">
						<div class="col-xs-12">
							<div class="col-xs-6">
								<div class="row">
									<div class="locker-box">
										<div class="row">
											<div class="col-xs-12 col-sm-6 ">
												<div class="form-group">
													<label class="block clearfix" for="idLockerId">
														Locker ID <small class="red">*</small> </label> <input type="text" class="form-control"
														th:value="${lockerIdValue?.lockerId}" name="lockerId" id="idLockerId" readonly required />
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idLockerSize">Locker
														Size <small class="red">*</small></label> <input type="hidden" 
														th:value="${lockerIdValue.lockerSize}" name="lockerSize" 
														 required />
														<span class="form-control" th:switch="${lockerIdValue.lockerSize}" id="idLockerSize">
															<span th:case="'A'">A (6"H X 8"W) </span>
														    <span th:case="'B'">B (6"H X 16"W) </span>
														    <span th:case="'C'">C (12"H X 16"W) </span>
												   		</span>
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
										<div class=" input-daterange row">
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idOpenedDate">Opened
														Date <small class="red">*</small></label>
													<div class="input-group">
														<input id="idOpenedDate" type="text" name="openedDate"
															placeholder="Select date..." data-date-format="yyyy-mm-dd"
															class="form-control"
															data-error="Please select Date." required /> <span
															class="input-group-addon"> <i
															class="fa fa-clock-o bigger-110"></i>
														</span>
													</div>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idExpirationDate">Expiry
														Date <small class="red">*</small></label>
													<div class="input-group">
														<input id="idExpirationDate" type="text"
															name="expirationDate" placeholder="Select date..."
															data-date-format="yyyy-mm-dd"
															class="form-control"
															data-error="Please select Date." required /> <span
															class="date-picker input-group-addon"> <i
															class="fa fa-clock-o bigger-110"></i>
														</span>
													</div>
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="space-10"></div>
									<div class="locker-box">
										<div class="row">
											<div class="col-xs-12 col-sm-6 ">
												<div class="form-group">
													<label class="block clearfix" for="idLockerStatus">
														Locker Status  <small class="red">*</small></label> 
													<select class="chosen-select form-control"
														id="idLockerStatus" name="lockerStatus"
														data-placeholder="Choose a Locker status..."
														data-error="Please select Locker status field." required>
														<option value=""></option>
														<option value="Active">Active</option>
														<option value="Inactive">Inactive</option>
														<option value="Payment Due">Payment Due</option>
														<option value="Surrendered">Surrendered</option>
														<option value="Closed">Closed</option>
														<option value="Blocked">Blocked</option>
														<option value="Stopped">Stopped</option>
													</select>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="branchName-dropdown">Locker Exists Branch <small class="red">*</small></label>
													<select class=" form-control" id="branchName-dropdown"
														name="branchName" data-placeholder="Choose Branch..."
														data-error="Please select Branch field." required>
													</select>
													<div class="help-block with-errors"></div>
												</div>
											</div>

										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idStatusRemarks">
														Status Remarks </label>
													<textarea name="statusRemark" placeholder="Description"
														class="form-control" maxlength="500" id="idStatusRemarks"
														data-error="Please fill Status Remarks field."></textarea>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6" id="idStautsEffDate">
												<div class="form-group">
													<label class="block clearfix" for="statusEffDateId">
														Locker Status Effective Date </label>
													<div class="input-group">
														<input id="statusEffDateId" type="text"
															name="statusEffDate" placeholder="Select date and time"
															data-date-format="yyyy-mm-dd"
															class="date-picker form-control"
															data-error="Please select Date." /> <span
															class="input-group-addon"> <i
															class="fa fa-clock-o bigger-110"></i>
														</span>
													</div>
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="space-10"></div>
								<div class="row">
									<div class="locker-box">
										<div class="row">
											<div class="col-xs-12 col-sm-6 ">
												<div class="form-group">
													<label class="block clearfix" for="idRefundDeposit">
														Refundable Deposit (Rs.) </label> <input type="number"
														class="form-control" name="refundDeposit"
														id="idRefundDeposit"
														data-error="Please fill Refundable Deposit."
														placeholder="Enter Refundable Deposit amount" />
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idRefundDepositDate">Deposited
														Date (Refundable Deposit) </label>
													<div class="input-group">
														<input id="idRefundDepositDate" type="text"
															name="refundDepositDate"
															placeholder="Select date and time"
															data-date-format="yyyy-mm-dd"
															class="date-picker form-control"
															data-error="Please select Date." /> <span
															class="input-group-addon"> <i
															class="fa fa-clock-o bigger-110"></i>
														</span>
													</div>
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idRefundAnnualFee">
														Annual Fee (Rs.) </label> <input type="text" class="form-control"
														name="refundAnnualFee" id="idRefundAnnualFee"
														placeholder="Enter  Annual Fee"
														data-error="Please fill  Annual Fee field." />
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idRefundAnnualFeeDate">Annual
														Fee Paid Date</label>
													<div class="input-group">
														<input id="idRefundAnnualFeeDate" type="text"
															name="refundAnnualFeeDate"
															placeholder="Select date and time"
															data-date-format="yyyy-mm-dd"
															class="date-picker form-control"
															data-error="Please select Date."/> <span
															class="input-group-addon"> <i
															class="fa fa-clock-o bigger-110"></i>
														</span>
													</div>
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idWaiverRemark">
														Waiver Remarks (If any) </label>
													<textarea name="waiverRemark" placeholder="Description"
														class="form-control" maxlength="500" id="idWaiverRemark"
														data-error="Please write some remarks."></textarea>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="month-daypicker">
														Standing Instruction's Date<span> (MM-DD)</span>
													</label>
													<div class="input-group">
														<input id="month-daypicker" type="text"
															name="standingInstDate"
															placeholder="Select month and day" data-date-format="mm-dd"
															class="form-control"
															data-error="Please select Date." /> <span
															class="input-group-addon"> <i
															class="fa fa-clock-o bigger-110"></i>
														</span>
													</div>
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="space-10"></div>
								<div class="row">
									<div class="locker-box">
										<div class="row">
											<div class="col-xs-12 col-sm-6 ">
												<div class="form-group">
													<label class="block clearfix" for="idAuthorizedPerson">
														Next Authorized Person (To Operate Locker) </label> <input type="text"
														class="form-control" name="authorizedPerson"
														id="idAuthorizedPerson"
														style="text-transform: uppercase;" 
                                               			onkeyup="this.value = this.value.toUpperCase();"
														data-error="Please fill Authorized Person's name."
														placeholder="Enter Authorized Person's name"/>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix"
														for="idAuthIdentificationDetail"> Identification
														Details </label> <input type="text" class="form-control"
														name="authIdentificationDetail"
														id="idAuthIdentificationDetail"
														placeholder="Enter Identification details"
														data-error="Please fill Identification details." />
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idAuthAddress">
														Contact Address </label> <input id="idAuthAddress" type="text"
														name="authAddress" placeholder="Enter Contact Address"
														class="form-control"
														data-error="Please enter Contact address" />
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idAuthMobile">
														Mobile</label> <input type="text" class="form-control input-mask-mobile"
														name="authMobile" id="idAuthMobile" 
														pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" 
														onblur="this.parentNode.parentNode.style.backgroundColor=/^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/.test(this.value)?'inherit':'transparent'"
														placeholder="Enter Mobile number"
														data-error="Please fill Mobile number field." />
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idAuthRemark">
														Authorization Remarks (If any) </label>
													<textarea name="authRemark"
														placeholder="Write authorization remarks"
														class="form-control" maxlength="500" id="idAuthRemark"
														data-error="Write authorization remarks."></textarea>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idAuthTelephone">
														Telephone </label> <input id="idAuthTelephone" type="text"
														name="authTelephone" placeholder="Enter Telephone number"
														class="form-control" pattern="[0-9-+]*"
														data-error="Please enter Telephone number." />
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="locker-box">
									<div class="row">
										<div class="col-xs-12 col-sm-6 ">
											<div class="form-group">
												<label class="block clearfix" for="idLockerHolderName">
													Locker Holder's Name <small class="red">*</small> </label> <input type="text"
													class="form-control" name="lockerHolderName"
													id="idLockerHolderName" pattern="^[a-zA-Z]+(\s[a-zA-Z]+)*$"
													style="text-transform: uppercase;" 
                                               		onkeyup="this.value = this.value.toUpperCase();"
													data-error="Please Locker holder's Name."
													placeholder="Enter Locker holder's Name" required />
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idHolderIdentDetail">
													Identification Details <small class="red">*</small> </label> <input type="text"
													class="form-control" name="holderIdentDetail"
													id="idHolderIdentDetail"
													placeholder="Enter Identification details"
													data-error="Please fill Identification details." required />
												<div class="help-block with-errors"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idAccountNumber">Account
													Number <small class="red">*</small></label> 
													<input type="text" class="form-control input-mask-accountNo" pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" 
														    onblur="this.parentNode.parentNode.style.backgroundColor=/^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/.test(this.value)?'inherit':'transparent'" 
														    id="idAccountNumber"  name ="accountNumber" placeholder="Enter Account Number (20 digits)" data-error="Please fill 20 digit Account Number." required/>
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idHolderAddress">Contact
													Address <small class="red">*</small> </label> <input type="text" class="form-control"
													name="holderAddress" id="idHolderAddress"
													placeholder="Enter Contact Address"
													data-error="Please fill Contact Address." required />
												<div class="help-block with-errors"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idHolderMobile">
													Mobile <small class="red">*</small> </label> <input id="idHolderMobile" type="text"
													name="holderMobile" placeholder="Enter Mobile number"
													pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" 
													onblur="this.parentNode.parentNode.style.backgroundColor=/^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/.test(this.value)?'inherit':'transparent'"
													class="form-control input-mask-mobile"
													data-error="Please enter Mobile number." required />
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idHolderTelephone">
													Telephone </label> <input type="text" class="form-control"
													name="holderTelephone" id="idHolderTelephone"
													placeholder="Enter Telephone number" pattern="[0-9-+]*"
													data-error="Please fill Telephone number."/>
												<div class="help-block with-errors"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="space-10"></div>
								<div class="locker-box">
									<div class="row">
										<div class="col-xs-12 col-sm-6 ">
											<div class="form-group">
												<label class="block clearfix" for="idBeneficName">
													Nominee's Name </label> <input type="text" class="form-control"
													name="beneficName" id="idBeneficName"
													style="text-transform: uppercase;" 
                                               		onkeyup="this.value = this.value.toUpperCase();"
													data-error="Please fill Nominee's Name Name."
													placeholder="Enter Nominee's Name Name"/>
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idBeneficDetail">
													Identification Details (Nominee's) </label> <input type="text"
													class="form-control" name="beneficDetail"
													id="idBeneficDetail"
													placeholder="Enter Identification Details"
													data-error="Please fill Identification Details field." />
												<div class="help-block with-errors"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idBeneficAddress">
													Contact Address </label> <input id="idBeneficAddress" type="text"
													name="beneficAddress" placeholder="Enter Contact Address"
													class="form-control"
													data-error="Please  enter Contact address." />
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idBeneficMobile">
													Mobile </label> <input type="text" class="form-control input-mask-mobile"
													name="beneficMobile" id="idBeneficMobile"
													placeholder="Enter Mobile number"
													pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" 
													onblur="this.parentNode.parentNode.style.backgroundColor=/^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/.test(this.value)?'inherit':'transparent'"
													data-error="Please fill Mobile number field." />
												<div class="help-block with-errors"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-12">
											<div class="form-group">
												<label class="block clearfix" for="idBeneficTelephone">
													Telephone </label> <input id="idBeneficTelephone" type="text"
													name="beneficTelephone" pattern="[0-9-+]*"
													placeholder="Enter Telephone number" class="form-control"
													data-error="Please enter Telephone number." />
												<div class="help-block with-errors"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="space-10"></div>
								<div class="locker-box">
									<div class="row">
										<div class="col-xs-12 col-sm-12 ">
											<div class="form-group">
												<label class="block clearfix" for="idLockerFile">
													Upload Main Document </label> <input type="file" name="file"
													accept=".txt,.doc,.docx,.pdf,image/png, image/jpeg"
													id="idLockerFile" />
												<div class="help-block with-errors"></div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="space-10"></div>
								
								<div class="locker-box">
									<div class="row">
										<div class="col-xs-12 col-sm-12 ">
											<div class="form-group">
											<label class="block clearfix" for="idLockerFile">Upload Gallery Image </label>
												<div class="input-group after-add-more">
														<input type="file" name="gallery" class="form-control" accept=".txt,.doc,.docx,.pdf,image/png, image/jpeg"/>
														<div class="input-group-btn">
															<button class="btn btn-sm btn-success add-more"
																type="button">
																<span class="glyphicon glyphicon-plus"></span> Add
															</button>
														</div>
													</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="space-10"></div>
								<div class="row">
									<div class="col-xs-12 col-sm-12 ">
										<div class="form-group">
											<a class="width-25 btn btn-sm btn-danger"
												th:href="@{/branchdetail}"> Cancel </a>
											<button type="submit"
												class="width-65 pull-right btn btn-sm btn-success">
												<span class="bigger-110"> Submit </span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					
			 <!-- Copy Fields-These are the fields which we get through jquery and then add after the above input,-->
			        <div class="copy-fields hide">
			          <div class="control-group input-group" style="margin-top:10px">
			            <input type="file" name="gallery" class="form-control" accept=".txt,.doc,.docx,.pdf,image/png, image/jpeg"/>
			            <div class="input-group-btn"> 
			              <button class="btn btn-sm btn-danger remove" type="button"><span class="glyphicon glyphicon-trash"></span> Remove</button>
			            </div>
			          </div>
			        </div>
        
        
				</div>
			</div>
		</div>
	</div>

	<!-- basic scripts -->
	<th:block layout:fragment="scripts">
    <script type="text/javascript">
		    $(document).ready(function() {
		 
			//here first get the contents of the div with name class copy-fields and add it to after "after-add-more" div class.
		      $(".add-more").click(function(){ 
		          var html = $(".copy-fields").html();
		          $(".after-add-more").after(html);
		      });
		//here it will remove the current value of the remove button which has been pressed
		      $("body").on("click",".remove",function(){ 
		          $(this).parents(".control-group").remove();
		      });
		 
		    });
		 
	</script>	
	
<!-- 	<script>
	$(document).ready(function() {
		$("#idOpenedDate").change(function() {
			setExpiryDate();
		});
	});
	
	
	function setExpiryDate(){
		let openDate = $('#idOpenedDate').val();
		
		$("#idExpirationDate").val(openDate);
	}
	</script> -->
	
	
	<script>
		$('.input-mask-date').mask('9999/99');
		$('.input-mask-mobile').mask('9999999999',{autoclear: false});
		$('.input-mask-accountNo').mask('99999999999999999999',{autoclear: false});	
		
		
	</script>
	<script>
		$('.input-daterange').datepicker({
			format: 'yyyy-mm-dd',
			autoclose:true
			
		});

		$('.date-picker').datepicker({
			autoclose: true,
			todayHighlight: true
		})
		.next().on(ace.click_event, function(){
			$(this).prev().focus();
		});
		</script>
		<script>
			autosize(document.querySelectorAll('textarea'));
		</script>
		<script>
			$(document).ready(function() {
				$('#idStautsEffDate').hide();
				$("#idLockerStatus").change(function() {
					showLockerStatusDate();
				});
			});

			function showLockerStatusDate() {
				let statusValue = $('#idLockerStatus').val();
				if ($.inArray(statusValue, [ 'Surrendered', 'Closed',
						'Blocked', 'Stopped' ]) >= 0) {
					$('#idStautsEffDate').show();
					$("[name='lockerStatusEffDate']").attr("required", true);
				} else {
					$('#idStautsEffDate').hide();
				}
			}
		</script>

		<script>
			if (!ace.vars['touch']) {
				$('.chosen-select').chosen({
					allow_single_deselect : true
				});
				//resize the chosen on window resize
				$(window).off('resize.chosen').on('resize.chosen', function() {
					$('.chosen-select').each(function() {
						var $this = $(this);
						$this.next().css({
							'width' : $this.parent().width()
						});
					})
				}).trigger('resize.chosen');
				//resize chosen on sidebar collapse/expand
				$(document).on('settings.ace.chosen',
						function(e, event_name, event_val) {
							if (event_name != 'sidebar_collapsed')
								return;
							$('.chosen-select').each(function() {
								var $this = $(this);
								$this.next().css({
									'width' : $this.parent().width()
								});
							})
						});
			}

			$('#idLockerFile').ace_file_input({
				style : 'well',
				btn_choose : 'Drop files here or click to choose',
				btn_change : null,
				no_icon : 'ace-icon fa fa-cloud-upload',
				droppable : true,
				thumbnail : 'small'//large | fit
				//,icon_remove:null//set null, to hide remove/reset button
				/**,before_change:function(files, dropped) {
					//Check an example below
					//or examples/file-upload.html
					return true;
				}*/
				/**,before_remove : function() {
					return true;
				}*/
				,
				preview_error : function(filename, error_code) {
					//name of the file that failed
					//error_code values
					//1 = 'FILE_LOAD_FAILED',
					//2 = 'IMAGE_LOAD_FAILED',
					//3 = 'THUMBNAIL_FAILED'
					//alert(error_code);
				}

			}).on('change', function() {
				//console.log($(this).data('ace_input_files'));
				//console.log($(this).data('ace_input_method'));
			});
		</script>
		<script>
			if (!ace.vars['old_ie'])
				$('#month-daypicker').datepicker({
					format : 'mm-dd',//use this option to display seconds
					icons : {
						time : 'fa fa-clock-o',
						date : 'fa fa-calendar',
						up : 'fa fa-chevron-up',
						down : 'fa fa-chevron-down',
						previous : 'fa fa-chevron-left',
						next : 'fa fa-chevron-right',
						today : 'fa fa-arrows ',
						clear : 'fa fa-trash',
						close : 'fa fa-times'
					}
				}).next().on(ace.click_event, function() {
					$(this).prev().focus();
				});
		</script>
	</th:block>
</body>
</html>
