<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>Edit Customer Locker</title>

<th:block layout:fragment="styles">
	<style>
.checked {
	color: gold;
}
</style>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
				</li>
				<li><a href="#">Locker</a></li>
				<li class="active">Edit Customer Locker</li>
			</ul>
			<!-- /.breadcrumb -->
		</div>
		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div th:if="${message}">
						<h2 class="alert alert-danger" th:text="${message}" />
					</div>
					<div th:if="${successMessage}">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<strong th:text="${successMessage}">Success!</strong> <br />
						</div>
					</div>
				</div>
			</div>
			<div class="page-header">
				<h1>
					<i class="ace-icon fa fa-key"></i> Edit Customer details for assigned Locker
				</h1>
			</div>
			<!-- /.page-header -->
			<div class="row">
				<div class="col-xs-12">
					<form th:object="${customerLocker}" method="POST" enctype="multipart/form-data"
						autocomplete="off" th:action="@{/files/updateCustLocker}"
						data-toggle="validator" role="form">
						<input type="hidden" name="id" th:value="${custLockerValue?.id}"/>
						<input type="hidden" name="checkLockerVal" th:value="${custLockerValue?.checkLockerVal}"/>
						<input type="hidden" name="lockerFile" th:value="${custLockerValue?.lockerFile}"/>
						
						<div class="col-xs-12">
							<div class="col-xs-6">
								<div class="row">
									<div class="locker-box">
										<div class="row">
											<div class="col-xs-12 col-sm-6 ">
												<div class="form-group">
													<label class="block clearfix" for="idLockerId">
														Locker ID <small class="red">*</small> </label> <input type="text" class="form-control"
														th:value="${custLockerValue.lockerId}" name="lockerId" id="idLockerId" readonly required />
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idLockerSize">Locker
														Size <small class="red">*</small></label> <input type="hidden" 
														th:value="${custLockerValue.lockerSize}" name="lockerSize" 
														 required />
														<span class="form-control" th:switch="${custLockerValue.lockerSize}" id="idLockerSize">
															<span th:case="'A'">A (6"H X 8"W) </span>
														    <span th:case="'B'">B (6"H X 16"W) </span>
														    <span th:case="'C'">C (12"H X 16"W) </span>
												   		</span>
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idOpenedDate">Opened
														Date <small class="red">*</small></label>
													<div class="input-group">
														<input id="idOpenedDate" type="text" name="openedDate" th:value="${{custLockerValue.openedDate}}"
															placeholder="Select date and time" data-date-format="yyyy-mm-dd"
															class="date-picker form-control"
															data-error="Please select Date." required /> <span
															class="input-group-addon"> <i
															class="fa fa-clock-o bigger-110"></i>
														</span>
													</div>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idExpirationDate">Expiry
														Date <small class="red">*</small></label>
													<div class="input-group">
														<input id="idExpirationDate" type="text" th:value="${{custLockerValue.expirationDate}}"
															name="expirationDate" placeholder="Select date and time"
															data-date-format="yyyy-mm-dd"
															class="date-picker form-control"
															data-error="Please select Date." required /> <span
															class="input-group-addon"> <i
															class="fa fa-clock-o bigger-110"></i>
														</span>
													</div>
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="space-10"></div>
									<div class="locker-box">
										<div class="row">
											<div class="col-xs-12 col-sm-6 ">
												<div class="form-group">
													<label class="block clearfix" for="idLockerStatus">
														Locker Status  <small class="red">*</small></label> 
													<select class="chosen-select form-control"
														id="idLockerStatus" name="lockerStatus"
														data-placeholder="Choose a Locker status..."
														data-error="Please select Locker status field." required>
														<option value=""></option>
														<option value="Active">Active</option>
														<option value="Inactive">Inactive</option>
														<option value="Payment Due">Payment Due</option>
														<option value="Surrendered">Surrendered</option>
														<option value="Closed">Closed</option>
														<option value="Blocked">Blocked</option>
														<option value="Stopped">Stopped</option>
													</select>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idBranch">Locker Exists Branch <small class="red">*</small></label>
													 <select class="chosen-select form-control" data-placeholder="Choose branch..." id="idBranch" name="branchName" required>
														<option value="" disabled selected>Choose Branch Name...</option>
														<option th:each="branchNameVal : ${branchNameVal}"
																th:value="${branchNameVal.branchName}"
																th:text="${branchNameVal.branchName}"></option>
													</select>
													<div class="help-block with-errors"></div>
												</div>
											</div>

										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idStatusRemarks">
														Status Remarks </label>
													<textarea name="statusRemark" placeholder="Description" th:value="${custLockerValue.statusRemark}"
													th:text="${custLockerValue.statusRemark}"
														class="form-control" maxlength="500" id="idStatusRemarks"
														data-error="Please fill Status Remarks field."></textarea>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6" id="idStautsEffDate">
												<div class="form-group">
													<label class="block clearfix" for="statusEffDateId">
														Locker Status Effective Date </label>
													<div class="input-group">
														<input id="statusEffDateId" type="text" th:value="${{custLockerValue.statusEffDate}}"
															name="statusEffDate" placeholder="Select date and time"
															data-date-format="yyyy-mm-dd"
															class="date-picker form-control"
															data-error="Please select Date." /> <span
															class="input-group-addon"> <i
															class="fa fa-clock-o bigger-110"></i>
														</span>
													</div>
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="space-10"></div>
								<div class="row">
									<div class="locker-box">
										<div class="row">
											<div class="col-xs-12 col-sm-6 ">
												<div class="form-group">
													<label class="block clearfix" for="idRefundDeposit">
														Refundable Deposit (Rs.) </label> <input type="number"
														class="form-control" name="refundDeposit"
														id="idRefundDeposit" th:value="${custLockerValue.refundDeposit}"
														data-error="Please fill Refundable Deposit."
														placeholder="Enter Refundable Deposit amount" />
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idRefundDepositDate">Deposited
														Date (Refundable Deposit) </label>
													<div class="input-group">
														<input id="idRefundDepositDate" type="text"
															name="refundDepositDate" th:value="${{custLockerValue.refundDepositDate}}"
															placeholder="Select date and time"
															data-date-format="yyyy-mm-dd"
															class="date-picker form-control"
															data-error="Please select Date." /> <span
															class="input-group-addon"> <i
															class="fa fa-clock-o bigger-110"></i>
														</span>
													</div>
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idRefundAnnualFee">
														Annual Fee (Rs.) </label> <input type="text" class="form-control"
														name="refundAnnualFee" id="idRefundAnnualFee"
														placeholder="Enter  Annual Fee" th:value="${custLockerValue.refundAnnualFee}"
														data-error="Please fill  Annual Fee field." />
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idRefundAnnualFeeDate">Annual
														Fee Paid Date <small class="red">*</small></label>
													<div class="input-group">
														<input id="idRefundAnnualFeeDate" type="text"
															name="refundAnnualFeeDate" th:value="${{custLockerValue.refundAnnualFeeDate}}"
															placeholder="Select date and time"
															data-date-format="yyyy-mm-dd"
															class="date-picker form-control"
															data-error="Please select Date."/> <span
															class="input-group-addon"> <i
															class="fa fa-clock-o bigger-110"></i>
														</span>
													</div>
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idWaiverRemark">
														Waiver Remarks (If any) </label>
													<textarea name="waiverRemark" placeholder="Description" th:value="${custLockerValue.waiverRemark}"
														class="form-control" maxlength="500" id="idWaiverRemark" th:text="${custLockerValue.waiverRemark}"
														data-error="Please write some remarks."></textarea>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="month-daypicker">
														Standing Instruction's Date<span> (MM-DD)</span>
													</label>
													<div class="input-group">
														<input id="month-daypicker" type="text"
															name="standingInstDate" th:value="${{custLockerValue.standingInstDate}}"
															placeholder="Select date and time" data-date-format="mm-dd"
															class="form-control"
															data-error="Please select Date." /> <span
															class="input-group-addon"> <i
															class="fa fa-clock-o bigger-110"></i>
														</span>
													</div>
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="space-10"></div>
								<div class="row">
									<div class="locker-box">
										<div class="row">
											<div class="col-xs-12 col-sm-6 ">
												<div class="form-group">
													<label class="block clearfix" for="idAuthorizedPerson">
														Authorized Person (To operate Locker) <small class="red">*</small> </label> <input type="text"
														class="form-control" name="authorizedPerson"
														id="idAuthorizedPerson" th:value="${custLockerValue.authorizedPerson}"
														data-error="Please fill Authorized Person's name."
														placeholder="Enter Authorized Person's name"/>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix"
														for="idAuthIdentificationDetail"> Identification
														Details </label> <input type="text" class="form-control"
														name="authIdentificationDetail" th:value="${custLockerValue.authIdentificationDetail}"
														id="idAuthIdentificationDetail"
														placeholder="Enter Customer Name"
														data-error="Please fill Identification details." />
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idAuthAddress">
														Contact Address </label> <input id="idAuthAddress" type="text"
														name="authAddress" placeholder="Enter Contact Address"
														class="form-control" th:value="${custLockerValue.authAddress}"
														data-error="Please enter Contact address" />
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idAuthMobile">
														Mobile</label> <input type="text" class="form-control input-mask-mobile"
														name="authMobile" id="idAuthMobile"  th:value="${custLockerValue.authMobile}"
														pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" 
													onblur="this.parentNode.parentNode.style.backgroundColor=/^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/.test(this.value)?'inherit':'transparent'"
														placeholder="Enter Mobile number"
														data-error="Please fill Mobile number field." />
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idAuthRemark">
														Authorization Remarks (If any) </label>
													<textarea name="authRemark" th:value="${custLockerValue.authRemark}"
														placeholder="Write authorization remarks" th:text="${custLockerValue.authRemark}"
														class="form-control" maxlength="500" id="idAuthRemark"
														data-error="Write authorization remarks."></textarea>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="form-group">
													<label class="block clearfix" for="idAuthTelephone">
														Telephone </label> <input id="idAuthTelephone" type="text" th:value="${custLockerValue.authTelephone}"
														name="authTelephone" placeholder="Enter Telephone number"
														class="form-control" pattern="[0-9-+]*"
														data-error="Please enter Telephone number." />
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="locker-box">
									<div class="row">
										<div class="col-xs-12 col-sm-6 ">
											<div class="form-group">
												<label class="block clearfix" for="idLockerHolderName">
													Locker Holder's Name <small class="red">*</small> </label> <input type="text"
													class="form-control" name="lockerHolderName" th:value="${custLockerValue.lockerHolderName}"
													id="idLockerHolderName" pattern="^[a-zA-Z]+(\s[a-zA-Z]+)*$"
													data-error="Please Locker holder's Name."
													placeholder="Enter Locker holder's Name" required />
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idHolderIdentDetail">
													Identification Details <small class="red">*</small> </label> <input type="text"
													class="form-control" name="holderIdentDetail"
													id="idHolderIdentDetail" th:value="${custLockerValue.holderIdentDetail}"
													placeholder="Enter Identification details"
													data-error="Please fill Identification details." required />
												<div class="help-block with-errors"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idAccountNumber">Account
													Number <small class="red">*</small></label> 
													<input type="text" class="form-control input-mask-accountNo" pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" 
														    onblur="this.parentNode.parentNode.style.backgroundColor=/^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/.test(this.value)?'inherit':'transparent'" 
														    id="idAccountNumber" th:value="${custLockerValue.accountNumber}" name ="accountNumber" placeholder="Enter Account Number (20 digits)" data-error="Please fill 20 digit Account Number." required/>
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idHolderAddress">Contact
													Address <small class="red">*</small> </label> <input type="text" class="form-control"
													name="holderAddress" id="idHolderAddress" th:value="${custLockerValue.holderAddress}" 
													placeholder="Enter Contact Address"
													data-error="Please fill Contact Address." required />
												<div class="help-block with-errors"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idHolderMobile">
													Mobile <small class="red">*</small> </label> <input id="idHolderMobile" type="text"
													name="holderMobile" placeholder="Enter Mobile number" th:value="${custLockerValue.holderMobile}" 
													pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" 
													onblur="this.parentNode.parentNode.style.backgroundColor=/^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/.test(this.value)?'inherit':'transparent'"
													class="form-control input-mask-mobile"
													data-error="Please enter Mobile number." required />
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idHolderTelephone">
													Telephone </label> <input type="text" class="form-control"
													name="holderTelephone" id="idHolderTelephone" th:value="${custLockerValue.holderTelephone}" 
													placeholder="Enter Telephone number" pattern="[0-9-+]*"
													data-error="Please fill Telephone number."/>
												<div class="help-block with-errors"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="space-10"></div>
								<div class="locker-box">
									<div class="row">
										<div class="col-xs-12 col-sm-6 ">
											<div class="form-group">
												<label class="block clearfix" for="idBeneficName">
													Nominee's Name </label> <input type="text" class="form-control"
													name="beneficName" id="idBeneficName" th:value="${custLockerValue.beneficName}" 
													data-error="Please fill Nominee's Name."
													placeholder="Enter Nominee's Name"/>
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idBeneficDetail">
													Identification Details (Nominee's) </label> <input type="text"
													class="form-control" name="beneficDetail"
													id="idBeneficDetail" th:value="${custLockerValue.beneficDetail}" 
													placeholder="Enter Identification Details"
													data-error="Please fill Identification Details field." />
												<div class="help-block with-errors"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idBeneficAddress">
													Contact Address </label> <input id="idBeneficAddress" type="text"
													name="beneficAddress" placeholder="Enter Contact Address"
													class="form-control" th:value="${custLockerValue.beneficAddress}" 
													data-error="Please  enter Contact address." />
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idBeneficMobile">
													Mobile </label> <input type="text" class="form-control input-mask-mobile"
													name="beneficMobile" id="idBeneficMobile"
													placeholder="Enter Mobile number" th:value="${custLockerValue.beneficMobile}" 
													pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" 
													onblur="this.parentNode.parentNode.style.backgroundColor=/^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/.test(this.value)?'inherit':'transparent'"
													data-error="Please fill Mobile number field." />
												<div class="help-block with-errors"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-12">
											<div class="form-group">
												<label class="block clearfix" for="idBeneficTelephone">
													Telephone </label> <input id="idBeneficTelephone" type="text"
													name="beneficTelephone" pattern="[0-9-+]*" th:value="${custLockerValue.beneficTelephone}" 
													placeholder="Enter Telephone number" class="form-control"
													data-error="Please enter Telephone number." />
												<div class="help-block with-errors"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="space-10"></div>
								<div class="locker-box">
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="form-group">
												<label class="block clearfix" for="idLockerFile">
													Upload Main Document:  <span  th:text="${custLockerValue.lockerFile}" class="badge badge-pink label-lg"></span></label> 
													<input type="file" name="file" th:value="${custLockerValue.lockerFile}"
													accept=".txt,.doc,.docx,.pdf,image/png, image/jpeg"
													id="idLockerFile" />
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div id="pictures" class="col-xs-12 col-sm-6" th:if="${custLockerValue?.lockerFile != null}">
											<div class="space-6"></div>
											<ul class="ace-thumbnails" >
												<li>
													<a th:href="@{'/files/'+${custLockerValue?.lockerFile}}"
														data-rel="colorbox">
														<img alt="Image file" class="img-responsive"
															th:src="@{'/files/'+${custLockerValue?.lockerFile}}"
															width="280" />
														<div class="text"><i class="ace-icon fa fa-search-plus"></i>
															<div class="inner">
																Click</div>
														</div>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								
								
								<div class="space-10"></div>
								
								<div class="locker-box">
									<div class="row">
										<div class="col-xs-12 col-sm-12 ">
											<div class="form-group">
											<label class="block clearfix" for="idLockerFile">Upload Gallery Image </label>
												<div class="input-group after-add-more">
														<input type="file" name="gallery" class="form-control" />
														<div class="input-group-btn">
															<button class="btn btn-sm btn-success add-more"
																type="button">
																<span class="glyphicon glyphicon-plus"></span> Add
															</button>
														</div>
													</div>
											</div>
										</div>
									</div>
								</div>
								
								
								
								
								<div class="space-10"></div>
								<div class="row">
									<div class="col-xs-12 col-sm-12 ">
										<div class="form-group">
											<a class="width-35 btn btn-sm btn-danger"
												th:href="@{/branchdetail}"> Cancel </a>
											<button type="submit"
												class="width-55 pull-right btn btn-sm btn-success">
												<span class="bigger-110"> Submit </span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					
					
					
				<!-- Copy Fields-These are the fields which we get through jquery and then add after the above input,-->
			        <div class="copy-fields hide">
			          <div class="control-group input-group" style="margin-top:10px">
			            <input type="file" name="gallery" class="form-control"/>
			            <div class="input-group-btn"> 
			              <button class="btn btn-sm btn-danger remove" type="button"><span class="glyphicon glyphicon-trash"></span> Remove</button>
			            </div>
			          </div>
			        </div>
			        
			        
				</div>
			</div>
			
			
		<div th:if="${custLockerValue?.albums != null}" class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div>
					<div class="page-header">
						<h1>Gallery</h1>
					</div>
					<ul class="ace-thumbnails clearfix">
						<li th:each="albums,iterStat :${custLockerValue?.albums}">
							<form th:action="${'/custlocker/delete/'+custLockerValue?.id+'/'+iterStat.index}"
								method="post">
								
								<input type="hidden" name="_method" value="delete"> 
								<a th:href="@{'/files/'+${albums}}"	data-rel="colorbox"> 
									<img th:src="@{'/files/'+${albums}}" alt="Plant picture" width="250"/>
								</a>
								<div class="overlay center">
								
								<a class="btn btn-danger" title="Delete"
										th:data-thing="${custLockerValue?.id+'/'+iterStat.index}"
										th:onclick="deleteCustLocker(this.getAttribute('data-thing'));">
										<i class="ace-icon fa fa-trash-o bigger-130"></i> Delete
								</a>		
								</div>
							</form>
						</li>

					</ul>
				</div>
				<!-- PAGE CONTENT ENDS -->
			</div>
			<!-- /.col -->
		</div>
		
		
					
		</div>
	</div>

	<!-- basic scripts -->
	<th:block layout:fragment="scripts">

				
<script>
function deleteCustLocker(control) {
        var dialog = bootbox.dialog({
        	title: 'Delete Customer Locker!!!',
        	message: '<p>Are you sure you want to delete Locker gallery image?</p>',
            size: 'md',
            onEscape: true,
            backdrop: true,
            buttons: {
                cancel: {
                	label: '<i class="fa fa-times"></i> Cancel',
                    className: 'btn-danger pull-right margin-left-10px',
                },
                ok: {
                	label: '<i class="fa fa-check"></i> Confirm',
                    className: 'btn-info',
                    callback: function(result){
                    	if(result){
                    		$.ajax({
                    	        type: 'DELETE',
                    	        url:  '/custlocker/delete/' + control,
                    	        success: function(result) {
                    	        	$('#showMessage').append("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'><i class='ace-icon fa fa-times'></i></button><br>"
                    	        			+ result.message+  ': '+ result.data+"</div>");
                    	        	alert(result.message
                    	                + ': '+ result.data);
                    	        	window.location.href = "/updateCustLocker/" + result.message;
                    	        },
                    	        error: function(jqXHR, textStatus, errorThrown) {
                    	            alert(jqXHR.status + ' ' + jqXHR.responseText);
                    	        }
                    	    });
                    	}
                    }
                }
            },
        });
	}
</script>


				
				
    <script type="text/javascript">
		    $(document).ready(function() {
		 
			//here first get the contents of the div with name class copy-fields and add it to after "after-add-more" div class.
		      $(".add-more").click(function(){ 
		          var html = $(".copy-fields").html();
		          $(".after-add-more").after(html);
		      });
		//here it will remove the current value of the remove button which has been pressed
		      $("body").on("click",".remove",function(){ 
		          $(this).parents(".control-group").remove();
		      });
		 
		    });
		 
	</script>	
					
		<script type="text/javascript">
			jQuery(function ($) {
				var $overflow = '';
				var colorbox_params = {
					rel: 'colorbox',
					reposition: true,
					scalePhotos: true,
					scrolling: false,
					previous: '<i class="ace-icon fa fa-arrow-left"></i>',
					next: '<i class="ace-icon fa fa-arrow-right"></i>',
					close: '&times;',
					current: '{current} of {total}',
					maxWidth: '100%',
					maxHeight: '100%',
					onOpen: function () {
						$overflow = document.body.style.overflow;
						document.body.style.overflow = 'hidden';
					},
					onClosed: function () {
						document.body.style.overflow = $overflow;
					},
					onComplete: function () {
						$.colorbox.resize();
					}
				};

				$('.ace-thumbnails [data-rel="colorbox"]').colorbox(
					colorbox_params);
				$("#cboxLoadingGraphic")
					.html(
						"<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon

				$(document).one('ajaxloadstart.page', function (e) {
					$('#colorbox, #cboxOverlay').remove();
				});
			})
		</script>

		<script>
		$('.input-mask-date').mask('9999/99');
		$('.input-mask-mobile').mask('9999999999',{autoclear: false});
		$('.input-mask-accountNo').mask('99999999999999999999',{autoclear: false});	
		
		
		</script>
		<script>

		$('.date-picker').datepicker({
			autoclose: true,
			todayHighlight: true
		})
		//show datepicker when clicking on the icon
		.next().on(ace.click_event, function(){
			$(this).prev().focus();
		});
		</script>
		<script>
			autosize(document.querySelectorAll('textarea'));
		</script>

		<script th:inline="javascript">
		/*<![CDATA[*/
		var statusEffDateValue = /*[[${custLockerValue.statusEffDate}]]*/ 'statusEffDate';
		var branchNameValue = /*[[${custLockerValue.branchName}]]*/ 'branchName';
		var lockerStatusValue = /*[[${custLockerValue.lockerStatus}]]*/ 'lockerStatus';
		/*]]>*/
		function setSelectedIndex(s, v) {
		    for ( var i = 0; i < s.options.length; i++ ) {
		        if ( s.options[i].value == v ) {
		            s.options[i].selected = true;
		            break;
		        }
		    }
		    return;
		}
		setSelectedIndex(document.getElementById('idBranch'),branchNameValue);
		setSelectedIndex(document.getElementById('idLockerStatus'),lockerStatusValue);

		if(statusEffDateValue===null){
			$('#idStautsEffDate').hide();
		}else{
			$('#idStautsEffDate').show();
		}
	</script>

		<script>
			$(document).ready(function() {
				$("#idLockerStatus").change(function() {
					showLockerStatusDate();
				});
			});

			function showLockerStatusDate() {
				let statusValue = $('#idLockerStatus').val();
				if ($.inArray(statusValue, [ 'Surrendered', 'Closed',
						'Blocked', 'Stopped' ]) >= 0) {
					$('#idStautsEffDate').show();
					$("[name='lockerStatusEffDate']").attr("required", true);
				} else {
					$('#idStautsEffDate').hide();
				}
			}
		</script>

		<script>
			if (!ace.vars['touch']) {
				$('.chosen-select').chosen({
					allow_single_deselect : true
				});
				//resize the chosen on window resize
				$(window).off('resize.chosen').on('resize.chosen', function() {
					$('.chosen-select').each(function() {
						var $this = $(this);
						$this.next().css({
							'width' : $this.parent().width()
						});
					})
				}).trigger('resize.chosen');
				//resize chosen on sidebar collapse/expand
				$(document).on('settings.ace.chosen',
						function(e, event_name, event_val) {
							if (event_name != 'sidebar_collapsed')
								return;
							$('.chosen-select').each(function() {
								var $this = $(this);
								$this.next().css({
									'width' : $this.parent().width()
								});
							})
						});
			}

			$('#idLockerFile').ace_file_input({
				style : 'well',
				btn_choose : 'Click to choose if you want to update previouly uploaded document',
				btn_change : null,
				no_icon : 'ace-icon fa fa-cloud-upload',
				droppable : true,
				thumbnail : 'small'//large | fit
				//,icon_remove:null//set null, to hide remove/reset button
				/**,before_change:function(files, dropped) {
					//Check an example below
					//or examples/file-upload.html
					return true;
				}*/
				/**,before_remove : function() {
					return true;
				}*/
				,
				preview_error : function(filename, error_code) {
					//name of the file that failed
					//error_code values
					//1 = 'FILE_LOAD_FAILED',
					//2 = 'IMAGE_LOAD_FAILED',
					//3 = 'THUMBNAIL_FAILED'
					//alert(error_code);
				}

			}).on('change', function() {
				//console.log($(this).data('ace_input_files'));
				//console.log($(this).data('ace_input_method'));
			});
		</script>
		<script>
			if (!ace.vars['old_ie'])
				$('#month-daypicker').datepicker({
					format : 'mm-dd',//use this option to display seconds
					icons : {
						time : 'fa fa-clock-o',
						date : 'fa fa-calendar',
						up : 'fa fa-chevron-up',
						down : 'fa fa-chevron-down',
						previous : 'fa fa-chevron-left',
						next : 'fa fa-chevron-right',
						today : 'fa fa-arrows ',
						clear : 'fa fa-trash',
						close : 'fa fa-times'
					}
				}).next().on(ace.click_event, function() {
					$(this).prev().focus();
				});
		</script>
	</th:block>
</body>
</html>
