<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>Assign Locker</title>

	<th:block layout:fragment="styles">
	</th:block>
</head>

<body>
	<div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
				</li>
				<li><a href="/occupiedLockerList"> Occupied Locker List</a></li>
				<li class="active">Customer's Locker Details</li>
			</ul>
			<div class="nav-search" id="nav-search" sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR', 'SUPERVISOR','LOCKER')">
				<a type="button" th:href="@{'/lockerlogform/'+${customerIdValue?.checkLockerVal}}"
					class="btn btn-sm btn-danger btn-bold btn-white btn-round">
					<i class="ace-icon fa fa-book bigger-150 middle pink icon-animated-bell"></i>
					<span class="bigger-110">Record Locker's In/Out Log </span>
					<i class="icon-on-right icon-animated-vertical ace-icon fa fa-arrow-right green"></i>
				</a>
			</div><!-- /.nav-search -->
				
		</div>
		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div th:if="${message}">
						<h2 class="alert alert-danger" th:text="${message}" />
					</div>
					<div th:if="${successMessage}">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<strong th:text="${successMessage}">Success!</strong> <br />
						</div>
					</div>
				</div>
			</div>


			<!-- /.page-header -->
			<div class="row">
				<div class="col-xs-12">
					<div class="space-10"></div>
					<div id="user-profile-1" class="user-profile row">
						<div class="col-xs-12 col-sm-4">
							<div class="row">
								<div class="col-xs-6 col-sm-5 pricing-span-header">
									<div class="widget-box transparent">
										<div class="widget-header">
											<h5 class="widget-title bigger">Locker ID </h5>
										</div>
										<div class="widget-body">
											<div class="widget-main no-padding">
												<ul class="list-unstyled list-striped pricing-table-header">
													<li>Locker Size </li>
													<li>Opened Date </li>
													<li>Expiry Date </li>
													<li>Account Number </li>
													<li>Locker Status </li>
													<li>Locker Exists Branch </li>
													<li th:if="${not #lists.isEmpty(customerIdValue?.statusEffDate)}">Status Effective Date </li>
													<li th:if="${not #lists.isEmpty(customerIdValue?.statusRemark)}">Status Remarks </li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="col-xs-6 col-sm-7 pricing-span-body">
									<div class="pricing-span">
										<div class="widget-box pricing-box-small center">
											<div class="widget-header">
												<h5 class="widget-title bigger" th:text="${customerIdValue?.lockerId}">
													Basic</h5>
											</div>

											<div class="widget-body">
												<div class="widget-main no-padding">
													<ul class="list-unstyled list-striped pricing-table">
														<li class="center" th:switch="${customerIdValue?.lockerSize}">
															<span class="bigger" th:case="'A'">A (6"H X 8"W)
															</span>
															<span class="bigger" th:case="'B'">B (6"H X 16"W)
															</span>
															<span class="bigger" th:case="'C'">C (12"H X 16"W)
															</span>
														</li>
														<li th:text="${#dates.format(customerIdValue?.openedDate, 'dd-MMM-yyyy')}"> Date </li>
															<li th:text="${#dates.format(customerIdValue?.expirationDate, 'dd-MMM-yyyy')}"> Date </li>
															<li th:text="${customerIdValue?.accountNumber}"> accountNumber </li>
															<li th:text="${customerIdValue?.lockerStatus}">Status </li>
															<li th:text="${customerIdValue?.branchName}"> branch </li>
															<li th:text="${#dates.format(customerIdValue?.statusEffDate, 'dd-MMM-yyyy')}"> Date </li>
															<li th:text="${customerIdValue?.statusRemark}">Status </li>
															
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- PAGE CONTENT ENDS -->

						<div class="space-6"></div>
						<div  th:if="${customerIdValue.lockerFile != null}">
							<div class="profile-info-value form-group center">
								<a th:href="@{'/files/'+${customerIdValue.lockerFile}}">
									<span class="badge badge-pink label-lg"
										th:text="${customerIdValue.lockerFile}"></span></a>
								<div id="pictures" class="tab-pane">
									<ul class="ace-thumbnails">
										<li>
											<a th:href="@{'/files/'+${customerIdValue.lockerFile}}"
												data-rel="colorbox">
												<img alt="Image file" class="img-responsive"
													th:src="@{'/files/'+${customerIdValue.lockerFile}}"
													width="350" />
												<div class="text"><i class="ace-icon fa fa-search-plus"></i>
													<div class="inner">
														Click</div>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="center">
									<a type="button" th:href="@{'/files/'+${customerIdValue.lockerFile}}"
										class="btn btn-sm btn-primary btn-white btn-round">
										<i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
										<span class="bigger-110">Download Document</span>
										<i class="icon-on-right ace-icon fa fa-arrow-right"></i>
									</a>
							</div>
						</div>	
							
							
							
			<div th:if="${customerIdValue?.albums != null} ? ${customerIdValue?.albums}" class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div >
					<hr/>
						<div class="page-header">
							<h1>Gallery</h1>
						</div>

						<ul class="ace-thumbnails clearfix">
							<li th:each="albums :${customerIdValue?.albums}"><a
								th:href="@{'/files/'+${albums}}" data-rel="colorbox"> 
								<img th:src="@{'/files/'+${albums}}" alt="Plant picture" width="350"/>
									<div class="text">
										<i class="ace-icon fa fa-search-plus"></i>
									</div>
							</a></li>

						</ul>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div>
				<!-- /.col -->
			</div>
			
			
			
			
			
			
						</div>
							<div class="col-xs-12 col-sm-8">
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Locker Holder's Name </div>
										<div class="profile-info-value">
											<span th:text="${customerIdValue?.lockerHolderName}">test</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Identification Details </div>
										<div class="profile-info-value">
											<span th:text="${customerIdValue?.holderIdentDetail}">test</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Contact Address  </div>
										<div class="profile-info-value">
											<span th:text="${customerIdValue?.holderAddress}">test</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Telephone </div>
										<div class="profile-info-value">
											<i class="fa fa-mobile light-red bigger-110"> </i>
											<span th:text="${customerIdValue?.holderMobile}">mobile</span>
											<span><i class="fa fa-phone light-orange bigger-110"> </i>
												<span th:text="${customerIdValue?.holderTelephone}">Telephone</span>
											</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Nominee's Name </div>
										<div class="profile-info-value">
											<span th:text="${customerIdValue?.beneficName}">test</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Identification Details (Nominee's)</div>
										<div class="profile-info-value">
											<span th:text="${customerIdValue?.beneficDetail}">test</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Nominee's Contact Address </div>
										<div class="profile-info-value">
											<span th:text="${customerIdValue?.beneficAddress}">test</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Nominee's Telephone </div>
										<div class="profile-info-value">
											<i class="fa fa-mobile light-red bigger-110"> </i>
											<span th:text="${customerIdValue?.beneficMobile}">mobile</span>
											<span><i class="fa fa-phone light-orange bigger-110"> </i>
												<span th:text="${customerIdValue?.beneficTelephone}">Telephone</span>
											</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Refundable Deposit (Rs.) </div>
										<div class="profile-info-value">
											<span th:text="${#numbers.formatDecimal(customerIdValue?.refundDeposit, 1, 'COMMA', 2, 'POINT')}">test</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Deposited Date (Refundable Deposit) </div>
										<div class="profile-info-value">
											<span th:text="${#dates.format(customerIdValue?.refundDepositDate, 'dd-MMM-yyyy')}"	>test</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Annual Fee (Rs.) </div>
										<div class="profile-info-value">
											<span th:text="${#numbers.formatDecimal(customerIdValue?.refundAnnualFee, 1, 'COMMA', 2, 'POINT')}">test</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Annual Fee Paid Date  </div>
										<div class="profile-info-value">
											<span th:text="${#dates.format(customerIdValue?.refundAnnualFeeDate, 'dd-MMM-yyyy')}">test</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Waiver Remarks (If any)</div>
										<div class="profile-info-value">
											<span th:text="${customerIdValue?.waiverRemark}">test</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Standing Instruction's Date (MM-DD) </div>
										<div class="profile-info-value">
											<span th:text="${#dates.format(customerIdValue?.standingInstDate, 'MM-dd')}">test</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Authorized Person (To operate Locker)  </div>
										<div class="profile-info-value">
											<span th:text="${customerIdValue?.authorizedPerson}">test</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Identification Details </div>
										<div class="profile-info-value">
											<span th:text="${customerIdValue?.authIdentificationDetail}">test</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Contact Address </div>
										<div class="profile-info-value">
											<span th:text="${customerIdValue?.authAddress}">test</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Telephone </div>
										<div class="profile-info-value">
											<i class="fa fa-mobile light-red bigger-110"> </i>
											<span th:text="${customerIdValue?.authMobile}">mobile</span>
											<span><i class="fa fa-phone light-orange bigger-110"> </i>
												<span th:text="${customerIdValue?.authTelephone}">Telephone</span>
											</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Authorization Remarks (If any) </div>
										<div class="profile-info-value">
											<span th:text="${customerIdValue?.authRemark}">test</span>
										</div>
									</div>
									
									
								</div>
								<div class="space-10"></div>
								<div class="container" sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR', 'SUPERVISOR','LOCKER')">
										<a th:href="@{/updateCustLocker/{id}(id=${customerIdValue?.id})}" class="btn btn-md btn-success no-border btn-round">Update Customer Details </a>
								</div>
							</div>
						</div>
					<div class="space-10"></div>
					
				</div>
			</div>
	</div>
</div>

	<!-- basic scripts -->
	<th:block layout:fragment="scripts">
		<script type="text/javascript">
			jQuery(function ($) {
				var $overflow = '';
				var colorbox_params = {
					rel: 'colorbox',
					reposition: true,
					scalePhotos: true,
					scrolling: false,
					previous: '<i class="ace-icon fa fa-arrow-left"></i>',
					next: '<i class="ace-icon fa fa-arrow-right"></i>',
					close: '&times;',
					current: '{current} of {total}',
					maxWidth: '100%',
					maxHeight: '100%',
					onOpen: function () {
						$overflow = document.body.style.overflow;
						document.body.style.overflow = 'hidden';
					},
					onClosed: function () {
						document.body.style.overflow = $overflow;
					},
					onComplete: function () {
						$.colorbox.resize();
					}
				};

				$('.ace-thumbnails [data-rel="colorbox"]').colorbox(
					colorbox_params);
				$("#cboxLoadingGraphic")
					.html(
						"<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon

				$(document).one('ajaxloadstart.page', function (e) {
					$('#colorbox, #cboxOverlay').remove();
				});
			})
		</script>

		<script th:inline="javascript">
			/*<![CDATA[*/
			var lockerIdVal = /*[[${lockerList}]]*/ 'LockerList';
			var lockerCustIdVal = /*[[${customerLockerList}]]*/ 'CustomerLockerList';
			/*]]>*/
			var i;
			function checkLockerStatusVal() {
				lockerIdVal.forEach((lockerVal) => {
					lockerCustIdVal.forEach((lockerCustVal) => {
						if (lockerVal.lockerId === lockerCustVal.lockerId) {
							document.getElementById("lockerStatusVal").innerHTML = "Paragraph changed!";

						}

					});
				});
			}

			checkLockerStatusVal(document.getElementById('lockerStatusVal'), lockerIdVal);
		</script>

		<script>
			$('.input-mask-date').mask('9999/99');
			$('.input-mask-mobile').mask('9999999999', { autoclear: false });
			$('.input-mask-accountNo').mask('99999999999999999999', { autoclear: false });


		</script>
		<script>
			autosize(document.querySelectorAll('textarea'));
		</script>
		<script>
			$(document).ready(function () {
				$('#idStautsEffDate').hide();
				$("#idLockerStatus").change(function () {
					showLockerStatusDate();
				});
			});

			function showLockerStatusDate() {
				let statusValue = $('#idLockerStatus').val();
				if ($.inArray(statusValue, ['Surrendered', 'Closed',
					'Blocked', 'Stopped']) >= 0) {
					$('#idStautsEffDate').show();
					$("[name='lockerStatusEffDate']").attr("required", true);
				} else {
					$('#idStautsEffDate').hide();
				}
			}
		</script>

		<script>
			if (!ace.vars['touch']) {
				$('.chosen-select').chosen({
					allow_single_deselect: true
				});
				//resize the chosen on window resize
				$(window).off('resize.chosen').on('resize.chosen', function () {
					$('.chosen-select').each(function () {
						var $this = $(this);
						$this.next().css({
							'width': $this.parent().width()
						});
					})
				}).trigger('resize.chosen');
				//resize chosen on sidebar collapse/expand
				$(document).on('settings.ace.chosen',
					function (e, event_name, event_val) {
						if (event_name != 'sidebar_collapsed')
							return;
						$('.chosen-select').each(function () {
							var $this = $(this);
							$this.next().css({
								'width': $this.parent().width()
							});
						})
					});
			}
			if (!ace.vars['old_ie'])
				$('.date-timepicker1').datetimepicker({
					//format: 'MM/DD h:mm:ss A',//use this option to display seconds
					icons: {
						time: 'fa fa-clock-o',
						date: 'fa fa-calendar',
						up: 'fa fa-chevron-up',
						down: 'fa fa-chevron-down',
						previous: 'fa fa-chevron-left',
						next: 'fa fa-chevron-right',
						today: 'fa fa-arrows ',
						clear: 'fa fa-trash',
						close: 'fa fa-times'
					}
				}).next().on(ace.click_event, function () {
					$(this).prev().focus();
				});

			$('#idLockerFile').ace_file_input({
				style: 'well',
				btn_choose: 'Drop files here or click to choose',
				btn_change: null,
				no_icon: 'ace-icon fa fa-cloud-upload',
				droppable: true,
				thumbnail: 'small'//large | fit
				//,icon_remove:null//set null, to hide remove/reset button
				/**,before_change:function(files, dropped) {
					//Check an example below
					//or examples/file-upload.html
					return true;
				}*/
				/**,before_remove : function() {
					return true;
				}*/
				,
				preview_error: function (filename, error_code) {
					//name of the file that failed
					//error_code values
					//1 = 'FILE_LOAD_FAILED',
					//2 = 'IMAGE_LOAD_FAILED',
					//3 = 'THUMBNAIL_FAILED'
					//alert(error_code);
				}

			}).on('change', function () {
				//console.log($(this).data('ace_input_files'));
				//console.log($(this).data('ace_input_method'));
			});
		</script>
		<script>
			if (!ace.vars['old_ie'])
				$('#month-daypicker').datetimepicker({
					format: 'MM-DD',//use this option to display seconds
					icons: {
						time: 'fa fa-clock-o',
						date: 'fa fa-calendar',
						up: 'fa fa-chevron-up',
						down: 'fa fa-chevron-down',
						previous: 'fa fa-chevron-left',
						next: 'fa fa-chevron-right',
						today: 'fa fa-arrows ',
						clear: 'fa fa-trash',
						close: 'fa fa-times'
					}
				}).next().on(ace.click_event, function () {
					$(this).prev().focus();
				});
		</script>
	</th:block>
</body>

</html>