<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<meta charset="ISO-8859-1" />
<title>Occupied Customer Locker List</title>


<th:block layout:fragment="styles">
<link rel="stylesheet" href="../static/css/daterangepicker.min.css" th:href="@{/css/daterangepicker.min.css}" />
    <style type="text/css">
		  td.details-control {
		            text-align:center;
		            color:forestgreen;
		    cursor: pointer;
		}
		tr.shown td.details-control {
		    text-align:center; 
		    color:red;
		}
    </style>
  </th:block>  
 </head>
<body>

	<div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="/dashboard">Home</a>
				</li>
				<li>Locker</li>

				<li class="active">Occupied Customer's Locker List</li>
			</ul>
			<!-- /.breadcrumb -->
		</div>

		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div th:if="${message}">
						<h2 class="alert alert-danger" th:text="${message}"/>
					</div>
					<div th:if="${successMessage}">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<strong th:text="${successMessage}">Success!</strong> <br />
						</div>
					</div>
				</div>				
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-9">
					<div class="search-area well well-sm">
						<div class="search-filter-header bg-primary">
							<h5 class="smaller no-margin-bottom">
								<i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp; Refine your Search
							</h5>
						</div>
						<div class="space-10"></div>								
							<fieldset class="form-inline">
								<div class="input-group col-xs-10 col-sm-3"> 
									<select class="form-control" id="branchName-dropdown" name="branchName" required></select>                                               
	                            </div>
	                            	
	                             <div class="input-group col-xs-10 col-sm-3">
									<select class="chosen-select form-control"
										id="idLockerStatus" name="lockerStatus"
										data-placeholder="Choose a Locker status..."
										data-error="Please select Locker status field." required>
										<option value=""></option>
										<option value="Active">Active</option>
										<option value="Inactive">Inactive</option>
										<option value="Payment Due">Payment Due</option>
										<option value="Surrendered">Surrendered</option>
										<option value="Closed">Closed</option>
										<option value="Blocked">Blocked</option>
										<option value="Stopped">Stopped</option>
									</select>                                         
	                             </div>
							<div class="inline pull-right">
								<label for="idDateRange"> Expiry Date Range Picker: </label>
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-calendar bigger-110"></i></span> <input
										class="form-control" type="text" name="date-range-picker"
										data-date-format="yyyy-mm-dd" id="idDateRange" />
								</div>
							</div>
						</fieldset>
						<div class="space-4"></div>	
					</div>
				</div>
				
				<div class="col-sm-3 ">
					<a th:href="@{'/custLockerAll'}" role="button" class="btn btn-lg btn-success  btn-bold btn-white btn-round">
					<i class="ace-icon fa fa-hand-o-right icon-animated-vertical blue"></i> Click here to view all list </a>
				</div>
			</div>					
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					
					<div class="table-responsive">					
						<div class="table-header">Occupied Customer's Locker List
						</div>
						 <table width="100%" id="dynamic-table" aria-hidden="true"
								class="table table-striped table-bordered table-hover" >
					        <thead>
					            <tr>
					                    <th width="5%" class="detail-col"></th>
	    								<th width="12%">Branch(Locker Exist)</th>
	    								<th width="8%">Locker Id</th>
	    								<th width="8%">Locker Size</th>
	    								<th width="10%">Opened Date</th>
	    								<th width="10%">Expiry Date</th>
	    								<th width="10%">A/C Number</th>
	    								<th width="10%">Holders Name</th>
	    								<th width="10%" data-class='hidden'>Holder's Identity Detail</th>
	    								<th width="8%">Locker Status </th>
	    								<th width="12%">Latest Locker Status Effective Date </th>
	    								<th width="10%">Standing Instruction Date</th>
	    								<th width="12%" data-class='hidden'>Refund Annual Fee Date </th>
										<th width="15%" data-class='hidden'>Authorized Person </th>
					            </tr>
					        </thead>
					    </table>   
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.content -->
	</div>
	<!-- /.main-content -->

	<th:block layout:fragment="scripts">
 		<script>
 		$(function() {
 			var start = moment().subtract(29, 'days');
 		    var end = moment();
 		    
 			  $('#idDateRange').daterangepicker({
 				startDate: start,
 		        endDate: end,
 			    opens: 'left',
 			    autoclose: true,
 				todayHighlight: true,
 				ranges: {
 		           'Today': [moment(), moment()],
 		           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
 		           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
 		           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
 		           'This Month': [moment().startOf('month'), moment().endOf('month')],
 		           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
 		        },
 			 locale: {
 				format: 'YYYY-MM-DD'
 			    }
 			  }, function(start, end, label) {
 				 ajaxGetCustLockerByExpiryDateBetween(start, end);
 			  });
 			  
 			});
 		</script>
 		
 		
    <script>
		if (!ace.vars['touch']) {
			$('.chosen-select').chosen({
				allow_single_deselect : true
			});
			//resize the chosen on window resize
			$(window).off('resize.chosen').on('resize.chosen',
					function() {
						$('.chosen-select').each(function() {
							var $this = $(this);
							$this.next().css({
								'width' : $this.parent().width()
							});
						})
					}).trigger('resize.chosen');
			//resize chosen on sidebar collapse/expand
			$(document).on('settings.ace.chosen',
					function(e, event_name, event_val) {
						if (event_name != 'sidebar_collapsed')
							return;
						$('.chosen-select').each(function() {
							var $this = $(this);
							$this.next().css({
								'width' : $this.parent().width()
							});
						})
					});
		}
	</script>

    
<script>
$(document).ready(function () {
	 ajaxGetCustLocker();
});

	function ajaxGetCustLocker(){
		const url = '/getcustlocker/all';
			$.getJSON(url, function (data) {
				createDataTable(data);
			});
	 }	
	 
	$("#branchName-dropdown").change(function() {
		 if(!$('#idLockerStatus').val()){
				ajaxgetLcokerLogByBranchName();
		 }else{
			 ajaxgetCustLockerByStatusBranch();
		 }
		
   });
	
	$("#idLockerStatus").change(function() {
		if(!$('#branchName-dropdown').val()){
			ajaxgetLockerLogByStatus();
		}else{
			ajaxgetCustLockerByStatusBranch();
		 }
		
	});

	
	function ajaxgetLockerLogByStatus(){
		 let lockerStatusVal = $('#idLockerStatus').val();
		const url = '/getcustlockerlist/lockerStatus/'+lockerStatusVal;
		$.getJSON(url, function (data) {
			createDataTable(data);
		});
	}
	

	
	function ajaxgetLcokerLogByBranchName(){
		let branchName = $('#branchName-dropdown').val();
		const url = '/getcustlockerlist/branchname/'+branchName;
		$.getJSON(url, function (data) {
			createDataTable(data);
		});
	}
	
	function ajaxgetCustLockerByStatusBranch(){
		 let lockerStatusVal = $('#idLockerStatus').val();
		 let branchVal = $('#branchName-dropdown').val();
		const url = '/getcustlockerlist/status/'+lockerStatusVal+'/'+branchVal;
		$.getJSON(url, function (data) {
			createDataTable(data);
		});
	}
	
	
	function ajaxGetCustLockerByExpiryDateBetween(start, end){
		let startDate=start.format('YYYY-MM-DD');
		let endDate=end.format('YYYY-MM-DD');
		const url = '/getcustlockerlist/'+startDate+'/'+endDate;
		$.getJSON(url, function (data) {
			createDataTable(data);
		});
	}
 		
 		function createDataTable(data){
	         var table = $('#dynamic-table').DataTable({
	        	 "order": [ 5, "asc" ],
	        	 destroy: true,
	             "data": data,
	             select:"single",
	             "columns": [
 	                 {
 	                     "className": 'details-control',
 	                     "orderable": false,
 	                     "data": null,
 	                     "defaultContent": '',
 	                     "render": function () {
 	                         return '<i class="ace-icon fa fa-angle-double-down fa-2x" title="Show details" aria-hidden="true"></i>';
 	                     },
 	                     width:"15px"
 	                 },
 	                {
							"data" : "branchName",
							"render" : function(data, type,
									row, meta) { // render event defines the markup of the cell text 
								var a = '<a href="viewUserLocker/' + row["checkLockerVal"]+ '"> '
										+ row.branchName
										+ '</a>'; // row object contains the row data
								return a;
							}
						}, 
 	                 { "data": "lockerId" },
					{ "data": "lockerSize" },
					{ "data": "openedDate",
 	                	 "render" : function(data, type, row, meta) {
 								if (data === null) return "";
 								var thisDate = moment(new Date(data)).format("YYYY-MM-DD");
 								return thisDate
 							}
 	                 },
 	                 { "data": "expirationDate",
 	                	 "render" : function(data, type, row, meta) {
 								if (data === null) return "";
 								var thisDate = moment(new Date(data)).format("YYYY-MM-DD");
 								return thisDate
							 }
					 },
 	                 { "data": "accountNumber" },
 	                 { "data": "lockerHolderName" },
 	                 { "data": "holderIdentDetail" },
 	                 { "data": "lockerStatus" },
 	                 { "data": "statusEffDate",
 	                	 "render" : function(data, type, row, meta) {
 								if (data === null) return "";
 								var thisDate = moment(new Date(data)).format("YYYY-MM-DD");
 								return thisDate
							 }
						 },
						 { "data": "standingInstDate",
 	                	 "render" : function(data, type, row, meta) {
 								if (data === null) return "";
 								var thisDate = moment(new Date(data)).format("MM-DD");
 								return thisDate
							 }
						 },
 	                 { "data": "refundAnnualFeeDate",
 	                	 "render" : function(data, type, row, meta) {
 								if (data === null) return "";
 								var thisDate = moment(new Date(data)).format("YYYY-MM-DD");
 								return thisDate
							 }
						 },
 	                 { "data": "authorizedPerson" }
 	             ],             
 	             dom: 'Blfrtip',
 	             buttons: [
 	            	 {
 							"extend": "copy",
 							"text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
 							"className": "btn btn-white btn-primary btn-bold"
 						  },
 						  {
 							"extend": "csv",
 							"text": "<i class='fa fa-file-excel-o bigger-110 blue'></i> <span class='hidden'>Export to CSV</span>",
 							"className": "btn btn-white btn-primary btn-bold"
 						  },
 						  {
 							"extend": "excel",
 							"text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
 							"className": "btn btn-white btn-primary btn-bold",
 							"exportOptions": { modifier: { page: 'all'} }
 						  },
 						  {
 							"extend": "pdf",
 							"text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
 							"className": "btn btn-white btn-primary btn-bold",
 							"exportOptions": { modifier: { page: 'all'} }
 						  },
 						  {
 							"extend": "print",
 							"text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
 							"className": "btn btn-white btn-primary btn-bold",							
 							autoPrint: true,
 							orientation:'landscape',
 							title: "Customer's Locker Details"
 						  }		  
 	             ]
	            
	         });
	        
	         // Add event listener for opening and closing details
	         $('#dynamic-table tbody').on('click', 'td.details-control', function () {
	             var tr = $(this).closest('tr');
	             var tdi = tr.find("i.fa");
	             var row = table.row(tr);

	             if (row.child.isShown()) {
	                 // This row is already open - close it
	                 row.child.hide();
	                 tr.removeClass('shown');
	                 tdi.first().removeClass('fa fa-angle-double-up fa-2x');
	                 tdi.first().addClass('fa fa-angle-double-down fa-2x');
	             }
	             else {
	                 // Open this row
	                 row.child(format(row.data())).show();
	                 tr.addClass('shown');
	                 tdi.first().removeClass('fa fa-angle-double-down fa-2x');
	                 tdi.first().addClass('fa fa-angle-double-up fa-2x');
	             }
	         });

	         table.on("user-select", function (e, dt, type, cell, originalEvent) {
	             if ($(cell.node()).hasClass("details-control")) {
	                 e.preventDefault();
	             }
	         });
	         
	  	    function format(d){
	 	         // `d` is the original data object for the row
	 	         return '<table class="table table-striped table-bordered table-hover">' +
	 	             '<tr>' +
	 	                 '<td width="25%"><strong>Locker holders Name: </strong></td>' +
	 	                 '<td>' + d.lockerHolderName + '</td>' +
	 	             '</tr>' +
	 	             '<tr>' +
	 	                 '<td width="25%"><strong>Account Number : </strong></td>' +
	 	                 '<td>' + d.accountNumber + '</td>' +
					  '</tr>' +
					  '<tr>' +
	 	                 '<td width="25%"><strong>Identification Details : </strong></td>' +
	 	                 '<td>' + d.holderIdentDetail + '</td>' +
	 	             '</tr>' +
	 		         '<tr>' +
	 			         '<td width="25%"><strong>Contact Address : </strong></td>' +
	 			         '<td>' + d.holderAddress + '</td>' +
	 			     '</tr>' +
	 			     '<tr>' +
	 			         '<td width="25%"><strong>Mobile Number : </strong></td>' +
	 			         '<td><i class="fa fa-mobile light-red bigger-110"> </i> ' + d.holderMobile + ', <i class="fa fa-phone light-orange bigger-110"> </i>  ' +d.holderTelephone+ '</td>' +
	 			     '</tr>' +
					  '<tr>' +
	 				     '<td width="25%"><strong>Locker Status : </strong></td>' +
	 				     '<td>' + d.lockerStatus + '</td>' +
					  '</tr>' +
					  '<tr>' +
	 				     '<td width="25%"><strong>Status Remarks : </strong></td>' +
	 				     '<td>' + d.statusRemark + '</td>' +
					  '</tr>' +
					  '<tr>' +
	 				     '<td width="25%"><strong>Nominee Name : </strong></td>' +
	 				     '<td>' + d.beneficName + '</td>' +
					  '</tr>' +
					  '<tr>' +
	 				     '<td width="25%"><strong>Identification Details (Nominee) : </strong></td>' +
	 				     '<td>' + d.beneficDetail + '</td>' +
					  '</tr>' +
					  '<tr>' +
	 				     '<td width="25%"><strong>Contact Address : </strong></td>' +
	 				     '<td>' + d.beneficAddress + '</td>' +
					  '</tr>' +
					  '<tr>' +
	 				     '<td width="25%"><strong>Phone Number	 : </strong></td>' +
	 				     '<td><i class="fa fa-mobile light-red bigger-110"> </i> ' + d.beneficMobile +', <i class="fa fa-phone light-orange bigger-110"> </i> ' + d.beneficTelephone + '</td>' +
					  '</tr>' +
					  '<tr>' +
	 				     '<td width="25%"><strong>Refundable Deposit (Rs.): </strong></td>' +
	 				     '<td>' + currency(d.refundDeposit, {useVedic: true, decimal: '.',symbol: 'Rs. ', formatWithSymbol: true, precision: 2}).format()
	 				      + '</td>' +
					  '</tr>' +
					  '<tr>' +
	 				     '<td width="25%"><strong>Annual Fee (Rs.) : </strong></td>' +
	 				     '<td>' + currency(d.refundAnnualFee, {useVedic: true, decimal: '.',symbol: 'Rs. ', formatWithSymbol: true, precision: 2}).format()
	 				      + '</td>' +
					  '</tr>' +
					  '<tr>' +
						  '<td width="25%"><strong>Refund Annual Fee Paid Date : </strong></td>' +
						   '<td>' + moment(new Date(d.refundAnnualFeeDate)).format("YYYY-MM-DD") + '</td>' +
					  '</tr>' +
					  '<tr>' +
	 				     '<td width="25%"><strong>Waiver Remarks : </strong></td>' +
	 				     '<td>' + d.waiverRemark + '</td>' +
					  '</tr>' +
					  '<tr>' +
						  '<td width="25%"><strong>Standing Instruction Date (MM-DD) : </strong></td>' +
						  '<td>' + moment(new Date(d.standingInstDate)).format("MM-DD") + '</td>' +
					  '</tr>' +
					  '<tr>' +
	 				     '<td width="25%"><strong>Authorized Person (To operate Locker) : </strong></td>' +
	 				     '<td>' + d.authorizedPerson + '</td>' +
					  '</tr>' +
					  '<tr>' +
	 				     '<td width="25%"><strong>Identification Details : </strong></td>' +
	 				     '<td>' + d.authIdentificationDetail + '</td>' +
					  '</tr>' +
					  '<tr>' +
	 				     '<td width="25%"><strong>Contact Address : </strong></td>' +
	 				     '<td>' + d.authAddress + '</td>' +
					  '</tr>' +
					  '<tr>' +
	 				     '<td width="25%"><strong>Phone Number : </strong></td>' +
						  '<td><i class="fa fa-mobile light-red bigger-110"> </i> ' + d.authMobile +', <i class="fa fa-phone light-orange bigger-110"> </i>  ' + d.authTelephone + '</td>' +
					'</tr>'+  
					'<tr>' +
	 				     '<td width="25%"><strong>Authorization Remarks : </strong></td>' +
	 				     '<td>' + d.authRemark + '</td>' +
					  '</tr>' +
	 	         '</table>';  
	 	    }
		}
		
</script>
					
	</th:block>

</body>
</html>