<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>Update Error/Issue/Log Page</title>
<th:block layout:fragment="styles">

</th:block>
</head>
<body>
	<div>
		<div class="main-container">
			<div class="main-content">
				<div class="page-content" layout:fragment="content">
					<div class="page-header">
						<h1>
							<i class="ace-icon fa fa-money"></i> Update Error/Issue/Log Form
						</h1>
					</div>
					<!-- /.page-header -->
					<div class="row">
						<div th:if="${message}">
							<h2 class="alert alert-danger" th:text="${message}" />
						</div>
						<div class="col-xs-12">
							<form autocomplete="off" th:object="${errorIssue}" method="POST"
								th:action="@{/updateerrordata}" class="form-horizontal"
								data-toggle="validator" role="form">
								
								<input type="hidden" name="id" th:value="${errorIssueValue.id}" />
								
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-4 control-label no-padding-right"
											for="date-timepicker1"> Incident's Value Date <span class="red">*</span>: </label>
										<div class="col-sm-8">
											<input id="date-timepicker1" type="text" name="incidentValueDate"
												class="col-xs-12 col-sm-12 date-picker"
												th:value="${{errorIssueValue.incidentValueDate}}"
												data-date-format="YYYY-MM-DD hh:mm:ss A"
												placeholder="Select date and time" /> <span
												class="help-inline col-xs-12 col-sm-7"> </span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label no-padding-right"
											for="idBranchName"> Branch <span class="red">*</span>: </label>
										<div class="col-sm-8">
											<select class="chosen-select col-xs-12 col-sm-12"
												id="idBranchName" name="branchName"
												data-placeholder="Choose Branch..." required>
												<option th:each="branches : ${branchList}"
													th:value="${branches.branchName}"
													th:text="${branches.branchName}"></option>
											</select> <span class="help-inline col-xs-12 col-sm-7"> </span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label no-padding-right"
											for="idDepartUnit"> Department/Unit <span class="red">*</span>: </label>
										<div class="col-sm-8">
											<input name="departmentUnit" id="idDepartUnit"
												th:value="${{errorIssueValue.departmentUnit}}"
												placeholder="Department/Unit" type="text"
												class="col-xs-12 col-sm-12" required> <span
												class="help-inline col-xs-12 col-sm-7"> </span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label no-padding-right"
											for="idTrans"> Transaction ID: </label>
										<div class="col-sm-8">
											<input name="transactionId" id="idTrans"
												pattern="[a-zA-Z0-9-+/ ]*" style="text-transform: uppercase;"
												th:value="${{errorIssueValue.transactionId}}"
												onkeyup="this.value = this.value.toUpperCase();"
												placeholder="Enter Transaction ID" type="text"
												class="col-xs-12 col-sm-12" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label no-padding-right"
											for="idAmount"> Amount: </label>
										<div class="col-sm-8">
										<input class="col-xs-12 col-sm-12" id="idAmount" type="number"
											placeholder="0.00" min="0" step="any"
											pattern="^\d+(?:\.\d{1,2})?$" value="0.0"
											onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'#f28c0e14'"
											name="transactionAmount" th:value="${{errorIssueValue.transactionAmount}}" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label no-padding-right"
											for="idTransAddedBy"> Transaction Entered By: </label>
										<div class="col-sm-8">
											<input name="trxnEnteredBy" id="idTransAddedBy"
												th:value="${errorIssueValue.trxnEnteredBy}"
												placeholder="Transaction Entered By" type="text"
												class="col-xs-12 col-sm-12" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label no-padding-right"
											for="idTransApprovedBy"> Transaction Approved By: </label>
										<div class="col-sm-8">
											<input name="trxnApprovedBy" id="idTransApprovedBy"
												th:value="${errorIssueValue.trxnApprovedBy}"
												placeholder="Transaction Approved By" type="text"
												class="col-xs-12 col-sm-12" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label no-padding-right"
											for="idNature"> Nature of Error <span class="red">*</span>: </label>
										<div class="col-sm-8">
											<select class="chosen-select col-xs-12 col-sm-12"
												id="idNature" name="natureOfError"
												data-placeholder="Choose a nature of Error..." required>
												<option value="Transaction Input Error">Transaction
													Input Error</option>
												<option value="System Error">System Error</option>
												<option value="Both (Transaction and System Error)">Both
													(Transaction and System Error)</option>
												<option value="Others">Others</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label no-padding-right"
											for="idErrorDetail"> Details of Error <span class="red">*</span>: </label>
										<div class="col-sm-8">
											<textarea name="errorDetail" placeholder="Description"
												th:value="${errorIssueValue.errorDetail}"
												th:text="${errorIssueValue.errorDetail}" required
												id="idErrorDetail" class="col-xs-12 col-sm-12"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label no-padding-right"
											for="idReportedBy"> Reported By <span class="red">*</span>: </label>
										<div class="col-sm-8">
											<input name="reportedBy" id="idReportedBy"
												th:value="${{errorIssueValue.reportedBy}}"
												placeholder="Reported By" type="text"
												class="col-xs-12 col-sm-12" required />
										</div>
									</div>

								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right"
											for="idCause"> Cause of Error <span class="red">*</span>: </label>
										<div class="col-sm-7">
											<select class="chosen-select" id="idCause"
												name="causeOfError"
												data-placeholder="Choose a Cause of Error..." required>
												<option value="Human Error">Human Error</option>
												<option value="Lack of Knowledge">Lack of Knowledge</option>
												<option value="Intentional">Intentional</option>
												<option value="Negligence">Negligence</option>
												<option value="Process Unclear">Process Unclear</option>
												<option value="System Error">System Error</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right"
											for="idSteps"> Necessary Steps to Address Error <span class="red">*</span>: </label>
										<div class="col-sm-7">
											<select class="chosen-select col-xs-12 col-sm-12"
												id="idSteps" name="stepsToAddressError"
												data-placeholder="Choose Necessary Steps to Address Error..."
												required>
												<option value="Reversal Entry">Reversal Entry</option>
												<option value="Adjustment Entry">Adjustment Entry</option>
												<option value="Rectification Entry">Rectification Entry</option>
												<option value="Others">Others</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right"
											for="idBriedDetail"> Brief Details of Resolutions
											(How to fix error???) <span class="red">*</span>: </label>
										<div class="col-sm-7">
											<textarea name="resolutionDetail" placeholder="Description"
												required th:value="${errorIssueValue.resolutionDetail}"
												th:text="${errorIssueValue.resolutionDetail}"
												id="idBriedDetail" class="col-xs-12 col-sm-12"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right"
											for="idApproveGivenBy"> Approval Given By (For
											Resolution) <span class="red">*</span>: </label>
										<div class="col-sm-7">
											<input name="resolutionApprovalGivenBy" id="idApproveGivenBy"
												th:value="${errorIssueValue.resolutionApprovalGivenBy}"
												style="text-transform: uppercase;"
												onkeyup="this.value = this.value.toUpperCase();"
												placeholder="Approval Given By" type="text"
												class="col-xs-12 col-sm-12" required>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right"
											for="idProgressStauts"> Progress Status of Issue <span class="red">*</span>: </label>
										<div class="col-sm-7">
											<select class="chosen-select col-xs-12 col-sm-12"
												id="idProgressStauts" name="progressStatus"
												data-placeholder="Choose a Progress Status..." required>
												<option value="Pending">Pending</option>
												<option value="Resolved">Resolved</option>
											</select>
										</div>
									</div>
									<div class="form-group" id="idResolvedDateOpt">
										<label class="col-sm-5 control-label no-padding-right"
											for="idResolvedDate"> Resolved Date <span class="red">*</span>: </label>
										<div class="col-sm-7">
											<input name="resolvedDate" id="idResolvedDate"
												data-date-format="YYYY-MM-DD hh:mm:ss A"
												th:value="${{errorIssueValue.resolvedDate}}"
												placeholder="Select Issue Resolved Date" type="text"
												class="col-xs-12 col-sm-12 date-picker">
										</div>

									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right"
											for="idErrorLodgedBy"><span class="blue">
												Error Lodged By <span class="red">*</span>: </span></label>
										<div class="col-sm-7">
											<input name="errorLodgedBy" id="idErrorLodgedBy"
												th:value="${errorIssueValue.errorLodgedBy}" type="text"
												class="col-xs-12 col-sm-12" required readonly>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label no-padding-right"
											for="idErrorLodgedBy"><span class="orange">
												Error Lodged Modified By <span class="red">*</span>: </span></label>
										<div class="col-sm-7">
											<input name="errorLodgedModifiedBy" id="idErrorLodgedBy"
												th:value="${currentUser.email}" type="text"
												class="col-xs-12 col-sm-12" required readonly>
										</div>
									</div>
									<div class="clearfix form-actions">
										<button class="width-30 pull-left btn btn-sm" type="reset">
											<i class="ace-icon fa fa-refresh"></i> <span
												class="bigger-110">Reset</span>
										</button>
										<button type="submit"
											class="width-65 pull-right btn btn-sm btn-success">
											<span class="bigger-110"> Submit </span> <i
												class="ace-icon fa fa-arrow-right icon-on-right"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- basic scripts -->
	<th:block layout:fragment="scripts">

		<script th:inline="javascript">
			/*<![CDATA[*/
			var branchNameVal = /*[[${errorIssueValue.branchName}]]*/'branchName';
			var natureOfError = /*[[${errorIssueValue.natureOfError}]]*/'natureOfError';
			var causeOfError = /*[[${errorIssueValue.causeOfError}]]*/'causeOfError';
			var stepsForError = /*[[${errorIssueValue.stepsToAddressError}]]*/'stepsToAddressError';
			var progressStatus = /*[[${errorIssueValue.progressStatus}]]*/'progressStatus';
			/*]]>*/
			function setSelectedIndex(s, v) {
				for (var i = 0; i < s.options.length; i++) {
					if (s.options[i].value == v) {
						s.options[i].selected = true;
						break;
					}
				}
				return;
			}

			setSelectedIndex(document.getElementById('idBranchName'),
					branchNameVal);
			setSelectedIndex(document.getElementById('idNature'), natureOfError);
			setSelectedIndex(document.getElementById('idCause'), causeOfError);
			setSelectedIndex(document.getElementById('idSteps'), stepsForError);
			setSelectedIndex(document.getElementById('idProgressStauts'),
					progressStatus);
			
			
			
			$(document).ready(function() {
				$('#idResolvedDateOpt').hide();
				showResolvedDateBox(progressStatus);
				$("#idProgressStauts").change(function() {
					let statusValue = $('#idProgressStauts').val();
					showResolvedDateBox(statusValue);
				});
			});
			
			function showResolvedDateBox(progressStatus) {
				if (progressStatus === 'Resolved') {
					$('#idResolvedDateOpt').show();
					$("[name='issueResolvedDate']").attr("required", true);
				} else {
					$('#idResolvedDateOpt').hide();
				}
			}
		</script>
		<script>
			autosize(document.querySelectorAll('textarea'));
		</script>
		<script>
	


		</script>
		<script type="text/javascript">
			$('.chosen-select').chosen({
				width : "100%"
			});
		</script>
		<script>
			if (!ace.vars['old_ie'])
				$('#date-timepicker1, #idResolvedDate').datetimepicker({
					icons : {
						time : 'fa fa-clock-o',
						date : 'fa fa-calendar',
						up : 'fa fa-chevron-up',
						down : 'fa fa-chevron-down',
						previous : 'fa fa-chevron-left',
						next : 'fa fa-chevron-right',
						today : 'fa fa-arrows ',
						clear : 'fa fa-trash',
						close : 'fa fa-times'
					}
				}).next().on(ace.click_event, function() {
					$(this).prev().focus();
				});
		</script>

	</th:block>

</body>
</html>
