<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{branchmanager/bm_layout/bm_default}">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>Account Opening Log</title>

<th:block layout:fragment="styles">
	<link rel="stylesheet" href="../static/css/daterangepicker.min.css"
		th:href="@{/css/daterangepicker.min.css}" />
	<style type="text/css">
td.details-control {
	text-align: center;
	color: forestgreen;
	cursor: pointer;
}

tr.shown td.details-control {
	text-align: center;
	color: red;
}
</style>
	<style>
.table>tbody>tr>td {
	padding: 4px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 2px solid #ddd;
	border-collapse: collapse;
}

</style>
</th:block>
</head>
<body>
	<div>
		<div layout:fragment="content">
			<div class="page-content">
				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						<div th:if="${message}">
							<h2 class="alert alert-danger" th:text="${message}" />
						</div>
						<div th:if="${successMessage}">
							<div class="alert alert-success">
								<button type="button" class="close" data-dismiss="alert">
									<i class="ace-icon fa fa-times"></i>
								</button>
								<strong th:text="${successMessage}">Success!</strong> <br />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="tabbable">
							<ul
								class="nav nav-tabs padding-12 tab-color-blue background-blue"
								id="myTab4">
								<li 
									sec:authorize="hasAnyAuthority('BM')"><a
									data-toggle="tab" href="#newCardRequest" aria-expanded="true">Register Daily Report</a></li>

								<li class="active"
									sec:authorize="hasAnyAuthority('BM')">
									<a data-toggle="tab" href="#accountLogList"
									aria-expanded="true"> View Report &nbsp; </a>

								</li>

								<li class=""
									sec:authorize="hasAnyAuthority('BM')"><a
									data-toggle="tab" href="#cardPieChart">Summary/Statistics - Daily Report&nbsp;&nbsp;<i
										class="ace-icon fa fa-pie-chart red bigger-120"></i>
								</a></li>

							</ul>
							<div class="tab-content">
								<div id="newCardRequest" class="tab-pane fade"
									sec:authorize="hasAnyAuthority('BM')">
									<div class="position-relative">
										<div class="row">
									<div class="pull-left alert alert-success no-margin alert-dismissable col-sm-12">
										<button type="button" class="close" data-dismiss="alert">
											<i class="ace-icon fa fa-times"></i>
										</button>

										<i class="ace-icon fa fa-umbrella bigger-120 blue"></i>
										<strong>Note:</strong><br>
		If <b class="red"> Call/Current Account</b>  opened having Standing Instructions in such case count the number of opened <b class="red">Current/Call Account(Institutional)</b> as just 1, not the 2.
		<br> E.g. 
		<b class="red">Current Account</b> & <b class="red">Call Account</b> opened in the name of <b class="blue">"XYZ Limited"</b>  then count the number of open <b class="red"> Current/Call Account(Institutional)*</b> as just 1.

									</div>
									
											<div class="col-sm-12 table-responsive">
												<form th:object="${accountInfo}" method="POST" autocomplete="off"
													th:action="@{/bm/addaccountinfo}" id="myform"
													data-toggle="validator" role="form">
													<div class="col-xs-12 col-sm-3">
														<div class="col">
															<div class="row well">
																<div class="col">
																	<label for="idBranchName">Branch<small
																		class="red"> *</small></label> <br /> <select
																		class="select2 form-control" id="idBranchName"
																		name="branchName" data-placeholder="Choose Branch..."
																		data-error="Please select Branch field." required>
																		<option value=""></option>
																		<option th:text="${branchVal}"
									                                        th:value="${branchVal}"
									                                        th:selected="${branchVal}"></option>
																	</select>
																	<div class="space-6"></div>
						
																	<div class="form-group">
																	<label for="idRegisteredDate"> Date<small
																		class="red"> *</small></label> <br />
																	<div class="input-group">
																		<input id="idRegisteredDate" type="text"
																			name="registeredDate" data-date-format="YYYY-MM-DD"
																			placeholder="Select date..."
																			class="form-control date-selector" 
																			data-error="Please select Date." required /> <span
																			class="input-group-addon"> <i
																			class="fa fa-calendar bigger-110"></i>
																		</span>
																	</div>
																		<div class="help-block with-errors"></div>
																	</div>
																</div>
																<p class="icon-animated-vertical"></p>
															</div>
															<div class="row">
																<div class="col">
																	<div class="widget-box">
																		<div class="widget-header"
																			style="background-color: #0D4FA7;">
																			<h5 class="widget-title">Call / Visit Summary</h5>
																		</div>

																		<div class="widget-body"
																			style="background-color: #F5F5F5;">
																			<div class="widget-main ">
																				<div class="input-group">
																					<label class="col-sm-8" for="idNoOfCust">Number of Customer:<small
																		class="red"> *</small>
																						&nbsp;</label> <input type="number" placeholder="0" name="visitCustNo"
																						onblur="this.parentNode.parentNode.style.backgroundColor=/^[0-9]+$/.test(this.value)?'inherit':'red'" 
																						min="0" step="any" id="idNoOfCust"
																						class="col-sm-4 pull-right" pattern="^[0-9]+$" required>
																				</div>
																				<div class="space-6"></div>
																				<label class="control-label block" for="idvisitDetails">Details<small
																		class="red"> *</small>
																				</label>
																				<textarea rows="12" name="visitDetails" id="idvisitDetails" required
																					placeholder="Mention Call/Visit summary details here!"
																					class="form-control"></textarea>
																			</div>
																		</div>
																	</div>
																	<hr />
																	<input id="idLodgedBy" type="hidden" name="lodgedBy"
																		th:value="${currentUser.email}" readonly />
																</div>
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-9">
														<table
															class="table table-striped table-bordered table-hover"
															aria-hidden="true">
															<thead>
																<tr>
																	<th width="30%" class="text-center">Account
																		Category</th>
																	<th class="text-center" width="10%">Total Count<small
																		class="red"> *</small></th>
																	<th class="text-center" width="25%">Total Amount
																		(Rs.)<small
																		class="red"> *</small></th>
																	<th class="text-center" width="35%">Remarks</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td class="bolder">Current Account (Natural)<small
																		class="red"> *</small>
																	</td>
																	<td class="form-group"><input type="number" min="0" step="any"
																		name="currentAccNatural" required /></td>
																	<td class="form-group"><input type="number"
																		placeholder="0.00" min="0" step="any"
																		pattern="^\d+(?:\.\d{1,2})?$"
																		onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'#f28c0e14'"
																		name='currentAccNaturalAmount' class="form-control"
																		required /></td>
																	<td><textarea rows="1"
																			name="currentAccNaturalRemakrs"
																			placeholder="Description" class="form-control"></textarea></td>
																</tr>
																<tr>
																	<td class="bolder">Current/Call Account
																		(Institutional)<small class="red"> *</small>
																	</td>
																	<td class="form-group"><input type="number" min="0" step="any"
																		name="currentCallAccInstitutional" required/></td>
																	<td class="form-group"><input type="number"
																		placeholder="0.00" min="0" step="any"
																		pattern="^\d+(?:\.\d{1,2})?$"
																		onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'#f28c0e14'"
																		name='currentCallAccInstitutionalAmount'
																		class="form-control" required /></td>
																	<td><textarea rows="1"
																			name="currentCallAccInstitutionalRemarks"
																			placeholder="Description" class="form-control"></textarea></td>
																</tr>
																<tr>
																	<td class="bolder">Savings Account <small
																		class="red"> *</small></td>
																	<td class="form-group"><input type="number" min="0" step="any"
																		name="savingAcc" required/></td>
																	<td class="form-group"><input type="number"
																		placeholder="0.00" min="0" step="any"
																		pattern="^\d+(?:\.\d{1,2})?$"
																		onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'#f28c0e14'"
																		name='savingAccAmount' class="form-control" required />
																	</td>
																	<td><textarea rows="1" name="savingAccRemarks"
																			placeholder="Description" class="form-control"></textarea></td>
																</tr>
																<tr>
																	<td class="bolder">FD Account<small class="red">
																			*</small></td>
																	<td class="form-group"><input type="number" min="0" step="any"
																		name="fdAcc" required/></td>
																	<td class="form-group"><input type="number"
																		placeholder="0.00" min="0" step="any"
																		pattern="^\d+(?:\.\d{1,2})?$"
																		onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'#f28c0e14'"
																		name='fdAccAmount' class="form-control" required /></td>
																	<td><textarea rows="1" name="fdAccRemarks"
																			placeholder="Description" class="form-control"></textarea></td>
																</tr>
																<tr>
																	<td class="bolder">Term Loan Account<small
																		class="red"> *</small></td>
																	<td class="form-group"><input type="number" min="0" step="any"
																		name="termLoanAcc" required/></td>
																	<td class="form-group"><input type="number"
																		placeholder="0.00" min="0" step="any"
																		pattern="^\d+(?:\.\d{1,2})?$"
																		onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'#f28c0e14'"
																		name='termLoanAccAmount' class="form-control" required />
																	</td>
																	<td><textarea rows="1" name="termLoanAccRemarks"
																			placeholder="Description" class="form-control"></textarea></td>
																</tr>
																<tr>
																	<td class="bolder">WC Loan Account<small
																		class="red"> *</small></td>
																	<td class="form-group"><input type="number" min="0" step="any"
																		name="wcLoanAcc" required/></td>
																	<td class="form-group"><input type="number"
																		placeholder="0.00" min="0" step="any"
																		pattern="^\d+(?:\.\d{1,2})?$"
																		onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'#f28c0e14'"
																		name='wcLoanAccAmount' class="form-control" required />
																	</td>
																	<td><textarea rows="1" name="wcLoanAccRemarks"
																			placeholder="Description" class="form-control"></textarea></td>
																</tr>
																<tr>
																	<td class="bolder">OD Loan Account<small
																		class="red"> *</small></td>
																	<td class="form-group"><input type="number" min="0" step="any"
																		name="odLoanAcc" required/></td>
																	<td class="form-group"><input type="number"
																		placeholder="0.00" min="0" step="any"
																		pattern="^\d+(?:\.\d{1,2})?$"
																		onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'#f28c0e14'"
																		name='odLoanAccAmount' class="form-control" required />
																	</td>
																	<td><textarea rows="1" name="odLoanAccRemarks"
																			placeholder="Description" class="form-control"></textarea></td>
																</tr>
																<tr class="hr hr-dotted hr-8"></tr>
																<tr>
																	<td class="bolder">Mobile Banking<small
																		class="red"> *</small></td>
																	<td class="form-group"><input type="number" min="0" step="any"
																		name="mobileBanking" required/></td>
																	<td colspan="2"><textarea rows="1" name="mobileBankingRemarks"
																			placeholder="Description" class="form-control"></textarea></td>
																</tr>
																<tr>
																	<td class="bolder">ATM <small class="red">
																			*</small></td>
																	<td class="form-group"><input type="number" min="0" step="any"
																		name="atm" required/></td>
																	<td colspan="2"><textarea rows="1" name="atmRemarks" 
																			placeholder="Description" class="form-control"></textarea></td>
																</tr>
																<tr>
																	<td class="bolder">Internet Banking<small
																		class="red"> *</small></td>
																	<td class="form-group"><input type="number" min="0" step="any"
																		name="iBanking" required/></td>
																	<td colspan="2"><textarea rows="1" name="iBankingRemarks" 
																			placeholder="Description" class="form-control"></textarea></td>
																</tr>
																<tr>
																	<td class="bolder">QR Code<small
																		class="red"> *</small></td>
																	<td class="form-group"><input type="number" min="0" step="any"
																		name="qrCode" required/></td>
																	<td colspan="2"><textarea rows="1" name="qrCodeRemarks" 
																			placeholder="Description" class="form-control"></textarea></td>
																</tr>
																<tr class="hr hr-dotted hr-8"></tr>
																<tr>
																	<td class="bolder">Loan Repayments<small
																		class="red"> *</small></td>
																	<td class="form-group"><input type="number" min="0" step="any"
																		name="loanRepayments" required/></td>
																		<td class="form-group"><input type="number"
																		placeholder="0.00" min="0" step="any"
																		pattern="^\d+(?:\.\d{1,2})?$"
																		onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'#f28c0e14'"
																		name='loanRepaymentsAmount' class="form-control" required />
																	</td>
																	<td ><textarea rows="1" name="loanRepaymentsRemarks" 
																			placeholder="Description" class="form-control"></textarea></td>
																</tr>
															</tbody>
														</table>
														<div class="clearfix form-actions">
															<div class="col-md-offset-4 col-md-8">
																<button class="btn btn-success" type="submit"
																	id="submit">
																	<i class="ace-icon fa fa-check bigger-110"></i> Submit
																</button>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>

								<div id="accountLogList" class="tab-pane in active">
									<div class="row">
										<div class="col-xs-12 col-sm-12">
											<div class="search-area well well-sm">
												<div class="search-filter-header bg-primary">
													<h5 class="smaller no-margin-bottom">
														<i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp;
														Refine your Search
													</h5>
												</div>
												<div class="space-10"></div>
												<fieldset class="form-inline">
													<div class="input-group col-sm-2">
														<span class="form-control" th:text="${branchVal}"
															></span>
													</div>
													<div class="inline ">
														<label for="idDateRange"> &nbsp;&nbsp;&nbsp;&nbsp; Date Range
															Picker: &nbsp;&nbsp;</label>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="fa fa-calendar bigger-110"></i></span> <input
																class="form-control idDateRange" type="text"
																name="date-range-picker" data-date-format="yyyy-mm-dd"
																id="idDateRange" />
														</div>
													</div>
												</fieldset>
												<div class="space-4"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<!-- PAGE CONTENT BEGINS -->

											<div class="table-responsive">
												<div class="table-header">Account Opening Log List</div>
												<table width="100%" id="dynamic-table" aria-hidden="true"
													class="table table-striped table-bordered table-hover">
													<thead>
														<tr>
															<th width="4%" class="detail-col"></th>
															<th width="14%">Branch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
															<th width="14%"> Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
															<th width="7%">Current  (Natural)</th>
															<th width="7%">Current / Call (Institutional)</th>
															<th width="7%">Savings </th>
															<th width="7%">FD &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
															<th width="7%">Term Loan </th>
															<th width="7%">WC Loan </th>
															<th width="7%">OD Loan </th>
															<th width="7%">Mobile Banking</th>
															<th width="7%">
																ATM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
															<th width="7%"> iBanking</th>
															<th width="7%"> QR Code</th>
															<th width="7%"> Loan Repayments</th>
															<th width="4%"> Edit</th>
														</tr>
													</thead>
												</table>
											</div>
										</div>
									</div>
								</div>

								<div id="cardPieChart" class="tab-pane ">
								<div class="row">
									<div class="search-filter-header bg-primary">
									<div class="form-inline">
										<label for="idDateSelect" class="widget-title lighter bolder"> &nbsp;&nbsp;&nbsp;&nbsp; Select Date: 
											&nbsp;&nbsp;</label>
										<span class="input-group">
											<span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span> <input autocomplete="false"
												class="form-control date-pickerForm" type="text"
												name="date-select" data-date-format="yyyy-mm-dd" placeholder="YYYY-MM-DD"
												id="idDateSelect" />
										</span>
										
										<button class="btn btn-pink btn-xs pull-right" id="btnPrint"
											title="Print Daily Movement Report!!!">
											<i class="ace-icon fa fa-print bigger-160"></i> Print
										</button>
						
						
									</div>
									</div>
								</div>
								<div class="space-10"></div>
								
								<div class="row">
									<div class="col-xs-12">
										<div class="table-responsive barChartTable">
											<div class="table-header">Daily Summary &nbsp;&nbsp;<span id="dateValueShow"></span> &nbsp;&nbsp;</div>
												<table width="100%" id="table-bydateselector" aria-hidden="true"
													class="table table-striped table-bordered table-hover">
													<thead>
														<tr>
															<th width="4%" class="detail-col"></th>
															<th width="10%">Branch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
															<th width="10%"> Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
															<th width="7%">Current  (Natural)</th>
															<th width="7%">Current / Call (Institutional)</th>
															<th width="7%">Savings </th>
															<th width="7%">FD &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
															<th width="7%">Term Loan </th>
															<th width="7%">WC Loan </th>
															<th width="7%">OD Loan </th>
															<th width="7%">Mobile Banking</th>
															<th width="7%">
																ATM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
															<th width="7%"> iBanking</th>
															<th width="7%"> QR Code</th>
															<th width="7%"> Loan Repayments</th>
														</tr>
													</thead>
													<tfoot>
											            <tr>
												            <th></th>
												            <th></th>
											                <th style="text-align:right">Total:</th>
											                <th></th>
											                <th></th>
											                <th></th>
											                <th></th>
											                <th></th>
											                <th></th>
											                <th></th>
											                <th></th>
											                <th></th>
											                <th></th>
											                <th></th>
											                <th></th>
											            </tr>
											        </tfoot>
												</table>
											</div>
										</div>
									</div>		
									
									<div class="row barChart">
										<div id="container1"></div>
									</div>						
								</div>
							</div>
						</div>
					</div>
					
					
					
					      
					      
				</div>
			</div>
		</div>
	</div>

	<!-- basic scripts -->
	<th:block layout:fragment="scripts">
	<script src="../static/js/checkAccountReport.js" th:src="@{/js/checkAccountReport.js/}"></script>
		<script>
			$('#btnPrint').on("click", function() {
				$('.barChartTable,.barChart').printThis({
					importCSS : true,
					importStyle : true,
					loadCSS : "/css/bootstrap.min.css"
				});
			});
		</script>
		
		<script>
/* 		$(document).ready(function() {
			var today = new Date().toISOString().slice(0, 10);
			ajaxAccountInfoSummary(today);
	        });
			 */
			 
				$(document).ready(function() {
					//var today = new Date();
					var today = new Date();
				    var yesterday = new Date(today);
				    
				    yesterday.setDate(today.getDate() - 1);
					let formatedYesterday = yesterday.toISOString().slice(0, 10);
					$("#dateValueShow").html(': &nbsp;'+ formatedYesterday);
					ajaxAccountInfoSummary(formatedYesterday);
			        });
			 
			 
		
		$(".date-pickerForm").datepicker({
			format : "yyyy-mm-dd",
			autoclose : true,
			todayBtn : "linked",
			todayHighlight : true
		}).datepicker('update', new Date());	
			
			$("#idDateSelect").change(function() {
				let val= $('#idDateSelect').val();
				ajaxAccountInfoSummary(val);
		});
			
			function ajaxAccountInfoSummary(date) {
				const url = '/bm/getaccountinfo/bydate/' + branchName +'/' + date;
				$.getJSON(url, function(data) {
					createSummaryAccountInfoTable(data, date);
				});
			}
			
			
			function createSummaryAccountInfoTable(data, date) {
				var table = $('#table-bydateselector')
						.DataTable(
								{"footerCallback": function ( row, data, start, end, display ) {
						            var api = this.api(), data;
									 
						         // converting to interger to find total
						            var intVal = function ( i ) {
						                return typeof i === 'string' ?
						                    i.replace(/[\$,]/g, '')*1 :
						                    typeof i === 'number' ?
						                        i : 0;
						            };
						 
						            // computing column Total of the complete result 
						            var currentAccNatural = api
						                .column( 3 )
						                .data()
						                .reduce( function (a, b) {
						                    return intVal(a) + intVal(b);
						                }, 0 );
										
							    var currentCallAccInstitutional = api
						                .column( 4 )
						                .data()
						                .reduce( function (a, b) {
						                    return intVal(a) + intVal(b);
						                }, 0 );
										
						            var savingAcc = api
						                .column( 5 )
						                .data()
						                .reduce( function (a, b) {
						                    return intVal(a) + intVal(b);
						                }, 0 );
										
							     var fdAcc = api
						                .column( 6 )
						                .data()
						                .reduce( function (a, b) {
						                    return intVal(a) + intVal(b);
						                }, 0 );
										
							     var termLoanAcc = api
						                .column( 7 )
						                .data()
						                .reduce( function (a, b) {
						                    return intVal(a) + intVal(b);
						                }, 0 );
							     var wcLoanAcc = api
						                .column( 8 )
						                .data()
						                .reduce( function (a, b) {
						                    return intVal(a) + intVal(b);
						                }, 0 );
							     var odLoanAcc = api
						                .column( 9 )
						                .data()
						                .reduce( function (a, b) {
						                    return intVal(a) + intVal(b);
						                }, 0 );
							     var mobileBanking = api
						                .column( 10 )
						                .data()
						                .reduce( function (a, b) {
						                    return intVal(a) + intVal(b);
						                }, 0 );
							     var atm = api
						                .column( 11 )
						                .data()
						                .reduce( function (a, b) {
						                    return intVal(a) + intVal(b);
						                }, 0 );
							     var iBanking = api
						                .column( 12 )
						                .data()
						                .reduce( function (a, b) {
						                    return intVal(a) + intVal(b);
						                }, 0 );
							     var qrCode = api
						                .column( 13 )
						                .data()
						                .reduce( function (a, b) {
						                    return intVal(a) + intVal(b);
						                }, 0 );
							     var loanRepayments = api
						                .column( 14 )
						                .data()
						                .reduce( function (a, b) {
						                    return intVal(a) + intVal(b);
						                }, 0 );
									
										
						            // Update footer by showing the total with the reference of the column index 
						            $( api.column( 3 ).footer() ).html(currentAccNatural);
						            $( api.column( 4 ).footer() ).html(currentCallAccInstitutional);
						            $( api.column( 5 ).footer() ).html(savingAcc);
						            $( api.column( 6 ).footer() ).html(fdAcc);
						            $( api.column( 7 ).footer() ).html(termLoanAcc);
						            $( api.column( 8 ).footer() ).html(wcLoanAcc);
						            $( api.column( 9 ).footer() ).html(odLoanAcc);
						            $( api.column( 10 ).footer() ).html(mobileBanking );
						            $( api.column( 11 ).footer() ).html(atm );
						            $( api.column( 12 ).footer() ).html(iBanking );
						            $( api.column( 13 ).footer() ).html(qrCode );
						            $( api.column( 14 ).footer() ).html(loanRepayments );
						            
						            var show = Highcharts.chart('container1', {
						                chart: {
						                    type: 'column',
						                },
						                title: {
						                    text: 'Product Wise Daily Report  : ' + date
						                },
						                accessibility: {
						                    announceNewData: {
						                        enabled: true
						                    }
						                },
						                xAxis: {
						                    type: 'category',
						                    labels: {
						                        rotation: -45,
						                        style: {
						                            fontSize: '13px',
						                            fontFamily: 'Verdana, sans-serif'
						                        }
						                    }
						                },
						                yAxis: {
						                    title: {
						                        text: 'Total Number Count'
						                    }

						                },
						                legend: {
						                    enabled: false
						                },
						                plotOptions: {
						                    series: {
						                        borderWidth: 0,
						                        dataLabels: {
						                            enabled: true,
						                            format: '{point.y:.1f}'
						                        }
						                    }
						                },
						                credits: {
						   			        enabled: false
						   			    },
						                tooltip: {
						                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
						                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b><br/>'
						                },

						                series: [
						                    {
						                        name: "Number of",
						                        colorByPoint: true,
						                        data: [
						                            {
						                                name: "Current (Natural)",
						                                y: currentAccNatural
						                            },
						                            {
						                                name: "Current/Call (Institutional) ",
						                                y: currentCallAccInstitutional
						                                
						                            },
						                            {
						                                name: "Savings Account",
						                                y: savingAcc
						                            },
						                            {
						                                name: "FD Account",
						                                y: fdAcc
						                            },
						                            {
						                                name: "Term Loan Account ",
						                                y: termLoanAcc
						                            },
						                            {
						                                name: "WC Loan Account ",
						                                y: wcLoanAcc
						                            },
						                            {
						                                name: "OD Loan Account",
						                                y: odLoanAcc
						                            },
						                            {
						                                name: "Mobile Banking",
						                                y: mobileBanking
						                            },
						                            {
						                                name: "ATM ",
						                                y: atm
						                            },
						                            {
						                                name: "Internet Banking",
						                                y: iBanking
						                            },
						                            {
						                                name: "QR Code",
						                                y: qrCode
						                            },
						                            {
						                                name: "Loan Repayments",
						                                y: loanRepayments
						                            }
						                        ]
						                    }
						                ]

						            });
						            
						        },
						        
						        
									"order" : [ 2, "desc" ],
									destroy : true,
									"data" : data,
									select : "single",
									"columns" : [
											{
												"className" : 'details-control',
												"orderable" : false,
												"data" : null,
												"defaultContent" : '',
												"render" : function() {
													return '<i class="ace-icon fa fa-angle-double-down fa-2x" title="Show details" aria-hidden="true"></i>';
												},
												width : "15px"
											},
											{
												"data" : "branchName",
												"render" : function(data, type,
														row, meta) { // render event defines the markup of the cell text 
													var a = '<a href="/bm/accountinfo/detailpage/' + row["id"]+ '" title="Click for more details">'
															+ row.branchName
															+ '</a>';
													return a;
												}
											},
											{
												"data" : "registeredDate",
												"render" : function(data, type,
														row, meta) {
													if (data === null)
														return "";
													var thisDate = moment(
															new Date(data))
															.format(
																	"YYYY-MM-DD");
													return thisDate
												}
											},
											{
												"data" : "currentAccNatural"
											},
											{
												"data" : "currentCallAccInstitutional"
											},
											{
												"data" : "savingAcc"
											},
											{
												"data" : "fdAcc"
											},
											{
												"data" : "termLoanAcc"
											},
											{
												"data" : "wcLoanAcc"
											},
											{
												"data" : "odLoanAcc"
											},
											{
												"data" : "mobileBanking"
											},
											{
												"data" : "atm"
											},
											{
												"data" : "iBanking"
											},
											{
												"data" : "qrCode"
											},
											{
												"data" : "loanRepayments"
											} ],
									dom : 'Blfrtip',
									buttons : [
											{
												"extend" : "copy",
												"footer": true,
												"text" : "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
												"className" : "btn btn-white btn-primary btn-bold"
											},
											{
												"extend" : "csv",
												"footer": true,
												"text" : "<i class='fa fa-file-excel-o bigger-110 blue'></i> <span class='hidden'>Export to CSV</span>",
												"className" : "btn btn-white btn-primary btn-bold"
											},
											{
												"extend" : "excel",
												"footer": true,
												"text" : "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
												"className" : "btn btn-white btn-primary btn-bold",
												"exportOptions" : {
													modifier : {
														page : 'all'
													}
												}
											},
											{
												"extend" : "pdf",
												"footer": true,
												"text" : "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
												"className" : "btn btn-white btn-primary btn-bold",
												"exportOptions" : {
													modifier : {
														page : 'all'
													}
												}
											},
											{
												"extend" : "print",
												"footer": true,
												"text" : "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
												"className" : "btn btn-white btn-primary btn-bold",
												autoPrint : false,
												orientation : 'landscape',
												title : 'Daily Report'
											} ]

								});

				// Add event listener for opening and closing details
				$('#table-bydateselector tbody').on(
						'click',
						'td.details-control',
						function() {
							var tr = $(this).closest('tr');
							var tdi = tr.find("i.fa");
							var row = table.row(tr);

							if (row.child.isShown()) {
								// This row is already open - close it
								row.child.hide();
								tr.removeClass('shown');
								tdi.first().removeClass(
										'fa fa-angle-double-up fa-2x');
								tdi.first().addClass(
										'fa fa-angle-double-down fa-2x');
							} else {
								// Open this row
								row.child(format(row.data())).show();
								tr.addClass('shown');
								tdi.first().removeClass(
										'fa fa-angle-double-down fa-2x');
								tdi.first().addClass(
										'fa fa-angle-double-up fa-2x');
							}
						});

				table.on("user-select", function(e, dt, type, cell,
						originalEvent) {
					if ($(cell.node()).hasClass("details-control")) {
						e.preventDefault();
					}
				});

				function format(d) {
					// `d` is the original data object for the row
					return '<table class="table table-striped table-bordered table-hover">'
							+ '<tr>' + '<th width="25%" class="center green">'
							+ d.branchName
							+ '&nbsp;('
							+ moment(new Date(d.registeredDate)).format(
									"YYYY-MM-DD")
							+ ')</th>'
							+ '<th width="15%" class="center">Total Count</th>'
							+ '<th width="25%" class="center">Total Amount (Rs.)</th>'
							+ '<th width="35%" class="center">Remarks</th>'

							+ '</tr>'
							+ '<tr>'
							+ '<th >Current Account (Natural)</th>'
							+ '<td class="center">'
							+ d.currentAccNatural
							+ '</td>'
							+ '<td class="center">'
							+ d.currentAccNaturalAmount
							+ '</td>'
							+ '<td>'
							+ d.currentAccNaturalRemakrs
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th >Current Account (Institutional)</th>'
							+ '<td class="center">'
							+ d.currentCallAccInstitutional
							+ '</td>'
							+ '<td class="center">'
							+ d.currentCallAccInstitutionalAmount
							+ '</td>'
							+ '<td>'
							+ d.currentCallAccInstitutionalRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>Savings Account</th>'
							+ '<td class="center">'
							+ d.savingAcc
							+ '</td>'
							+ '<td class="center">'
							+ d.savingAccAmount
							+ '</td>'
							+ '<td>'
							+ d.savingAccRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>FD Account</th>'
							+ '<td class="center">'
							+ d.fdAcc
							+ '</td>'
							+ '<td class="center">'
							+ d.fdAccAmount
							+ '</td>'
							+ '<td>'
							+ d.fdAccRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>Term Loan Account</th>'
							+ '<td class="center">'
							+ d.termLoanAcc
							+ '</td>'
							+ '<td class="center">'
							+ d.termLoanAccAmount
							+ '</td>'
							+ '<td>'
							+ d.termLoanAccRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>WC Loan Account</th>'
							+ '<td class="center">'
							+ d.wcLoanAcc
							+ '</td>'
							+ '<td class="center">'
							+ d.wcLoanAccAmount
							+ '</td>'
							+ '<td>'
							+ d.wcLoanAccRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>OD Loan Account </th>'
							+ '<td class="center">'
							+ d.odLoanAcc
							+ '</td>'
							+ '<td class="center">'
							+ d.odLoanAccAmount
							+ '</td>'
							+ '<td>'
							+ d.odLoanAccRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>Mobile Banking </th>'
							+ '<td class="center">'
							+ d.mobileBanking
							+ '</td>'
							+ '<td  colspan="2">'
							+ d.mobileBankingRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>ATM </th>'
							+ '<td class="center">'
							+ d.atm
							+ '</td>'
							+ '<td  colspan="2">'
							+ d.atmRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>Internet Banking</th>'
							+ '<td class="center">'
							+ d.iBanking
							+ '</td>'
							+ '<td  colspan="2">'
							+ d.iBankingRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>QR Code</th>'
							+ '<td class="center">'
							+ d.qrCode
							+ '</td>'
							+ '<td  colspan="2">'
							+ d.qrCodeRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>Loan Repayments  </th>'
							+ '<td class="center">'
							+ d.loanRepayments
							+ '</td>'
							+ '<td class="center">'
							+ d.loanRepaymentsAmount
							+ '</td>'
							+ '<td>'
							+ d.loanRepaymentsRemarks
							+ '</td>'
							+ '</tr>'+ '</table>';
				}
			}
		</script>
		<script type='text/javascript'>
			$(function() {
				
				$('.select2').css('width', '100%').select2({});
				
				
				$('.date-selector').datepicker({
					format : "yyyy-mm-dd",
					autoclose : true,
					todayBtn : "linked",
					todayHighlight: true
				})
				//show datepicker when clicking on the icon
				.next().on(ace.click_event, function(){
					$(this).prev().focus();
				});
			});
		</script>
		<script>
			autosize($('textarea[class*=autosize]'));

			$('textarea.limited').inputlimiter({
				remText : '%n character%s remaining...',
				limitText : 'max allowed : %n.'
			});
		</script>
		<script>
			$(function() {
				var start = moment().subtract(29, 'days');
				var end = moment();

				$('.idDateRange')
						.daterangepicker(
								{
									startDate : start,
									endDate : end,
									opens : 'left',
									autoclose : true,
									todayHighlight : true,
									ranges : {
										'Today' : [ moment(), moment() ],
										'Yesterday' : [
												moment().subtract(1, 'days'),
												moment().subtract(1, 'days') ],
										'Last 7 Days' : [
												moment().subtract(6, 'days'),
												moment() ],
										'Last 30 Days' : [
												moment().subtract(29, 'days'),
												moment() ],
										'This Month' : [
												moment().startOf('month'),
												moment().endOf('month') ],
										'Last Month' : [
												moment().subtract(1, 'month')
														.startOf('month'),
												moment().subtract(1, 'month')
														.endOf('month') ]
									},
									locale : {
										format : 'YYYY-MM-DD'
									}
								}, function(start, end, label) {
									ajaxGetAccountInfoByDateBetweenBM(start, end);
								});

			});
		</script>

		<script th:inline="javascript">
			/*<![CDATA[*/
			var branchName = /*[[${branchVal}]]*/'branchValue';
			/*]]>*/
			
			$(document).ready(function() {
				ajaxGetAllAccountInfo();
			});
			
			function ajaxGetAllAccountInfo() {
				const url = '/bm/getallaccountlog/' + branchName;
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}

			function ajaxGetAccountInfoByDateBetweenBM(start, end) {
				let startDate = start.format('YYYY-MM-DD');
				let endDate = end.format('YYYY-MM-DD');
				const url = '/bm/getaccountinfo/date/' + startDate+'/'+ endDate+ '/' + branchName ;
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}
			
			function createDataTable(data) {
				var table = $('#dynamic-table')
						.DataTable(
								{
									"order" : [ 2, "desc" ],
									destroy : true,
									"data" : data,
									select : "single",
									"columns" : [
											{
												"className" : 'details-control',
												"orderable" : false,
												"data" : null,
												"defaultContent" : '',
												"render" : function() {
													return '<i class="ace-icon fa fa-angle-double-down fa-2x" title="Show details" aria-hidden="true"></i>';
												},
												width : "15px"
											},
											{
												"data" : "branchName",
												"render" : function(data, type,
														row, meta) { // render event defines the markup of the cell text 
													var a = '<a href="/bm/accountinfo/detailpage/' + row["id"]+ '" title="Click for more details">'
															+ row.branchName
															+ '</a>';
													return a;
												}
											},
											{
												"data" : "registeredDate",
												"render" : function(data, type,
														row, meta) {
													if (data === null)
														return "";
													var thisDate = moment(
															new Date(data))
															.format(
																	"YYYY-MM-DD");
													return thisDate
												}
											},
											{
												"data" : "currentAccNatural"
											},
											{
												"data" : "currentCallAccInstitutional"
											}, {
												"data" : "savingAcc"
											}, {
												"data" : "fdAcc"
											}, {
												"data" : "termLoanAcc"
											}, {
												"data" : "wcLoanAcc"
											}, {
												"data" : "odLoanAcc"
											}, {
												"data" : "mobileBanking"
											}, {
												"data" : "atm"
											}, {
												"data" : "iBanking"
											}, {
												"data" : "qrCode"
											},{
												"data" : "loanRepayments"
											},
											{
												"data" : null,
												"className" : 'center',
												"orderable" : false,
												"render" : function(data, type,
														row, meta) { // render event defines the markup of the cell text 
													var a = '<div class="btn-group"><a class="btn btn-xs no-border btn-round btn-success" title="Click to view details." href="/bm/updateaccountinfo/editpage/' + row["id"]+ '"><i class="ace-icon fa fa-search-plus bigger-160" aria-hidden="true"></i></a></div>';
													return a;
												}
											}
											],
									dom : 'Blfrtip',
									buttons : [
											{
												"extend" : "copy",
												"text" : "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
												"className" : "btn btn-white btn-primary btn-bold"
											},
											{
												"extend" : "csv",
												"text" : "<i class='fa fa-file-excel-o bigger-110 blue'></i> <span class='hidden'>Export to CSV</span>",
												"className" : "btn btn-white btn-primary btn-bold"
											},
											{
												"extend" : "excel",
												"text" : "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
												"className" : "btn btn-white btn-primary btn-bold",
												"exportOptions" : {
													modifier : {
														page : 'all'
													}
												}
											},
											{
												"extend" : "pdf",
												"text" : "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
												"className" : "btn btn-white btn-primary btn-bold",
												"exportOptions" : {
													modifier : {
														page : 'all'
													}
												}
											},
											{
												"extend" : "print",
												"text" : "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
												"className" : "btn btn-white btn-primary btn-bold",
												autoPrint : false,
												orientation : 'landscape',
												title : 'Account Opening Log List'
											} ]

								});

				// Add event listener for opening and closing details
				$('#dynamic-table tbody').on(
						'click',
						'td.details-control',
						function() {
							var tr = $(this).closest('tr');
							var tdi = tr.find("i.fa");
							var row = table.row(tr);

							if (row.child.isShown()) {
								// This row is already open - close it
								row.child.hide();
								tr.removeClass('shown');
								tdi.first().removeClass(
										'fa fa-angle-double-up fa-2x');
								tdi.first().addClass(
										'fa fa-angle-double-down fa-2x');
							} else {
								// Open this row
								row.child(format(row.data())).show();
								tr.addClass('shown');
								tdi.first().removeClass(
										'fa fa-angle-double-down fa-2x');
								tdi.first().addClass(
										'fa fa-angle-double-up fa-2x');
							}
						});

				table.on("user-select", function(e, dt, type, cell,
						originalEvent) {
					if ($(cell.node()).hasClass("details-control")) {
						e.preventDefault();
					}
				});

				function format(d) {
					// `d` is the original data object for the row
					return '<table class="table table-striped table-bordered table-hover">'
							+ '<tr>' + '<th width="25%" class="center green">'
							+ d.branchName
							+ '&nbsp;('
							+ moment(new Date(d.registeredDate)).format(
									"YYYY-MM-DD")
							+ ')</th>'
							+ '<th width="15%" class="center">Total Count</th>'
							+ '<th width="25%" class="center">Total Amount (Rs.)</th>'
							+ '<th width="35%" class="center">Remarks</th>'

							+ '</tr>'
							+ '<tr>'
							+ '<th >Current Account (Natural)</th>'
							+ '<td class="center">'
							+ d.currentAccNatural
							+ '</td>'
							+ '<td class="center">'
							+ d.currentAccNaturalAmount
							+ '</td>'
							+ '<td>'
							+ d.currentAccNaturalRemakrs
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th >Current Account (Institutional)</th>'
							+ '<td class="center">'
							+ d.currentCallAccInstitutional
							+ '</td>'
							+ '<td class="center">'
							+ d.currentCallAccInstitutionalAmount
							+ '</td>'
							+ '<td>'
							+ d.currentCallAccInstitutionalRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>Savings Account</th>'
							+ '<td class="center">'
							+ d.savingAcc
							+ '</td>'
							+ '<td class="center">'
							+ d.savingAccAmount
							+ '</td>'
							+ '<td>'
							+ d.savingAccRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>FD Account</th>'
							+ '<td class="center">'
							+ d.fdAcc
							+ '</td>'
							+ '<td class="center">'
							+ d.fdAccAmount
							+ '</td>'
							+ '<td>'
							+ d.fdAccRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>Term Loan Account</th>'
							+ '<td class="center">'
							+ d.termLoanAcc
							+ '</td>'
							+ '<td class="center">'
							+ d.termLoanAccAmount
							+ '</td>'
							+ '<td>'
							+ d.termLoanAccRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>WC Loan Account</th>'
							+ '<td class="center">'
							+ d.wcLoanAcc
							+ '</td>'
							+ '<td class="center">'
							+ d.wcLoanAccAmount
							+ '</td>'
							+ '<td>'
							+ d.wcLoanAccRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>OD Loan Account </th>'
							+ '<td class="center">'
							+ d.odLoanAcc
							+ '</td>'
							+ '<td class="center">'
							+ d.odLoanAccAmount
							+ '</td>'
							+ '<td>'
							+ d.odLoanAccRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>Mobile Banking </th>'
							+ '<td class="center">'
							+ d.mobileBanking
							+ '</td>'
							+ '<td  colspan="2">'
							+ d.mobileBankingRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>ATM </th>'
							+ '<td class="center">'
							+ d.atm
							+ '</td>'
							+ '<td  colspan="2">'
							+ d.atmRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>Internet Banking</th>'
							+ '<td class="center">'
							+ d.iBanking
							+ '</td>'
							+ '<td  colspan="2">'
							+ d.iBankingRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>QR Code</th>'
							+ '<td class="center">'
							+ d.qrCode
							+ '</td>'
							+ '<td  colspan="2">'
							+ d.qrCodeRemarks
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<th>Loan Repayments  </th>'
							+ '<td class="center">'
							+ d.loanRepayments
							+ '</td>'
							+ '<td class="center">'
							+ d.loanRepaymentsAmount
							+ '</td>'
							+ '<td>'
							+ d.loanRepaymentsRemarks
							+ '</td>'
							+ '</tr>' + '</table>';
				}
			}
		</script>

	</th:block>
</body>
</html>
