<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{branchmanager/bm_layout/bm_default}">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>Account Info Detail Page</title>

<th:block layout:fragment="styles">

</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
				</li>
				<li><a href="/bm/addaccountinfo">Daily Report</a></li>
				<li class="active">Daily Report</li>
			</ul>
			<!-- /.breadcrumb -->
		</div>
		<div class="page-header">
			<h1>
				<i class="ace-icon fa fa-calendar"></i> Daily Report
			</h1>
		</div>
		<!-- /.page-header -->
		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div th:if="${message}">
						<h2 class="alert alert-danger" th:text="${message}" />
					</div>
					<div th:if="${successMessage}">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<strong th:text="${successMessage}">Success!</strong> <br />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="col-xs-2 col-sm-1">
						<button class="btn btn-app btn-pink btn-xs" id="btnPrint"
							title="Print Customer's Feedback!!!">
							<i class="ace-icon fa fa-print bigger-160"></i> Print
						</button>
						<a class="btn btn-app btn-success btn-xs" id="btnEdit" sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR', 'SUPERVISOR','BM','GAD')"
											title="Update Minute's Details!!!" th:href="@{/bm/updateaccountinfo/editpage/{id}(id=${accountInfoValById.id})}">
											<i class="ace-icon fa fa-pencil-square-o bigger-160"></i> Update
										</a>
					</div>
					<div class="col-xs-12 col-sm-11 well user-profile">
						<div class="row">
							<div class="col-sm-6">
								<label for="idBranchName" >Branch: </label>
									<span th:text="${accountInfoValById?.branchName}" class="bolder blue"></span>
							</div>
							<div class="col-sm-6">
								<label for="idBranchName" > Date: </label>
									<span th:text="${{accountInfoValById?.registeredDate}}" class="bolder blue"></span>
							</div>
						</div>
						<div class="space-8"></div>
						<div class="row">
						<div class="table-header">Deposits</div>
							<table
								class="table table-striped table-bordered table-hover"
								aria-hidden="true">
								<thead>
									<tr>
										<th width="25%" class="text-center">Account Category</th>
										<th class="text-center" width="10%" >Total Count<small
																		class="red"> *</small></th>
										<th class="text-center" width="15%" >Total Amount (Rs.)<small
																		class="red"> *</small></th>
										<th class="text-center" width="35%">Remarks</th>
									</tr>
								</thead>
								<tbody>
									<tr >
										<td class="bolder">
											Current Account (Natural)
											</td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.currentAccNatural, 1, 0)}" class="text-center"></td>
										<td th:text ="${#numbers.formatDecimal(accountInfoValById?.currentAccNaturalAmount, 1,  2)}" class="text-center"></td>
										<td th:text="${accountInfoValById?.currentAccNaturalRemakrs}"></td>
									</tr>
									<tr>
										<td class="bolder">
											Current/Call Account (Institutional)
											</td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.currentCallAccInstitutional, 1, 0)}" class="text-center"></td>
										<td th:text="${accountInfoValById?.currentCallAccInstitutionalAmount}" class="text-center"></td>
										<td th:text="${accountInfoValById?.currentCallAccInstitutionalRemarks}"></td>
									</tr>
									<tr >
										<td class="bolder"> 
											Savings Account </td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.savingAcc, 1, 0)}" class="text-center"></td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.savingAccAmount, 1, 2)}" class="text-center"></td>
										<td th:text="${accountInfoValById?.savingAccRemarks}"></td>
									</tr>
									<tr>
										<td class="bolder">
											FD Account</td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.fdAcc, 1, 0)}" class="text-center"></td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.fdAccAmount, 1, 2)}" class="text-center"></td>
										<td th:text="${accountInfoValById?.fdAccRemarks}"></td>
									</tr>
									<tr>
										<td class="bolder center"><h4>Total Deposits</h4></td>
										<td class="text-center bolder" th:text="${#numbers.formatDecimal(accountInfoValById?.fdAcc
										+ accountInfoValById?.savingAcc
										+ accountInfoValById?.currentCallAccInstitutional
										+ accountInfoValById?.currentAccNatural
										, 1, 0)}"></td>
										<td class="text-center bolder" th:text="${#numbers.formatDecimal(accountInfoValById?.fdAccAmount
										+ accountInfoValById?.savingAccAmount
										+ accountInfoValById?.currentCallAccInstitutionalAmount
										+ accountInfoValById?.currentAccNaturalAmount
										, 1, 2)}"></td>
										<td></td>
									</tr>
								</tbody>
							</table>	
							<div class="table-header">Loans</div>					
							<table
								class="table table-striped table-bordered table-hover"
								aria-hidden="true">
								<thead>
									<tr>
										<th width="25%" class="text-center">Account Category</th>
										<th class="text-center" width="10%" >Total Count<small
																		class="red"> *</small></th>
										<th class="text-center" width="15%" >Total Amount (Rs.)<small
																		class="red"> *</small></th>
										<th class="text-center" width="35%">Remarks</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="bolder">
											Term Loan Account</td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.termLoanAcc, 1, 0)}" class=" center"></td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.termLoanAccAmount, 1, 2)}" class=" center"></td>
										<td th:text="${accountInfoValById?.termLoanAccRemarks}"></td>
									</tr>
									<tr>
										<td class="bolder">
											WC Loan Account</td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.wcLoanAcc, 1, 0)}" class=" center"></td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.wcLoanAccAmount, 1, 2)}" class=" center"></td>
										<td th:text="${accountInfoValById?.wcLoanAccRemarks}"></td>
									</tr>
									<tr>
										<td class="bolder">
											OD Loan Account</td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.odLoanAcc, 1, 0)}" class=" center"></td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.odLoanAccAmount, 1, 2)}" class="center"></td>
										<td th:text="${accountInfoValById?.odLoanAccRemarks}"></td>
									</tr>
									<tr>
										<td class="bolder center"><h4>Total Loans</h4></td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.odLoanAcc
										+ accountInfoValById?.wcLoanAcc
										+ accountInfoValById?.termLoanAcc
										, 1, 0)}" class="bolder center"></td>
										<td th:text="${#numbers.formatDecimal(
										accountInfoValById?.odLoanAccAmount
										+ accountInfoValById?.wcLoanAccAmount
										+ accountInfoValById?.termLoanAccAmount
										, 1, 2)}" class="bolder center"></td>
										<td></td>
									</tr>
								</tbody>
							</table>	
							<div class="table-header">Loan Repayments</div>					
							<table
								class="table table-striped table-bordered table-hover"
								aria-hidden="true">
								<thead>
									<tr>
										<th width="25%" class="text-center">Account Category</th>
										<th class="text-center" width="10%" >Total Count<small
																		class="red"> *</small></th>
										<th class="text-center" width="15%" >Total Amount (Rs.)<small
																		class="red"> *</small></th>
										<th class="text-center" width="35%">Remarks</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="bolder">
											Loan Repayments</td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.loanRepayments, 1, 0)}" class="bolder center"></td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.loanRepaymentsAmount, 1, 2)}"  class="bolder center"></td>
										<td th:text="${accountInfoValById?.loanRepaymentsRemarks}"></td>
									</tr>
								</tbody>
							</table>	
							<div class="table-header">Digital Products</div>			
							<table
								class="table table-striped table-bordered table-hover"
								aria-hidden="true">
								<thead>
									<tr>
										<th width="25%" class="text-center">Account Category</th>
										<th class="text-center" width="10%" >Total Count<small
																		class="red"> *</small>
										<th class="text-center" width="35%">Remarks</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="bolder">
											Mobile Banking</td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.mobileBanking, 1, 0)}" class="center"></td>
										<td th:text="${accountInfoValById?.mobileBankingRemarks}"></td>
									</tr>
									<tr>
										<td class="bolder">ATM</td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.atm, 1, 0)}" class="center"></td>
										<td th:text="${accountInfoValById?.atmRemarks}" ></td>
									</tr>
									<tr>
										<td class="bolder">Internet Banking</td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.iBanking, 1, 0)}" class="center"></td>
										<td th:text="${accountInfoValById?.iBankingRemarks}" ></td>
									</tr>
									<tr>
										<td class="bolder">QR Code</td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.qrCode, 1, 0)}" class="center"></td>
										<td th:text="${accountInfoValById?.qrCodeRemarks}" ></td>
									</tr>
									<tr>
										<td class="bolder center"><h4>Total </h4></td>
										<td th:text="${#numbers.formatDecimal(accountInfoValById?.iBanking
										+ accountInfoValById?.atm
										+ accountInfoValById?.qrCode
										+ accountInfoValById?.mobileBanking
										, 1, 0)}" class="bolder center"></td><td></td>
									</tr>
								</tbody>
							</table>	
							
						
						</div>
						<div class="row">
							<div class="col">
							<div class="table-header">Call / Visit Summary</div>
								<div class="widget-box">
									<div class="widget-body"
										style="background-color: #F5F5F5;">
										<div class="widget-main ">
											<div class="input-group">
												<label for="idNoOfCust">Number of Customer:
													&nbsp;</label> <span id="idNoOfCust" class="bolder" th:text="${accountInfoValById?.visitCustNo}"></span>
											</div>
											<p class="hr hr-dotted hr-8"></p>
											<label for="idvisitDetails">Details:
											</label>
											<p th:text="${accountInfoValById?.visitDetails}" id="idvisitDetails" 
												class="form-control"></p>
										</div>
										<div class="alert alert-info row"> 
											<div class="col-sm-6">
												<label for="idlodgedBy"> Lodged By: </label>
												<span id="idlodgedBy" class="bolder" th:text="${accountInfoValById?.lodgedBy}"></span>
											</div>
											<div class="col-sm-6" th:if="${accountInfoValById?.lodgedModifiedBy}">
												<label for="idlodgedModifiedBy"> Lodged Modified By: </label>
												<span id="idlodgedModifiedBy" class="bolder" th:text="${accountInfoValById?.lodgedModifiedBy}"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>





	</div>
	<th:block layout:fragment="scripts">

		<script>
			$('#btnPrint').on("click", function() {
				$('.page-header,.user-profile').printThis({
					importCSS : true,
					importStyle : true,
					loadCSS : "/css/ace.min.css"
				});
			});
		</script>
	</th:block>
</body>
</html>