<!DOCTYPE html>
<html layout:decorate="~{branchmanager/bm_layout/bm_default}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
<meta charset="utf-8" />
<title>Budget Details</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
				</li>
				<li class="active"><a th:href="@{/bm/budgetlist}">Budget/Target
				</a></li>
				<li class="active">Budget/Target List</li>
			</ul>
		</div>
		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div th:if="${message}">
						<h2 class="alert alert-danger" th:text="${message}" />
					</div>
					<div th:if="${successMessage}">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<strong th:text="${successMessage}">Success!</strong> <br />
						</div>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div>
			</div>
			<div class="page-header">
				<h1>
					<small style="color:blue;font-size:26px;" th:text="${budgetValue.fiscalYear + ', ' + budgetValue.targetType + ' - ' + budgetValue.budgetTitle}" id="budgetHeader"></small> <small>
						<button class="btn btn-pink btn-xs pull-right" id="btnPrint"
							title="Print Budget details!!!">
							<i class="ace-icon fa fa-print bigger-160"></i> Print
						</button>
					</small>
				</h1>
			</div>
			<div class="row">
				<div class="position-relative">
					<div class="signup-box visible widget-box no-border">
						<div class="widget-body">
							<div class="widget-main">
								<div th:utext=" ${{budgetValue.budgetData}}"></div>
							</div>
						</div>
						<!-- /.widget-body -->
					</div>
					<!-- /.signup-box -->
				</div>
				<!-- /.position-relative -->
			</div>
			<!-- /.widget-body -->
		</div>
		<!-- /.signup-box -->
	</div>
	<!-- /.position-relative -->

	<th:block layout:fragment="scripts">
		<script>
			$('#btnPrint').on("click", function() {
				$('#budgetHeader,.position-relative').printThis();
			});
		</script>
	</th:block>

</body>
</html>
