<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{branchmanager/bm_layout/bm_default}">
<head>
<meta charset="ISO-8859-1" />
<title>Error/Issue/Log List</title>
<th:block layout:fragment="styles">
	<link rel="stylesheet" href="../static/css/daterangepicker.min.css"
		th:href="@{/css/daterangepicker.min.css}" />
	<style type="text/css">
td.details-control {
	text-align: center;
	color: forestgreen;
	cursor: pointer;
}

tr.shown td.details-control {
	text-align: center;
	color: red;
}
</style>
</th:block>
</head>
<body>

	<div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
				</li>
				<li class="active">Error/Issue List</li>
			</ul>
			<!-- /.breadcrumb -->
		</div>

		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div th:if="${message}">
						<h2 class="alert alert-danger" th:text="${message}" />
					</div>
					<div th:if="${successMessage}">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<strong th:text="${successMessage}">Success!</strong> <br />
						</div>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="space-4"></div>
					<div class="search-area well well-sm">
						<div class="search-filter-header bg-primary">
							<h5 class="smaller no-margin-bottom">
								<i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp;
								Refine your Search
							</h5>
						</div>
						<div class="space-10"></div>
						<fieldset class="form-inline">
							<div class="col-sm-12">
								<div class="col-sm-3">
									<select class="chosen-select" id="idNatureVal"
										name="natureOfError"
										data-placeholder="Choose a nature of Error..." required>
										<option  value=""></option>
										<option value="Transaction Input Error">Transaction
											Input Error</option>
										<option value="System Error">System Error</option>
										<option value="Both (Transaction and System Error)">Both
											(Transaction and System Error)</option>
										<option value="Others">Others</option>
									</select>
								</div>	
								<div class="col-sm-1 center blue">OR</div>						
								<div class="col-sm-3">
									<select class="chosen-select form-control" id="idCauseOfError"
											name="causeOfError"
											data-placeholder="Choose a cause of Error..." required>
											<option value=""></option>
											<option value="Human Error">Human Error</option>
											<option value="Lack of Knowledge">Lack of Knowledge</option>
											<option value="Intentional">Intentional</option>
											<option value="Negligence">Negligence</option>
											<option value="Process Unclear">Process Unclear</option>
											<option value="System Error">System Error</option>
											<option value="Others">Others</option>
										</select>
								</div>

								<div class="inline pull-right">
									<label for="idDateRange"> Incident Date Range Picker: </label>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-calendar bigger-110"></i></span> <input
											class="form-control" type="text" name="date-range-picker"
											data-date-format="yyyy-mm-dd" id="idIncidentDateRange" />
									</div>
								</div>
							</div>
						</fieldset>
					</div>

					<div th:if="${errorListValue != null}" class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div class="clearfix">
								<div class="pull-right tableTools-container"></div>
							</div>
							<div class="table-header">Report for "Error/Issue/Log"</div>
							<div>
								<table width="100%" id="error-table" aria-hidden="true"
									class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th width="4%" class="detail-col"></th>
											<th width="12%">Incident Date</th>
											<th width="12%">Branch</th>
											<th>Department</th>
											<th>Transaction ID</th>
											<th data-class='hidden'>Amount (Rs.)</th>
											<th data-class='hidden'>Tran Entered By</th>
											<th data-class='hidden'>Tran Approved By</th>
											<th>Nature of Error</th>
											<th>Details of Error</th>
											<th data-class='hidden'>Reported By</th>
											<th>Cause of Error</th>
											<th>Necessary Steps</th>
											<th width="18%">Resolution Details</th>
											<th data-class='hidden'>Approved By</th>
											<th>Progress Status</th>
											<th>Error Lodged By</th>
											<th data-class='hidden'>Error Lodged Modified By</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="scripts">
			
		<script th:inline="javascript">
			/*<![CDATA[*/
			var branchName = /*[[${branchValue}]]*/'branchValue';
			/*]]>*/
			
			
			
			$( document ).ready(function() {		
				ajaxGetErrorIssueLogList();
				});	
			
			function ajaxGetErrorIssueLogList(){
					const url = '/bm/geterrorissue/branch/'+  branchName;
					$.getJSON(url, function (data) {
						createDataTable(data);
					});
				}
				
			
			$("#idNatureVal").change(function() {
				ajaxgetErrorLogByBranchNameAndNature();
			});
			
			$("#idCauseOfError").change(function() {
				ajaxgetErrorLogByBranchNameAndCause();
			});
			
			function ajaxgetErrorLogByBranchNameAndCause() {
				let mcCauseVal = $('#idCauseOfError').val();
				const url = '/bm/geterrorissue/cause/' + branchName + '/' + mcCauseVal;
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}
			
			function ajaxgetErrorLogByBranchNameAndNature() {
				let mcNatureVal = $('#idNatureVal').val();
				const url = '/bm/geterrorissue/nature/' + branchName + '/' + mcNatureVal;
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}
			
			function ajaxGetErrorByIncidentDateBetween(start, end) {
				let startDate = start.format('YYYY-MM-DD');
				let endDate = end.format('YYYY-MM-DD');
				const url = '/bm/geterrorissue/branch/'+ branchName + '/'+ startDate + '/' + endDate;
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}
			
			
				function createDataTable(data){
				         var table = $('#error-table').DataTable({
				        	 "order" : [ 1, "desc" ],
				        	 destroy: true,
				             "data": data,
				             select:"single",
				             "columns": [
				                 {
				                     "className": 'details-control',
				                     "orderable": false,
				                     "data": null,
				                     "defaultContent": '',
				                     "render": function () {
				                         return '<i class="ace-icon fa fa-angle-double-down fa-2x" title="Show details" aria-hidden="true"></i>';
				                     },
				                     width:"15px"
				                 },
				                 { "data": "incidentValueDate", 
				                   "render" : function(data, type, row, meta) {
										if (data === null) return "";
										var thisDate = moment(new Date(data)).format("YYYY-MM-DD hh:mm a");
										return thisDate
									}
				                 },
				 	                { "data": "branchName",
				 	                	"render": function(data,type,row,meta) { // render event defines the markup of the cell text 
				 	                       var a = '<a href="errorissue/detailpage/' + row["id"]+ '">' + row.branchName +'</a>'; // row object contains the row data
				 	                       return a;}
				 	                 },
				                 { "data": "departmentUnit" },
				                 { "data": "transactionId" },
				                 { "data": "transactionAmount",
				                	 render : function(data, type,
												row) {
											return currency(row.transactionAmount, {useVedic: true, decimal: '.', precision: 2}).format();
										}
				                 },
				                 { "data": "trxnEnteredBy" },
				                 { "data": "trxnApprovedBy" },
				                 { "data": "natureOfError" },
				                 { "data": "errorDetail" },
				                 { "data": "reportedBy" },
				                 { "data": "causeOfError" },
				                 { "data": "stepsToAddressError" },
				                 { "data": "resolutionDetail" },
				                 { "data": "resolutionApprovalGivenBy" },
				                 { "data": "progressStatus"},
				                 { "data": "errorLodgedBy" },
				                 { "data": "errorLodgedModifiedBy" },
				             ], 
				             
				             dom: 'Blfrtip',
				             buttons: [
				            	 {
										"extend": "copy",
										"text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
										"className": "btn btn-white btn-primary btn-bold"
									  },
									  {
										"extend": "csv",
										"text": "<i class='fa fa-file-excel-o bigger-110 blue'></i> <span class='hidden'>Export to CSV</span>",
										"className": "btn btn-white btn-primary btn-bold"
									  },
									  {
										"extend": "excel",
										"text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
										"className": "btn btn-white btn-primary btn-bold",
										"exportOptions": { modifier: { page: 'all'} }
									  },
									  {
										"extend": "pdf",
										"text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
										"className": "btn btn-white btn-primary btn-bold",
										"exportOptions": { modifier: { page: 'all'} }
									  },
									  {
										"extend": "print",
										"text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
										"className": "btn btn-white btn-primary btn-bold",							
										autoPrint: false,
										orientation:'landscape',
										title: 'Error/Issue/Log'
									  }		  
				             ]
				            
				         });
				        
				         // Add event listener for opening and closing details
				         $('#error-table tbody').on('click', 'td.details-control', function () {
				             var tr = $(this).closest('tr');
				             var tdi = tr.find("i.fa");
				             var row = table.row(tr);
			
				             if (row.child.isShown()) {
				                 // This row is already open - close it
				                 row.child.hide();
				                 tr.removeClass('shown');
				                 tdi.first().removeClass('fa fa-angle-double-up fa-2x');
				                 tdi.first().addClass('fa fa-angle-double-down fa-2x');
				             }
				             else {
				                 // Open this row
				                 row.child(format(row.data())).show();
				                 tr.addClass('shown');
				                 tdi.first().removeClass('fa fa-angle-double-down fa-2x');
				                 tdi.first().addClass('fa fa-angle-double-up fa-2x');
				             }
				         });
			
				         table.on("user-select", function (e, dt, type, cell, originalEvent) {
				             if ($(cell.node()).hasClass("details-control")) {
				                 e.preventDefault();
				             }
				         });
				         
				    function format(d){
				         // `d` is the original data object for the row
				         return '<table class="table table-striped table-bordered table-hover">' +
				             '<tr>' +
								 	'<td width="25%"><strong> Incident Date: </strong></td>' +
									'<td>' + moment(new Date(d.incidentValueDate)).format("YYYY-MM-DD") + '</td>' +
				             '</tr>' +
				             '<tr>' +
				                 '<td width="25%"><strong> Branch: </strong></td>' +
				                 '<td>' + d.branchName + '</td>' +
				             '</tr>' +
				             '<tr>' +
					             '<td width="25%"><strong> Department: </strong></td>' +
					             '<td>' + d.departmentUnit + '</td>' +
					         '</tr>' +
					         '<tr>' +
						         '<td width="25%"><strong> Transaction ID: </strong></td>' +
						         '<td>' + d.transactionId + '</td>' +
						     '</tr>' +
						     '<tr>' +
						         '<td width="25%"><strong> Amount: </strong></td>' +
						         '<td>' + currency(d.transactionAmount, {useVedic: true, decimal: '.',symbol: 'Rs. ', formatWithSymbol: true, precision: 2}).format() + '</td>' +
					         '</tr>' +
						     '<tr>' +
						         '<td width="25%"><strong> Transaction Entered By: </strong></td>' +
						         '<td>' + d.trxnEnteredBy + '</td>' +
						     '</tr>' +
						     '<tr>' +
							     '<td width="25%"><strong> Transaction Approved By: </strong></td>' +
							     '<td>' + d.trxnApprovedBy + '</td>' +
							 '</tr>' +
						     '<tr>' +
						     	'<td width="25%"><strong> Nature of Error: </strong></td>' +
						     	'<td>' + d.natureOfError + '</td>' +
							 '</tr>' +	
						     '<tr>' +
						     	'<td width="25%"><strong> Details of Error: </strong></td>' +
						     	'<td>' + d.errorDetail + '</td>' +
							 '</tr>' +	
						     '<tr>' +
						     	'<td width="25%"><strong> Reported By: </strong></td>' +
						     	'<td>' + d.reportedBy + '</td>' +
							 '</tr>' +	
						     '<tr>' +
						     	'<td width="25%"><strong> Cause of Error: </strong></td>' +
						     	'<td>' + d.causeOfError + '</td>' +
							 '</tr>' +	
							 '<tr>' +
							 	'<td width="25%"><strong> Necessary Steps to Address Error: </strong></td>' +
							 	'<td>' + d.stepsToAddressError + '</td>' +
							'</tr>' +	
							'<tr>' +
								'<td width="25%"><strong> Brief Details of Resolutions (How to fix error???): </strong></td>' +
								'<td>' + d.resolutionDetail + '</td>' +
							'</tr>' +	
							'<tr>' +
								'<td width="25%"><strong> Approval Given By (For Resolution): </strong></td>' +
								'<td>' + d.resolutionApprovalGivenBy + '</td>' +
							'</tr>' +	
							'<tr>' +
								'<td width="25%"><strong> Progress Status of Issue: </strong></td>' +
								'<td>' + d.progressStatus + '</td>' +
							'</tr>' +	
							'<tr>' +
								'<td width="25%"><strong> Resolved Date: </strong></td>' +
								'<td>' + moment(new Date(d.resolvedDate)).format("YYYY-MM-DD hh:mm a") + '</td>' +
							'</tr>' +
							'<tr>' +
								'<td width="25%"><strong> Error Lodged By: </strong></td>' +
								'<td>' + d.errorLodgedBy + '</td>' +
							'</tr>' +
							'<tr>' +
								'<td width="25%"><strong> Error Lodged Modified By: </strong></td>' +
								'<td>' + d.errorLodgedModifiedBy + '</td>' +
							'</tr>' +
				        '</table>';  
				    	}
				}
				
		</script>
		
		<script>
			$(function() {
				var start = moment().subtract(29, 'days');
				var end = moment();

				$('#idIncidentDateRange')
						.daterangepicker(
								{
									startDate : start,
									endDate : end,
									opens : 'left',
									autoclose : true,
									todayHighlight : true,
									ranges : {
										'Today' : [ moment(), moment() ],
										'Yesterday' : [
												moment().subtract(1, 'days'),
												moment().subtract(1, 'days') ],
										'Last 7 Days' : [
												moment().subtract(6, 'days'),
												moment() ],
										'Last 30 Days' : [
												moment().subtract(29, 'days'),
												moment() ],
										'This Month' : [
												moment().startOf('month'),
												moment().endOf('month') ],
										'Last Month' : [
												moment().subtract(1, 'month')
														.startOf('month'),
												moment().subtract(1, 'month')
														.endOf('month') ]
									},
									locale : {
										format : 'YYYY-MM-DD'
									}
								},
								function(start, end, label) {
									ajaxGetErrorByIncidentDateBetween(start,
											end);
								});

			});
		</script>

		<script type="text/javascript">
			$('.chosen-select').chosen({
				width : "100%"
			});
		</script>
	</th:block>
</body>
</html>