<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{branchmanager/bm_layout/bm_default}">
<head>
<meta charset="ISO-8859-1" />
<title>MC Record List</title>
<th:block layout:fragment="styles">

	<link rel="stylesheet" href="../static/css/daterangepicker.min.css"
		th:href="@{/css/daterangepicker.min.css}" />
	<style>
a:hover {
	color: maroon;
	text-decoration: none;
	cursor: pointer;
}
</style>
	<style type="text/css">
td.details-control {
	text-align: center;
	color: forestgreen;
	cursor: pointer;
}

tr.shown td.details-control {
	text-align: center;
	color: red;
}
</style>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
				</li>
				<li class="active">Manager's Cheque Record List</li>
			</ul>
			<!-- /.breadcrumb -->
		</div>

		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div th:if="${message}">
						<h2 class="alert alert-danger" th:text="${message}" />
					</div>
					<div th:if="${successMessage}">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<strong th:text="${successMessage}">Success!</strong> <br />
						</div>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="space-4"></div>
					<div class="search-area well well-sm">
						<div class="search-filter-header bg-primary">
							<h5 class="smaller no-margin-bottom">
								<i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp;
								Refine your Search
							</h5>
						</div>
						<div class="space-10"></div>
						<fieldset class="form-inline">
							<div class="col-sm-12">
								<div class="col-sm-2">
									<span type="text" th:text="${branchValue}" class="label label-xlg label-pink arrowed arrowed-right" readonly></span>
								</div>
								<div class="col-sm-3">
									<select class="chosen-select input-group" id="idMCStauts"
										name="mcStatus" data-placeholder="Choose a MC Status...">
										<option value=""></option>
										<option value="Active">Active</option>
										<option value="Paid">Paid</option>
										<option value="Cancel">Cancel</option>
									</select>
								</div>

								<div class="inline pull-right">
									<label for="idDateRange"> Issued Date Range Picker: </label>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-calendar bigger-110"></i></span> <input
											class="form-control" type="text" name="date-range-picker"
											data-date-format="yyyy-mm-dd" id="idIssuedDateRange" />
									</div>
								</div>
							</div>
						</fieldset>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<div class="table-header">Report for Manager's Cheque
								Record</div>
							<table width="100%" id="mc-table"
								class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th class="detail-col"></th>
										<th>Issue Date</th>
										<th class="hidden-480">Issued Branch</th>
										<th class="hidden-480">Cheque Date</th>
										<th>Party's Name</th>
										<th>Amount</th>
										<th data-class='hidden'>Purpose of Payment</th>
										<th data-class='hidden'>System Input By</th>
										<th>System Approved By</th>
										<th class="hidden-480">MC Status</th>
										<th>Paid/Cancel Date</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="scripts">


		<script th:inline="javascript">
			/*<![CDATA[*/
			var branchName = /*[[${branchValue}]]*/'branchValue';
			/*]]>*/
			
			$(document).ready(function() {
				ajaxGetMCList();
			});

			function ajaxGetMCList() {
				const url = '/bm/getmclist/'+ branchName;
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}

			$("#idMCStauts").change(function() {
					ajaxgetMcRecordByBranchStatus();
			});


			function ajaxgetMcRecordByBranchStatus() {
				let mcStatusVal = $('#idMCStauts').val();
				const url = '/bm/getmclist/filter/' + branchName + '/'
						+ mcStatusVal;
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}


			function ajaxGetMcRecordIssuedDateBetween(start, end) {
				let startDate = start.format('YYYY-MM-DD');
				let endDate = end.format('YYYY-MM-DD');
				const url = '/bm/getmclist/'  + branchName + '/' + startDate + '/' + endDate;
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}

			function createDataTable(data) {
				var table = $('#mc-table')
						.DataTable(
								{
									"order" : [ 1, "desc" ],
									destroy : true,
									"data" : data,
									select : "single",

									"columns" : [
											{
												"className" : 'details-control',
												"orderable" : false,
												"data" : null,
												"defaultContent" : '',
												"render" : function() {
													return '<i class="ace-icon fa fa-angle-double-down fa-2x" title="Show details" aria-hidden="true"></i>';
												},
												width : "15px"
											},
											{
												"data" : "issueDate",
												"render" : function(data, type,
														row, meta) {
													if (data === null)
														return "";
													var thisDate = moment(
															new Date(data))
															.format(
																	"YYYY-MM-DD");
													return thisDate
												}
											},
											{
												"data" : "branchName",
												"render" : function(data, type,
														row, meta) { // render
													// event
													// defines
													// the
													// markup
													// of
													// the
													// cell
													// text
													var a = '<a href="/bm/getmc/' + row["id"]
												+ '">'
															+ row.branchName
															+ '</a>'; // row object
													// contains the row
													// data
													return a;
												}
											},
											{
												"data" : "chequeDate",
												"render" : function(data, type,
														row, meta) {
													if (data === null)
														return "";
													var thisDate = moment(
															new Date(data))
															.format(
																	"YYYY-MM-DD");
													return thisDate
												}
											},
											{
												"data" : "partiesName"
											},
											{
												"data" : "amount",
												render : function(data, type,
														row) {
													return currency(row.amount, {useVedic: true, decimal: '.', precision: 2}).format();
												}
											},
											{
												"data" : "purposeOfPayment"
											},
											{
												"data" : "systemInputBy"
											},
											{
												"data" : "systemApprovedBy"
											},
											{
												"data" : "mcStatus"
											},
											{
												"data" : "paidCancelDate",
												"render" : function(data, type,
														row, meta) {
													if (data === null)
														return "";
													var thisDate = moment(
															new Date(data))
															.format(
																	"YYYY-MM-DD");
													return thisDate
												}
											} ],

									dom : 'Blfrtip',
									buttons : [
											{
												"extend" : "copy",
												"text" : "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
												"className" : "btn btn-white btn-primary btn-bold"
											},
											{
												"extend" : "csv",
												"text" : "<i class='fa fa-file-excel-o bigger-110 blue'></i> <span class='hidden'>Export to CSV</span>",
												"className" : "btn btn-white btn-primary btn-bold"
											},
											{
												"extend" : "excel",
												"text" : "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
												"className" : "btn btn-white btn-primary btn-bold",
												"exportOptions" : {
													modifier : {
														page : 'all'
													}
												}
											},
											{
												"extend" : "pdf",
												"text" : "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
												"className" : "btn btn-white btn-primary btn-bold",
												"exportOptions" : {
													modifier : {
														page : 'all'
													}
												}
											},
											{
												"extend" : "print",
												"text" : "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
												"className" : "btn btn-white btn-primary btn-bold",
												autoPrint : true,
												orientation : 'landscape',
												title : "Manager's Cheque Record"
											} ]

								});

				// Add event listener for opening and closing details
				$('#mc-table tbody').on(
						'click',
						'td.details-control',
						function() {
							var tr = $(this).closest('tr');
							var tdi = tr.find("i.fa");
							var row = table.row(tr);

							if (row.child.isShown()) {
								// This row is already open - close it
								row.child.hide();
								tr.removeClass('shown');
								tdi.first().removeClass(
										'fa fa-angle-double-up fa-2x');
								tdi.first().addClass(
										'fa fa-angle-double-down fa-2x');
							} else {
								// Open this row
								row.child(format(row.data())).show();
								tr.addClass('shown');
								tdi.first().removeClass(
										'fa fa-angle-double-down fa-2x');
								tdi.first().addClass(
										'fa fa-angle-double-up fa-2x');
							}
						});

				table.on("user-select", function(e, dt, type, cell,
						originalEvent) {
					if ($(cell.node()).hasClass("details-control")) {
						e.preventDefault();
					}
				});

				function format(d) {
					// `d` is the original data object for the row
					return '<table class="table table-striped table-bordered table-hover">'
							+ '<tr>'
							+ '<td width="25%"><strong> Issue Date: </strong></td>'
							+ '<td>'
							+ moment(new Date(d.issueDate))
									.format("YYYY-MM-DD")
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<td width="25%"><strong> Branch: </strong></td>'
							+ '<td>'
							+ d.branchName
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<td width="25%"><strong> Cheque Date: </strong></td>'
							+ '<td>'
							+ moment(new Date(d.chequeDate)).format(
									"YYYY-MM-DD")
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<td width="25%"><strong> Partys Name: </strong></td>'
							+ '<td>'
							+ d.partiesName
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<td width="25%"><strong> Amount: </strong></td>'
							+ '<td>'
							+ currency(d.amount, {useVedic: true, decimal: '.',symbol: 'Rs. ', formatWithSymbol: true, precision: 2}).format()
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<td width="25%"><strong> Purpose of Payment: </strong></td>'
							+ '<td>'
							+ d.purposeOfPayment
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<td width="25%"><strong> System Input By: </strong></td>'
							+ '<td>'
							+ d.systemInputBy
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<td width="25%"><strong> System Approved By: </strong></td>'
							+ '<td>'
							+ d.systemApprovedBy
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<td width="25%"><strong> Manager Cheque Status: </strong></td>'
							+ '<td>'
							+ d.mcStatus
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<td width="25%"><strong> MC Record Lodged By: </strong></td>'
							+ '<td>'
							+ d.mcLodgedBy
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<td width="25%"><strong> MC Record Modified By: </strong></td>'
							+ '<td>'
							+ d.mcLodgedModifiedBy
							+ '</td>'
							+ '</tr>'
							+ '</table>';
				}
			}
		</script>

		<script>
			$(function() {
				var start = moment().subtract(29, 'days');
				var end = moment();

				$('#idIssuedDateRange')
						.daterangepicker(
								{
									startDate : start,
									endDate : end,
									opens : 'left',
									autoclose : true,
									todayHighlight : true,
									ranges : {
										'Today' : [ moment(), moment() ],
										'Yesterday' : [
												moment().subtract(1, 'days'),
												moment().subtract(1, 'days') ],
										'Last 7 Days' : [
												moment().subtract(6, 'days'),
												moment() ],
										'Last 30 Days' : [
												moment().subtract(29, 'days'),
												moment() ],
										'This Month' : [
												moment().startOf('month'),
												moment().endOf('month') ],
										'Last Month' : [
												moment().subtract(1, 'month')
														.startOf('month'),
												moment().subtract(1, 'month')
														.endOf('month') ]
									},
									locale : {
										format : 'YYYY-MM-DD'
									}
								},
								function(start, end, label) {
									ajaxGetMcRecordIssuedDateBetween(start, end);
								});

			});
		</script>

		<script type="text/javascript">
			$('.chosen-select').chosen({
				width : "100%"
			});
		</script>

	</th:block>
</body>
</html>