<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{branchmanager/bm_layout/bm_default}">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>MC Record Page</title>
<th:block layout:fragment="styles">

</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
				</li>
				<li><a href="#">Manager's Cheque Record List</a></li>
				<li class="active">Update MC's Record Form</li>
			</ul>
			<!-- /.breadcrumb -->
		</div>
		<div class="page-content">
			<div class="page-header">
				<h1>
					<i class="ace-icon fa fa-money"></i> Update Manager's Cheque (MC)
					Record Form
				</h1>
			</div>
			<!-- /.page-header -->
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div th:if="${message}">
						<h2 class="alert alert-danger" th:text="${message}" />
					</div>
					<div th:if="${successMessage}">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<strong th:text="${successMessage}">Success!</strong> <br />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<form th:object="${managerCheque}" method="POST" autocomplete="off"
						th:action="@{/bm/updatemcdata}" class="form-horizontal"
						data-toggle="validator" role="form">
						<input type="hidden" name="id" th:value="${managerChequeValue.id}" />
						<div class="col-sm-6 col-sm-offset-2">
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"
									for="date-timepicker1"> Issue Date: </label>
								<div class="col-sm-8">
									<input id="date-timepicker1" type="text" name="issueDate"
										class="col-xs-10 col-sm-12 date-picker"
										th:value="${{managerChequeValue.issueDate}}"
										data-date-format="yyyy-mm-dd"
										placeholder="Select Cheque Issue date" required /> <span
										class="help-inline col-xs-12 col-sm-7"> </span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"
									for="branchNameType"> Issued Branch: </label>
								<div class="col-sm-8">
								<input name="branchName" id="idBranchName"
											style="text-transform: uppercase;"
											th:value="${managerChequeValue.branchName}"
											type="text"
											class="col-xs-10 col-sm-12" required readonly/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"
									for="date-timepicker2"> Cheque Date: </label>
								<div class="col-sm-8">
									<input id="date-timepicker2" type="text" name="chequeDate"
										class="col-xs-10 col-sm-12 date-picker"
										th:value="${{managerChequeValue.chequeDate}}"
										data-date-format="yyyy-mm-dd" placeholder="Select Cheque date"
										required /> <span class="help-inline col-xs-12 col-sm-7">
									</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"
									for="idPartysName"> Party's Name: </label>
								<div class="col-sm-8">
									<input name="partiesName" id="idPartysName"
										style="text-transform: uppercase;"
										th:value="${{managerChequeValue.partiesName}}"
										onkeyup="this.value = this.value.toUpperCase();"
										placeholder="Enter Party's Name" type="text"
										class="col-xs-10 col-sm-12" required />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"
									for="idAmount"> Amount: </label>
								<div class="col-sm-8">
									<input name="amount" id="idAmount"
										th:value="${{managerChequeValue.amount}}"
										placeholder="Enter Amount" type="number"
										class="col-xs-10 col-sm-12" required />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"
									for="idPurposeOfPayment"> Purpose of Payment: </label>
								<div class="col-sm-8">
									<textarea name="purposeOfPayment" placeholder="Description"
										th:value="${{managerChequeValue.purposeOfPayment}}"
										th:text="${{managerChequeValue.purposeOfPayment}}"
										id="idPurposeOfPayment" class="col-xs-10 col-sm-12" required></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"
									for="idSystemInputBy"> System Input By: </label>
								<div class="col-sm-8">
									<input name="systemInputBy" id="idSystemInputBy"
										th:value="${{managerChequeValue.systemInputBy}}"
										placeholder="System Input By" type="text"
										class="col-xs-10 col-sm-12" required />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"
									for="idSystemApprovedBy"> System Approved By: </label>
								<div class="col-sm-8">
									<input name="systemApprovedBy" id="idSystemApprovedBy"
										th:value="${{managerChequeValue.systemApprovedBy}}"
										placeholder="System Approved By" type="text"
										class="col-xs-10 col-sm-12" required />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"
									for="idMCStauts"> Manager's Cheque Status: </label>
								<div class="col-sm-8">
									<select class="chosen-select col-xs-10 col-sm-12"
										id="idMCStauts" name="mcStatus"
										data-placeholder="Choose a MC Status..." required>
										<option value="Active" selected>Active</option>
										<option value="Paid">Paid</option>
										<option value="Cancel">Cancel</option>
									</select>
								</div>
							</div>
							<div class="form-group" id="idPaidCancelDateOpt">
								<label class="col-sm-4 control-label no-padding-right"
									for="idPaidCancelDate"> Paid/Cancel Date: </label>
								<div class="col-sm-8">
									<input name="paidCancelDate" id="idPaidCancelDate"
										data-date-format="yyyy-mm-dd"
										th:value="${{managerChequeValue.paidCancelDate}}"
										placeholder="Select Paid/Cancel Date" type="text"
										class="col-xs-10 col-sm-12 date-picker">
								</div>
							</div>
						 <div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"
									for="idMcLodgedBy"> MC Record Lodged By: </label>
								<div class="col-sm-8">
									<input name="mcLodgedBy" id="idMcLodgedBy"
										th:value="${managerChequeValue.mcLodgedBy}"
										type="text" readonly
										class="col-xs-10 col-sm-12" required />
								</div>
							</div>
							<div class="clearfix form-actions">
								<button class="width-30 pull-left btn btn-sm" type="reset">
									<i class="ace-icon fa fa-refresh"></i> <span class="bigger-110">Reset</span>
								</button>
								<button type="submit"
									class="width-65 pull-right btn btn-sm btn-success">
									<span class="bigger-110"> Submit </span> <i
										class="ace-icon fa fa-arrow-right icon-on-right"></i>
								</button>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- basic scripts -->
	<th:block layout:fragment="scripts">

		<script th:inline="javascript">
			/*<![CDATA[*/
			var mcStatusVal = /*[[${managerChequeValue.mcStatus}]]*/'mcStatus';
			/*]]>*/
			function setSelectedIndex(s, v) {
				for (var i = 0; i < s.options.length; i++) {
					if (s.options[i].value == v) {
						s.options[i].selected = true;
						break;
					}
				}
				return;
			}
			setSelectedIndex(document.getElementById('idMCStauts'), mcStatusVal);
					branchNameVal);
		</script>


		<script>
			autosize(document.querySelectorAll('textarea'));
		</script>
		<script>
			$(document).ready(function() {
				$('#idPaidCancelDateOpt').hide();
				showResolvedDateBox();
				$("#idMCStauts").change(function() {
					showResolvedDateBox();
				});
			});

			function showResolvedDateBox() {
				let statusValue = $('#idMCStauts').val();
				if (!(statusValue === 'Active')) {
					$('#idPaidCancelDateOpt').show();
					$("[name='paidCancelDate']").attr("required", true);
				} else {
					$('#idPaidCancelDateOpt').hide();
				}
			}
		</script>
		<script>
			$('.date-picker').datepicker({
				autoclose : true,
				todayHighlight : true
			})
			//show datepicker when clicking on the icon
			.next().on(ace.click_event, function() {
				$(this).prev().focus();
			});
		</script>
		<script type="text/javascript">
			$('.chosen-select').chosen();
			$(window).off('resize.chosen').on('resize.chosen', function() {
				$('.chosen-select').each(function() {
					var $this = $(this);
					$this.next().css({
						minWidth : '380px'
					});
				})
			}).trigger('resize.chosen');
		</script>
	</th:block>

</body>
</html>