<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorate="~{branchmanager/bm_layout/bm_default}">
<head>
<meta charset="ISO-8859-1" />
<title>Utility Reports</title>

<th:block layout:fragment="styles">
	<style type="text/css">
td.details-control {
	text-align: center;
	color: forestgreen;
	cursor: pointer;
}
td.highlight { font-weight: bold; color: black; font-size: 14px;}
tr.shown td.details-control {
	text-align: center;
	color: red;
}
</style>
</th:block>

</head>
<body>
	<div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
				</li>
				<li><a href="/bm/getutilitylist">Utility List</a></li>
				<li class="active">Utility Reports</li>
			</ul>
		</div>
		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<div th:if="${message}">
						<h2 class="alert alert-danger" th:text="${message}" />
					</div>
					<div th:if="${successMessage}">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<strong th:text="${successMessage}">Success!</strong> <br />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="col-xs-12 col-sm-7 col-sm-offset-2">
						<div class="search-area well well-sm">
							<div class="search-filter-header bg-primary">
								<h5 class="smaller no-margin-bottom">
									<i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp;
									Refine your search 
								</h5>
							</div>
							<div class="space-10"></div>
							<div class="form-inline">
							
								<div class="input-group col-xs-10 col-sm-5">
									<select class="fiscalYear-dropdown input-large"
										name="fiscalYear" id="idFiscalYearValue" required></select>
									<div class="help-block with-errors"></div>
								</div>
								
								<div class="input-group col-xs-10 col-sm-5">
									<select class="chosen-select form-control" name="month"
										id="monthValue" data-placeholder="Choose a Month..." required>
										<option value=""></option>
										<option value="Shrawan">Shrawan</option>
										<option value="Bhadra">Bhadra</option>
										<option value="Ashoj">Ashoj</option>
										<option value="Kartik">Kartik</option>
										<option value="Mangsir">Mangsir</option>
										<option value="Poush">Poush</option>
										<option value="Magh">Magh</option>
										<option value="Falgun">Falgun</option>
										<option value="Chaitra">Chaitra</option>
										<option value="Baishak">Baishak</option>
										<option value="Jestha">Jestha</option>
										<option value="Asar">Asar</option>
									</select>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div>
						<div class="table-header">Results for Utility Lists</div>
						<table id="dynamic-table" width="100%"
							class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th width="3%"></th>
									<th width="8%">Fiscal Year</th>
									<th width="11%">Branch</th>
									<th width="7%">Month</th>
									<th width="8%">Electricity</th>
									<th width="9%">Fuel (Vehicle- 2 Wheeler)</th>
									<th width="9%">Fuel (Vehicle-4 Wheeler)</th>
									<th width="9%">Fuel (Genset)</th>
									<th width="9%">Telephone</th>
									<th width="9%">Maintenance</th>
									<th width="8%">Others Expenses</th>
									<th class="center info" width="10%"><strong>Total (Rs.)</strong></th>
								</tr>
							</thead>
						</table>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div>
				<!-- /.col -->
			</div>
		</div>
	</div>
	<!-- /.main-content -->
	<th:block layout:fragment="scripts">
			
		<script th:inline="javascript">
			/*<![CDATA[*/
			var branchName = /*[[${branchValue}]]*/'branchValue';
			/*]]>*/
			
			$(document).ready(function() {
				ajaxGetUtility();
			});

			function ajaxGetUtility() {
				const url = '/bm/getutilitylist/' + branchName;
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}

			$("#idFiscalYearValue").change(function() {
				if (!$('#monthValue').val()) {
					ajaxgetUtilityByBranchNameAndFiscal();
				} else {
					ajaxgetUtilityByBranchFiscalMonth();
				}

			});
			
			$("#monthValue").change(function() {
				if (!$('#idFiscalYearValue').val()) {
					ajaxgetUtilityByBranchNameAndMonth();
				} else {
					ajaxgetUtilityByBranchFiscalMonth();
				}
			});

			function ajaxgetUtilityByBranchNameAndFiscal() {
				let fiscalYearVal = $('#idFiscalYearValue').val();
				const url = '/bm/getutility/fy/' + branchName + '/' + fiscalYearVal;
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}

			function ajaxgetUtilityByBranchNameAndMonth() {
				let monthValue = $('#monthValue').val();
				const url = '/bm/getutility/month/' + branchName + '/'	+ monthValue;
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}

			function ajaxgetUtilityByBranchFiscalMonth(){
				let fiscalYearValue = $('#idFiscalYearValue').val();
				let monthVal = $('#monthValue').val();
				const url = '/bm/getutility/branch/' + branchName + '/'	+ monthVal +'/'+fiscalYearValue;
				$.getJSON(url, function(data) {
					createDataTable(data);
				});
			}

			function createDataTable(data) {
				var table = $('#dynamic-table')
						.DataTable(
								{
									"createdRow" : function(row, data, index) {
										$('td', row).eq(11).addClass('highlight');
								},
									"order" : [ 1, "desc" ],
									destroy : true,
									"data" : data,
									select : "single",
									"columns" : [

											{
												"className" : 'details-control',
												"orderable" : false,
												"data" : null,
												"defaultContent" : '',
												"render" : function() {
													return '<i class="ace-icon fa fa-angle-double-down fa-2x" title="Show details" aria-hidden="true"></i>';
												},
												width : "15px"
											},
											{
												"data" : "fiscalYear"
											},
											{
												"data" : "branchName",
												"render" : function(data, type,
														row, meta) { // render event defines the markup of the cell text 
													var a = '<a href="utility/detail/' + row["id"]+ '"> '
															+ row.branchName
															+ '</a>'; // row object contains the row data
													return a;
												}
											},
											{
												"data" : "month"
											},
											{
												"data" : "electricityExpenseAmount",
												render : function(data, type,
														row) {
													return currency(row.electricityExpenseAmount, {useVedic: true, decimal: '.', precision: 2}).format();
												}
											},
											{
												"data" : "fuelExpensesTwoWheelAmount",
												render : function(data, type,
														row) {
													return currency(row.fuelExpensesTwoWheelAmount, {useVedic: true, decimal: '.', precision: 2}).format();
												}
											},
											{
												"data" : "fuelExpensesFourWheelAmount",
												render : function(data, type,
														row) {
													return currency(row.fuelExpensesFourWheelAmount, {useVedic: true, decimal: '.', precision: 2}).format();
												}
											},
											{
												"data" : "fuelGensetAmount",
												render : function(data, type,
														row) {
													return currency(row.fuelGensetAmount, {useVedic: true, decimal: '.', precision: 2}).format();
												}
											},
											{
												"data" : "telephoneExpenseAmount",
												render : function(data, type,
														row) {
													return currency(row.telephoneExpenseAmount, {useVedic: true, decimal: '.', precision: 2}).format();
												}
											},
											{
												"data" : "maintenanceExpenseAmount",
												render : function(data, type,
														row) {
													return currency(row.maintenanceExpenseAmount, {useVedic: true, decimal: '.', precision: 2}).format();
												}
											},
											{
												"data" : "othersExpensesAmount",
												render : function(data, type,
														row) {
													return currency(row.othersExpensesAmount, {useVedic: true, decimal: '.', precision: 2}).format();
												}
											},
											{
												"data" : "totalExpense",
												"render" : function(data, type,
														row, meta) {
													return currency(row.totalExpense, {useVedic: true, decimal: '.', precision: 2}).format();
												}
											},

									],
									dom : 'Blfrtip',
									buttons : [
											{
												"extend" : "copy",
												"text" : "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
												"className" : "btn btn-white btn-primary btn-bold"
											},
											{
												"extend" : "csv",
												"text" : "<i class='fa fa-file-excel-o bigger-110 blue'></i> <span class='hidden'>Export to CSV</span>",
												"className" : "btn btn-white btn-primary btn-bold"
											},
											{
												"extend" : "excel",
												"text" : "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
												"className" : "btn btn-white btn-primary btn-bold",
												"exportOptions" : {
													modifier : {
														page : 'all'
													}
												}
											},
											{
												"extend" : "pdf",
												"text" : "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
												"className" : "btn btn-white btn-primary btn-bold",
												"exportOptions" : {
													modifier : {
														page : 'all'
													}
												}
											},
											{
												"extend" : "print",
												"text" : "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
												"className" : "btn btn-white btn-primary btn-bold",
												autoPrint : true,
												orientation : 'landscape',
												title : "Customer's Locker Details"
											} ]

								});

				// Add event listener for opening and closing details
				$('#dynamic-table tbody').on(
						'click',
						'td.details-control',
						function() {
							var tr = $(this).closest('tr');
							var tdi = tr.find("i.fa");
							var row = table.row(tr);

							if (row.child.isShown()) {
								// This row is already open - close it
								row.child.hide();
								tr.removeClass('shown');
								tdi.first().removeClass(
										'fa fa-angle-double-up fa-2x');
								tdi.first().addClass(
										'fa fa-angle-double-down fa-2x');
							} else {
								// Open this row
								row.child(format(row.data())).show();
								tr.addClass('shown');
								tdi.first().removeClass(
										'fa fa-angle-double-down fa-2x');
								tdi.first().addClass(
										'fa fa-angle-double-up fa-2x');
							}
						});

				table.on("user-select", function(e, dt, type, cell,
						originalEvent) {
					if ($(cell.node()).hasClass("details-control")) {
						e.preventDefault();
					}
				});

				function format(d) {
					// `d` is the original data object for the row
					return '<table class="table table-striped table-bordered table-hover">'
					+ '<tr>' + '<th width="25%" class="center green">'
					+ d.branchName
					+ '&nbsp;('
					+ d.fiscalYear
					+ ')'
					+ '&nbsp;'
					+ d.month
					+ '</th>'
					+ '<th width="20%" class="center">Amount (Rs.)</th>'
					+ '<th width="55%" class="center">Remarks</th>'

					+ '</tr>'
							+ '<tr>'
							+ '<td ><strong>Electricity Expenses : </strong></td>'
							+ '<td>'
							+ currency(d.electricityExpenseAmount, {useVedic: true, decimal: '.',symbol: 'Rs. ', formatWithSymbol: true, precision: 2}).format()
							+ '</td>'
							+ '<td>'
							+ d.electricityExpenseRemarks
							+ '</td>'
							+ '</tr>'
							
							+ '<tr>'
							+ '<td ><strong>Fuel Expenses (Vehicle- 2 Wheeler) : </strong></td>'
							+ '<td>'
							+ currency(d.fuelExpensesTwoWheelAmount, {useVedic: true, decimal: '.',symbol: 'Rs. ', formatWithSymbol: true, precision: 2}).format()
							+ '</td>'
							+ '<td>'
							+ d.fuelExpensesTwoWheelRemarks
							+ '</td>'
							+ '</tr>'
							
							+ '<tr>'
							+ '<td ><strong>Fuel Expenses (Vehicle-4 Wheeler) : </strong></td>'
							+ '<td>'
							+ currency(d.fuelExpensesFourWheelAmount, {useVedic: true, decimal: '.',symbol: 'Rs. ', formatWithSymbol: true, precision: 2}).format()
							+ '</td>'
							+ '<td>'
							+ d.fuelExpensesFourWheelRemarks
							+ '</td>'
							+ '</tr>'
							
							+ '<tr>'
							+ '<td ><strong>Fuel Expenses (Genset) : </strong></td>'
							+ '<td>'
							+ currency(d.fuelGensetAmount, {useVedic: true, decimal: '.',symbol: 'Rs. ', formatWithSymbol: true, precision: 2}).format()
							+ '</td>'
							+ '<td>'
							+ d.fuelGensetRemarks
							+ '</td>'
							+ '</tr>'
							
							+ '<tr>'
							+ '<td ><strong>Telephone Expenses : </strong></td>'
							+ '<td>'
							+ currency(d.telephoneExpenseAmount, {useVedic: true, decimal: '.',symbol: 'Rs. ', formatWithSymbol: true, precision: 2}).format()
							+ '</td>'
							+ '<td>'
							+ d.telephoneExpenseRemarks
							+ '</td>'
							+ '</tr>'
							
							+ '<tr>'
							+ '<td ><strong>Maintenance Expenses : </strong></td>'
							+ '<td>'
							+ currency(d.maintenanceExpenseAmount, {useVedic: true, decimal: '.',symbol: 'Rs. ', formatWithSymbol: true, precision: 2}).format()
							+ '</td>'
							+ '<td>'
							+ d.maintenanceExpenseRemarks
							+ '</td>'
							+ '</tr>'
							
							+ '<tr>'
							+ '<td ><strong>Others Expenses : </strong></td>'
							+ '<td>'
							+ currency(d.othersExpensesAmount, {useVedic: true, decimal: '.',symbol: 'Rs. ', formatWithSymbol: true, precision: 2}).format()
							+ '</td>'
							+ '<td>'
							+ d.othersExpensesRemarks
							+ '</td>'
							+ '</tr>'
							
							+ '<tr>'
							+ '<td><h5><strong> Total Expenses: </strong></h5></td>'
							+ '<td><h5><strong>'
							+  currency(d.totalExpense, {useVedic: true, decimal: '.',symbol: 'Rs. ', formatWithSymbol: true, precision: 2 }).format()
							+ '</strong></h5></td>' + '<td></td></tr>' + '</table>';
				}
			}
		</script>



		<script type="text/javascript">
			$('.chosen-select').chosen({
				width : "100%"
			});
		</script>

	</th:block>
</body>
</html>