<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{layouts/default}">
<head>
<meta charset="ISO-8859-1" />
<title>Dashboard</title>
</head>

<body>
<div layout:fragment="content">
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div th:if="${message}">
					<h2 class="alert alert-danger" th:text="${message}" />
				</div>
				<div th:if="${successMessage}">
					<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">
							<i class="ace-icon fa fa-times"></i>
						</button>
						<strong th:text="${successMessage}">Success!</strong> <br />
					</div>
				</div>
				<!-- PAGE CONTENT ENDS -->
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="col-sm-5 well">
					<div id="feedbackContainer"></div>
				</div>
				<div class="col-sm-7 well">
					<div id="accReportContainer"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<th:block layout:fragment="scripts">
	<script src="../static/js/dashboardcharts.js" th:src="@{/js/dashboardcharts.js/}"></script>	
</th:block>
</body>
</html>