<div id="navbar" class="navbar navbar-default ace-save-state" xmlns:th="http://wwww.thymeleaf.org" th:fragment="header">
	<div class="navbar-container ace-save-state" id="navbar-container">
		<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
			<span class="sr-only">Toggle sidebar</span>

			<span class="icon-bar"></span>

			<span class="icon-bar"></span>

			<span class="icon-bar"></span>
		</button>

		<div class="navbar-header pull-left">
			<a href="/" class="navbar-brand">
				<img th:src="@{/images/funOlympic_logo.png}" alt="FunOLympic 2024" height="43" />

			</a>
		</div>

		<div class="navbar-buttons navbar-header pull-right" role="navigation">
			<ul class="nav ace-nav">


				<li class="light-blue dropdown-modal">
					<a data-toggle="dropdown" class="dropdown-toggle">
						<span class="user-info">
							<small>Welcome,</small>
							[[${#httpServletRequest.remoteUser}]]
						</span>

						<i class="ace-icon fa fa-caret-down"></i>
					</a>

					<ul
						class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
						<li
							sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR', 'SUPERVISOR', 'MAKER', 'VIEWER','HOD', 'FEEDBACK', 'MINUTES', 'LOCKER', 'CAD','GAD')">
							<a th:href="@{/getuserprofile}">
								<i class="ace-icon fa fa-user"></i>
								Profile
							</a>
						</li>

						<li
							sec:authorize="hasAnyAuthority('ADMIN','HIGHSUPERVISOR', 'SUPERVISOR', 'MAKER', 'VIEWER','HOD', 'FEEDBACK', 'MINUTES', 'LOCKER', 'CAD','GAD')">
							<a th:href="@{/changePassword}">
								<i class="ace-icon fa fa-cog"></i>
								Change Password
							</a>
						</li>

						<li class="divider"></li>

						<li>

							<a href="javascript: document.logoutForm.submit()" role="menuitem">
								<i class="ace-icon fa fa-power-off"></i>
								Logout
							</a>

							<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
								<input hidden type="submit" value="Sign Out" />
							</form>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<nav role="navigation" class="navbar-menu pull-left collapse navbar-collapse" sec:authorize="hasAuthority('VIEWER')">
			<ul class="nav navbar-nav">
				<li>
					<a th:href="@{/getselectedsports}">
						<i class="ace-icon fa fa-check-square-o"></i>
						Add/Manage Games Lists
						<span class="badge badge-warning">5</span>
					</a>
				</li>
			</ul>

			<form class="navbar-form navbar-left form-search" role="search">
				<div class="form-group">
					<input type="text" placeholder="search" />
				</div>

				<button type="button" class="btn btn-mini btn-info2">
					<i class="ace-icon fa fa-search icon-only bigger-110"></i>
				</button>
			</form>
		</nav>
	</div><!-- /.navbar-container -->
</div>