<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>Update Scheme Page</title>

<th:block layout:fragment="styles">
</th:block>
</head>
<body>
	<div>
		<div class="main-container">
			<div class="main-content">
				<div class="page-content" layout:fragment="content">
					<div class="page-header">
						<h1>
							<i class="ace-icon fa fa-object-group"></i> Update Insurance Company Scheme details
						</h1>
					</div>
					<!-- /.page-header -->
					<div class="row">
						<div th:if="${message}">
							<h2 class="alert alert-danger" th:text="${message}" />
						</div>
						<div class="space-12"></div>
						<form th:action="@{/updateinscompanyscheme}" action="/updateinscompanyscheme"
							class="form-horizontal" data-toggle="validator" role="form"
							th:object="${updateinscompanyscheme}" method="POST" modelAttribute="insuranceScheme">
							<input type="hidden" name="id" th:value="${insuranceSchemeValue.id}"/>
							<div class="col-sm-5 col-sm-offset-3">
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Insurance Company Name </div>
										<div class="profile-info-value form-group">
											<input class="form-control" name="insCompanyName"
												th:value="${insuranceSchemeValue.insCompanyName}"
												data-error="Please enter Insurance Company Code field." style="text-transform: uppercase; color: DarkGoldenrod;" 
                                                 onkeyup="this.value = this.value.toUpperCase();"
												id="insCode" placeholder="Insurance Company Name" type="text"
												readonly required />
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Insurance Company Code </div>
										<div class="profile-info-value form-group">
											<input class="form-control" name="insCompanyCode"
												th:value="${insuranceSchemeValue.insCompanyCode}" style="color: DarkGoldenrod;"
												data-error="Please enter Insurance Company Code field." id="insCompanyCode"
												placeholder="Insurance Company Code" type="text" readonly required />
												<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Scheme Code </div>
										<div class="profile-info-value form-group">
											<input class="form-control" name="insSchemaCode"
												th:value="${insuranceSchemeValue.insSchemaCode}"
												data-error="Please enter Insurance Scheme Code field." id="insSchemaCode"
												placeholder="Insurance Scheme Code" type="text" required />
												<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Scheme Name </div>
										<div class="profile-info-value form-group">
											<input class="form-control" name="insSchemaName"
												th:value="${insuranceSchemeValue.insSchemaName}"
												data-error="Please enter Insurance Scheme Name field." id="insSchemaName"
												placeholder="Insurance Scheme Name" type="text" required />
												<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Scheme Tenure (Years) </div>
										<div class="profile-info-value form-group">
											<input class="form-control" name="insSchemaTenure"
												th:value="${insuranceSchemeValue.insSchemaTenure}"
												data-error="Please enter Insurance Scheme Tenure (Years) field." id="insSchemaTenure"
												placeholder="Scheme Tenure (Years)" type="text" required />
												<div class="help-block with-errors"></div>
										</div>
									</div>																		
									<div class="profile-info-row">
										<div class="profile-info-name"> Scheme Type </div>
										<div class="profile-info-value form-group">
                                            <select class="chosen-select form-control" id="schemaType" name="schemaType" required>
                                               	<option value="Life">Life</option>
                                                <option value="Non Life">Non Life</option>
                                                <option value="Life & Non Life">Life & Non Life</option>
                                            </select>
												<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name">Remarks</div>
										<div class="profile-info-value form-group">
											<input type="text" class="form-control"
												th:value="${insuranceSchemeValue.remark}" id="inputRemark" name ="remark"
												placeholder="Remark">
												<div class="help-block with-errors"></div>
										</div>
									</div>

								</div>
							</div>
							<div class="clearfix form-actions col-xs-offset-4 col-xs-3">
								<a class="btn btn-sm btn-danger" th:href="@{/branchdetail}">
									Cancel </a>
								<button type="submit"
									class="width-65 pull-right btn btn-sm btn-success">
									<span class="bigger-110"> Update </span> <i
										class="ace-icon fa fa-arrow-right icon-on-right"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<th:block layout:fragment="scripts">
	<script th:inline="javascript">
		/*<![CDATA[*/
		var schemeType = /*[[${insuranceSchemeValue.schemaType}]]*/ 'CompanyType';
		/*]]>*/
		function setSelectedIndex(s, v) {
		    for ( var i = 0; i < s.options.length; i++ ) {
		        if ( s.options[i].value == v ) {
		            s.options[i].selected = true;
		            break;
		        }
		    }
		    return;
		}
		setSelectedIndex(document.getElementById('schemaType'),schemeType);
	</script>

</th:block>

</html>