<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>Update Customer Register Page</title>
<th:block layout:fragment="styles">
	  
</th:block>
</head>
<body>
	<div>
		<div class="main-container">
			<div class="main-content">
				<div class="page-content" layout:fragment="content">
					<div class="page-header">
						<h1>
							<i class="ace-icon fa fa-users blue"></i>Update Registered Insurance Customer
						</h1>
					</div>
					<!-- /.page-header -->
					<div class="row">
						<div th:if="${message}">
							<h2 class="alert alert-danger" th:text="${message}"></h2>
						</div>
						<div class="position-relative">
							<div class="signup-box visible widget-box no-border">
								<div class="widget-body">
									<div class="widget-main">
										<form method="POST" role="form" autocomplete="off"
											th:action="@{/updateinscustnext}" data-toggle="validator"
											th:object="${insuranceCustomerRegister}">
											<div class="col-sm-4">
											<input type="hidden" name="id" th:value="${insRegisteredCustomerValue.id}"/>
												<fieldset>
													<div class="form-group">
														<label class="block clearfix" for="inputCode">Client
															Code</label> <span class="block input-icon input-icon-right">
															<input class="form-control"
															data-error="Please enter code field." id="inputCode"
															name="clientCode"
															th:value="${insCustListById.clientCode}" readonly
															required type="number" /> <i class="ace-icon fa fa-user"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="nameAcc">Bank
															AcoountNumber</label> <span
															class="block input-icon input-icon-right"> <input
															class="form-control"
															data-error="Please Account Number field."
															th:value="${insCustListById.bankAccNo}" readonly
															id="nameAcc" placeholder="Bank Acoount Number" required
															type="number" /> <i class="ace-icon fa fa-user"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="inputCName">Client
															Name</label> <span class="block input-icon input-icon-right">
															<input class="form-control"
															data-error="Please enter name field."
															th:value="${insCustListById.clientName}" readonly
															id="inputCName" placeholder="Client Name" required
															type="text" /> <i class="ace-icon fa fa-user"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="inputEmail">Email</label>
														<span class="block input-icon input-icon-right"> <input
															class="form-control" id="inputEmail" placeholder="Email"
															th:value="${insCustListById.clientEmail}" readonly
															required type="email" /> <i
															class="ace-icon fa fa-envelope"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="tel">Telephone
															Number</label> <span class="block input-icon input-icon-right">
															<input class="form-control"
															data-error="Please enter valid telephone number field."
															th:value="${insCustListById.clientMobile}" readonly
															id="tel" placeholder="Telephone Number" type="tel" /> <i
															class="ace-icon fa fa-user"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="inputCitz">Citizenship/ID
															Number</label> <span class="block input-icon input-icon-right">
															<input class="form-control" id="inputCitz"
															placeholder="Citizenship or ID Number"
															th:value="${insCustListById.citizenIdNo}" readonly
															required type="text"> <i
															class="ace-icon fa fa-retweet"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="inputFatherName">Father's
															Name</label> <span class="block input-icon input-icon-right">
															<input class="form-control"
															data-error="Please enter father name field."
															th:value="${insCustListById.fatherName}" readonly
															id="inputFatherName" placeholder="Father's Name" required
															type="text" /> <i class="ace-icon fa fa-user"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>
												</fieldset>

											</div>

											<div class="col-sm-4">
												<fieldset>
													<div class="form-group">
														<label class="block clearfix" for="idInsCompanyName">Insurance
															Company Name <span  th:text="${insRegisteredCustomerValue.insCompanyName}" class="label label-info"></span></label> 
															<select class="form-control" id="idInsComName" name="insCompanyName" required>
															<option th:each="enumStatus : ${insuranceCompanyList}"
                           										 th:value="${enumStatus.insCompanyName}"
                          										 th:text="${enumStatus.insCompanyName}">Status</option> 
															</select>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="idInsSchemeName">Schema Name 
														<span  th:text="${insRegisteredCustomerValue.insSchemaName}" class="label label-info"></span></label> 
 														<select class="form-control" id="idInsSchemeName" name="insSchemaName" required>															
														</select>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<div id="idInsCompanySchemeOld"></div>
													</div>
													<div class="form-group">
														<div id="idInsCompanyCode"></div>
													</div>
													<div class="form-group">
														<div id="idSchemeCode"></div>
													</div>
													<div class="form-group">
														<div id="idSchemaTenure"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="inputMasterPolicyId">Master
															Policy ID</label> <span class="block input-icon input-icon-right">
															<input class="form-control" th:value="${insRegisteredCustomerValue.masterPolicyId}"
															data-error="Please enter Master Policy ID field."
															id="inputMasterPolicyId" name="masterPolicyId"
															pattern="[a-zA-Z]*" style="text-transform: uppercase;" 
                                                 			onkeyup="this.value = this.value.toUpperCase();"
															placeholder="Enter Master Policy ID" required type="text" /> 
														</span>
														<div class="help-block with-errors"></div>
													</div>


													<div class="form-group">
														<label class="block clearfix" for="inputFatherName">Start Date</label> 
														<div class="input-group">
															<input class="date-picker form-control" id="id-date-picker-1" 
															th:value="${{insRegisteredCustomerValue.insStartedDate}}" name="insStartedDate" type="text" data-date-format="yyyy-mm-dd" required/> 
															<span class="input-group-addon">
																		<i class="fa fa-calendar bigger-110"></i>
																	</span>
														</div>
														<div class="help-block with-errors"></div>
													</div>

													<div class="form-group">
														<label class="block clearfix" for="grandFName">End Date</label> 
														<div class="input-group">
															<input class="date-picker form-control" th:value="${{insRegisteredCustomerValue.insEndDate}}"
															id="date-timepicker2" name="insEndDate" data-date-format="yyyy-mm-dd"
															 required type="text" />
															<span class="input-group-addon">
																<i class="fa fa-calendar bigger-110"></i>
															</span>
														</div>
														<div class="help-block with-errors"></div>
													</div>


												</fieldset>
											</div>
											<div class="col-sm-4">
												<fieldset>
													<div class="form-group">
														<label class="block clearfix" for="inputstatus">Insurance Status</label> 
														<select class="form-control" id="inputstatus"
															name="insStatus" required>
															<option selected value="">Please Select
																Insurance Status Type...</option>
															<option value="Open">Open</option>
															<option value="Closed">Closed</option>
														</select>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="idInsuredAmt">Insured
															Amount</label> <span class="block input-icon input-icon-right">
															<input class="form-control" th:value="${insRegisteredCustomerValue.insuredAmount}"
															data-error="Please enter valid mobile number field."
															id="idInsuredAmt" name="insuredAmount"
															placeholder="Enter Insured Amount" required type="number" /> <i
															class="ace-icon fa fa-money"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="idInstallment">Installment
															Amount</label> <span class="block input-icon input-icon-right">
															<input class="form-control" th:value="${insRegisteredCustomerValue.insInstallmentAmount}"
															data-error="Please enter valid Installment Amount field."
															id="idInstallment" name="insInstallmentAmount"
															placeholder="Enter Installment Amount" type="number" /> <i
															class="ace-icon fa fa-money"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>

													<div class="form-group">
														<label class="block clearfix" for="idPaymentFreq">Payment
															Frequency</label> <select class=" form-control" id="idPaymentFreq"
															name="insPaymentFrequency" required>
															<option selected value="">Please Select	Insurance Company Type...</option>
															<option value="Monthly">Monthly</option>
															<option value="Quarterly">Quarterly</option>
															<option value="Half_Yearly">Half Yearly</option>
															<option value="Yearly">Yearly</option>
														</select>
														<div class="help-block with-errors"></div>
													</div>
													
													<div class="form-group">
														<label class="block clearfix" for="idBranchName">Branch
															Name</label> 
															<select class="form-control" id="idBranchName" name="bankBranchName" data-placeholder="Choose Branch..." required>
															<option value=""></option>
															<option th:each="branches : ${branchList}"
																th:value="${branches.branchName}"
																th:text="${branches.branchName}"></option>
														</select>
														<div class="help-block with-errors"></div>
													</div>

													<div class="form-group">
														<label class="block clearfix" for="idMarketedBy">Marketed
															By</label> <span class="block input-icon input-icon-right">
															<input class="form-control" th:value="${insRegisteredCustomerValue.insMarketedBy}"
															data-error="Marketed By"
															id="idMarketedBy" name="insMarketedBy"
															placeholder="Marketed By" required type="text">
														</span>
														<div class="help-block with-errors"></div>
													</div>


													<div class="form-group">
														<label class="block clearfix" for="idRemark">Remarks</label>
														<span class="block input-icon input-icon-right"> <input
															class="form-control" th:value="${insRegisteredCustomerValue.remarks}"
															data-error="Please enter remarks field." id="idRemark"
															name="remarks" placeholder="Remarks" type="text" /> 
														</span>
														<div class="help-block with-errors"></div>
													</div>

													<div class="space-10"></div>

													<div class="clearfix">
														<button class="width-30 pull-left btn btn-sm" type="reset">
															<i class="ace-icon fa fa-refresh"></i> <span
																class="bigger-110">Reset</span>
														</button>

														<button class="width-65 pull-right btn btn-sm btn-success"
															type="submit">
															<span class="bigger-110">Submit</span> <i
																class="ace-icon fa fa-arrow-right icon-on-right"></i>
														</button>
													</div>
												</fieldset>
											</div>
										</form>
									</div>


								</div>
								<!-- /.widget-body -->
							</div>
							<!-- /.signup-box -->
						</div>
						<!-- /.position-relative -->
					</div>
					<!-- /.widget-body -->
				</div>
				<!-- /.signup-box -->




			</div>
			<!-- /.main-content -->
		</div>
		<!-- /.main-container -->
	</div>
	<!-- basic scripts -->
	<th:block layout:fragment="scripts">
	
 <script src="../static/js/moment.min.js" th:src="@{/js/moment.min.js/}"></script>
 <script src="../static/js/bootstrap-datepicker.min.js" th:src="@{/js/bootstrap-datepicker.min.js/}"></script>
 <script src="../static/js/autosize.min.js" th:src="@{/js/autosize.min.js/}"></script>
 <script src="../static/js/getBranch.js" th:src="@{/js/getBranch.js/}"></script>
 <script src="../static/js/chosen.jquery.min.js" th:src="@{/js/chosen.jquery.min.js/}"></script>
		<script>
			autosize(document.querySelectorAll('textarea'));
		</script>
		<script>
			if (!ace.vars['touch']) {
				$('.chosen-select').chosen({
					allow_single_deselect : true
				});
				//resize the chosen on window resize
				$(window)
				.off('resize.chosen')
				.on('resize.chosen', function() {
						$('.chosen-select').each(function() {
							 var $this = $(this);
							 $this.next().css({minWidth: '320px', width: 'auto'});
						})
					}).trigger('resize.chosen');
				//resize chosen on sidebar collapse/expand
				$(document).on('settings.ace.chosen',
						function(e, event_name, event_val) {
							if (event_name != 'sidebar_collapsed')
								return;
							$('.chosen-select').each(function() {
								var $this = $(this);
								$this.next().css({
									'width' : $this.parent().width()
								});
							})
						});		 
			}
		</script>
		<script>

		$('.date-picker').datepicker({
			autoclose: true,
			todayHighlight: true
		})
		//show datepicker when clicking on the icon
		.next().on(ace.click_event, function(){
			$(this).prev().focus();
		});
		</script>
		<script th:inline="javascript">
		$( document ).ready(function() {
			/*<![CDATA[*/
			var schemeNameOld = /*[[${insRegisteredCustomerValue.insSchemaName}]]*/ 'InsuranceSchemeCode';
			/*]]>*/
			ajaxGetInsCompanyScheme();
			ajaxGetOldInsSchemeCode(schemeNameOld);
			$("#idInsComName").change(function() {
				let test = $('#idInsSchemeName');
				test.empty();
				ajaxGetInsCompanyScheme();
		    });
			$("#idInsSchemeName").change(function() {
				ajaxGetInsSchemeCode();
		    });
		});	
		
		function ajaxGetOldInsSchemeCode(schemeNameOld){
			let schemeName = schemeNameOld;
			let insSchemeCode = $('#idSchemeCode');
			let insSchemeTenure = $('#idSchemaTenure');
			let insCompanyCode = $('#idInsCompanyCode');
			let insCompanySchemeOld = $('#idInsCompanySchemeOld');
			insSchemeCode.empty();
			insSchemeTenure.empty();
			insCompanyCode.empty();
			insCompanySchemeOld.empty();
			const url = '/getbyschemename/'+schemeName;
			$.getJSON(url, function (data) {
				insSchemeCode.empty();
				insSchemeTenure.empty();
				insCompanyCode.empty();
				insCompanySchemeOld.empty();
				insSchemeCode.append($("<input class='hidden' name='insSchemaCode'>").attr('value', data.insSchemaCode).text(data.insSchemaCode));
				insSchemeCode.append("<div class='dd-handle'>Insurance Scheme Code: <span class='orange'>" + data.insSchemaCode+"</span></div>");
				insSchemeTenure.append($("<input class='hidden' name='insSchemaTenure'>").attr('value', data.insSchemaTenure).text(data.insSchemaTenure));
				insSchemeTenure.append("<div class='dd-handle'>SchemaTenure (Years): <span class='orange'>" + data.insSchemaTenure+"</span></div>");
				insCompanyCode.append($("<input class='hidden' name='insCompanyCode'>").attr('value', data.insCompanyCode).text(data.insCompanyCode));
				insCompanyCode.append("<div class='dd-handle'>Insurance Company Code: <span class='orange'>" + data.insCompanyCode+"</span></div>");
				insCompanySchemeOld.append($("<input class='hidden' name='insSchemaName'>").attr('value', data.insSchemaName).text(data.insSchemaName));
				insCompanySchemeOld.append("<div class='dd-handle'>Insurance Company Scheme: <span class='orange'>" + data.insSchemaName+"</span></div>");
				});
		}
		
		function ajaxGetInsCompanyScheme(){		
			let insCompany = $('#idInsComName').val();
			let insSchemeName = $('#idInsSchemeName');
			insSchemeName.empty();
			$('#idInsCompanyCode').empty();
			$('#idSchemeCode').empty();
			$('#idSchemaTenure').empty();
			$('#idInsCompanySchemeOld').empty();
			insSchemeName.append('<option selected="true" class="red" disabled>Please Choose Insurance Scheme ...</option>');
			insSchemeName.prop('selectedIndex', 0);
			const url = '/getinsurancescheme/'+insCompany;
			$.getJSON(url, function (data) {
				
				$.each(data, function (key, entry) {			  
					insSchemeName.append($('<option></option>').attr('value', entry.insSchemaName).text(entry.insSchemaName));
				  })
				  insSchemeName.chosen();
				  insSchemeName.trigger('chosen:updated');
				});			
		}
		function ajaxGetInsSchemeCode(){		
			let schemeName = $('#idInsSchemeName').val();
			let insSchemeCode = $('#idSchemeCode');
			let insSchemeTenure = $('#idSchemaTenure');
			let insCompanyCode = $('#idInsCompanyCode');
			let insCompanySchemeOld = $('#idInsCompanySchemeOld');
			insSchemeCode.empty();
			insSchemeTenure.empty();
			insCompanyCode.empty();
			insCompanySchemeOld.empty();
			const url = '/getbyschemename/'+schemeName;
			$.getJSON(url, function (data) {
				insSchemeCode.empty();
				insSchemeTenure.empty();
				insCompanyCode.empty();
				insCompanySchemeOld.empty();
				insSchemeCode.append($("<input class='hidden' name='insSchemaCode'>").attr('value', data.insSchemaCode).text(data.insSchemaCode));
				insSchemeCode.append("<div class='dd-handle'>Insurance Scheme Code: <span class='orange'>" + data.insSchemaCode+"</span></div>");
				insSchemeTenure.append($("<input class='hidden' name='insSchemaTenure'>").attr('value', data.insSchemaTenure).text(data.insSchemaTenure));
				insSchemeTenure.append("<div class='dd-handle'>SchemaTenure (Years): <span class='orange'>" + data.insSchemaTenure+"</span></div>");
				insCompanyCode.append($("<input class='hidden' name='insCompanyCode'>").attr('value', data.insCompanyCode).text(data.insCompanyCode));
				insCompanyCode.append("<div class='dd-handle'>Insurance Company Code: <span class='orange'>" + data.insCompanyCode+"</span></div>");
				insCompanySchemeOld.append("<div class='dd-handle'>Insurance Company Scheme: <span class='orange'>" + data.insSchemaName+"</span></div>");
				});
		}
		</script>
		
	<script th:inline="javascript">
		/*<![CDATA[*/
		var companyType = /*[[${insRegisteredCustomerValue.insCompanyName}]]*/ 'InsuranceCompanyName';
		var insuranceStatus = /*[[${insRegisteredCustomerValue.insStatus}]]*/ 'InsuranceStatus';
		var insurancePayFreq = /*[[${insRegisteredCustomerValue.insPaymentFrequency}]]*/ 'InsuranceStatus';
		var branchName = /*[[${insRegisteredCustomerValue.bankBranchName}]]*/ 'BranchName';
		/*]]>*/
		function setSelectedIndex(s, v) {
		    for ( var i = 0; i < s.options.length; i++ ) {
		        if ( s.options[i].value == v ) {
		            s.options[i].selected = true;
		            break;
		        }
		    }
		    return;
		}
		setSelectedIndex(document.getElementById('idInsComName'),companyType);
		setSelectedIndex(document.getElementById('inputstatus'),insuranceStatus);
		setSelectedIndex(document.getElementById('idPaymentFreq'),insurancePayFreq);
		setSelectedIndex(document.getElementById('idBranchName'),branchName);
	</script>
	
	</th:block>

</body>
</html>
